<div class="filter-box">
  <div class="form-group" *ngIf="statusFilter">
    <label for="byArchive" class="control-label" style="margin: 0 5px;">
      {{ 'Form.FilterByStatus' | translate }}
    </label>

    <kendo-dropdownlist
      [data]="statusFilters"
      class="mx-1 status-kombo"
      [textField]="'key'"
      [valueField]="'value'"
      [valuePrimitive]="true"
      [value]="selectedStatusFilter"
      (valueChange)="onChangeFilterByStatusDropDown($event)"
      [(ngModel)]="selectedStatusFilter"
    >
      <ng-template kendoDropDownListValueTemplate let-dataItem>
        {{ dataItem?.key | translate }}
      </ng-template>
      <ng-template kendoDropDownListItemTemplate let-dataItem>
        {{ dataItem?.key | translate }}
      </ng-template>
    </kendo-dropdownlist>
  </div>
</div>
