<div class="filter-box">
  <div class="" *ngIf="statusFilter">
    <kendo-dropdownlist
      [data]="statusFilters"
      class="mx-1 status-kombo"
      [textField]="'key'"
      [valueField]="'value'"
      [valuePrimitive]="true"
      [value]="selectedStatusFilter"
      (valueChange)="onChangeFilterByStatusDropDown($event)"
      [(ngModel)]="selectedStatusFilter"
    >
      <ng-template kendoDropDownListValueTemplate let-dataItem>
        {{ dataItem?.key | translate }}
      </ng-template>
      <ng-template kendoDropDownListItemTemplate let-dataItem>
        {{ dataItem?.key | translate }}
      </ng-template>
    </kendo-dropdownlist>
  </div>
</div>
