<kendo-dialog *ngIf="active" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              (close)="closeForm()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        {{ 'ViewRowPermission.SelectEntity' | translate }}
    </kendo-dialog-titlebar>

    <div *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>

    <div class="row" id="main-section">
        <div class="col-xs-12" [ngClass]="{'pull-right':this.currentlang === 'fa'}">
            <div class="section-header">
                <span class="control-label"> {{ 'ViewRowPermission.Entities' | translate }}</span>
                <input type="text" class="k-textbox" [(ngModel)]="searchValue" (keydown.enter)="onKeyChange()" />
                <button class="k-button k-primary btn-search"
                        (click)="onSearch()">
                    <span class="k-i-filter k-icon"></span>
                </button>
            </div>
            <div class="section-body">
                <div [ngClass]="{'k-rtl':this.currentlang === 'fa'}">
                    <kendo-treeview [nodes]="singleFormData"
                                    [textField]="['value']"
                                    kendoTreeViewExpandable
                                    [kendoTreeViewCheckable]="{ mode: 'single'}"
                                    [checkBy]="checkByKey"
                                    [(checkedKeys)]="singleFormCheckedKey">
                    </kendo-treeview>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <kendo-dialog-actions>
        <button class="k-button k-primary" [disabled]="singleFormCheckedKey == 0" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
        <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
    </kendo-dialog-actions>
</kendo-dialog>