<div class="ui-rtl" dir="rtl"  >
    <div class="containerBtn">
        <div class="ui-md-12 ui-sm-12">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="حساب جدید"></button>
        </div>
    </div>
    <div class="ContentSideSections Implementation divContainer ui-md-12 ui-sm-6" >
        <p-dataTable [style]="{'margin-top':'20px'}" [value]="rowData" [rows]="10" [lazy]="true" [paginator]="true" [editable]="true"
                     resizableColumns="true" [totalRecords]="totalRecords" [responsive]="true"
                     (onLazyLoad)="loadAccountLazy($event)" (onEditComplete)="onEditComplete()" columnResizeMode="expand" [rowsPerPageOptions]="[5,10,20]">
            <header>لیست حساب ها</header>            
            <p-column field="code" [filter]="true" class="ui-md-6" [editable]="true" header="کد حساب"  [sortable]="true"></p-column>
            <p-column field="name" [filter]="true" [editable]="true" header="نام حساب"  [style]="{'width':'25%'}" [sortable]="true"></p-column>
            <p-column field="fiscalPeriodId" [filter]="true" header="دوره مالی" [style]="{'text-align':'center'}"  [sortable]="true"></p-column>
            <p-column field="branchId" [filter]="true" header="شعبه" [style]="{'text-align':'center'}" [sortable]="true"></p-column>
            <p-column field="description" [editable]="false" header="توضیحات" [sortable]="false"></p-column>
            <p-column header="" [style]="{'text-align':'center'}">
                <ng-template let-col let-account="rowData" pTemplate type="body">
                    <button type="button" pButton icon="fa-check" (click)="showDialogToEdit(account)" label="ویرایش"></button>
                </ng-template>
            </p-column>
            <p-column header="" [style]="{'text-align':'center'}">
                <ng-template let-col let-account="rowData" pTemplate type="body">
                    <button type="button" pButton icon="fa-close" (click)="showDialogToDelete(account)" label="حذف"></button>
                </ng-template>
            </p-column>
            <ng-template pTemplate="emptymessage">
                 {{showloadingMessage  ? 'در حال بارگذاری ...' : 'هیچ رکوردی یافت نشد!'}}
            </ng-template>
            <footer><div class="ui-helper-clearfix" style="width:100%"></div></footer>
        </p-dataTable>

        <p-dialog header="{{!newAccount ? 'ویرایش حساب' : 'حساب جدید'}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
            <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="code">کد</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="code" [(ngModel)]="account.code" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="name">نام</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="account.name" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="fiscalPeriodId">دوره مالی</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="fiscalPeriodId" [(ngModel)]="account.fiscalPeriodId" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="branchId">شعبه</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="branchId" [(ngModel)]="account.branchId" /></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="description">توضیحات</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="account.description" /></div>
                </div>
            </div>
            <footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">                    
                    <button type="button" pButton icon="fa-check" (click)="save()" *ngIf="newAccount" label="تایید"></button>
                    <button type="button" pButton icon="fa-check" (click)="save()" *ngIf="!newAccount" label="ویرایش"></button>
                    <button type="button" pButton icon="fa-close" (click)="cancel()" label="انصراف"></button>
                </div>
            </footer>
        </p-dialog>
        <p-dialog header="حذف حساب" [(visible)]="displayDeleteDialog" modal="modal" showEffect="fade">
            <p>
                آیا برای حدف <strong>{{ fullname }}</strong> اطمینان دارید؟
            </p>
            <footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="deleteAccount(false)" label="خیر"></button>
                    <button type="button" pButton icon="fa-check" (click)="deleteAccount(true)" label="بله"></button>
                </div>
            </footer>
        </p-dialog>

    </div>

</div>
