<div [ngClass]="rtlClass" class="ui-g tform" [dir]="rtlUse">
    <div class="panel panel-primary">
        <div class="panel-heading">لیست حساب</div>
        <div class="panel-body"><div class="content-section implementation ui-g-12 ui-md-12">
    <p-dataTable  [value]="rowData" [loading]="firstLoading" [rows]="10" [lazy]="true" [paginator]="true" [editable]="true"
                 resizableColumns="true" [responsive]="true" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]"
                 (onLazyLoad)="loadAccountLazy($event)" (onEditComplete)="onEditComplete($event)" columnResizeMode="expand">


        <p-column field="code" [filter]="true" [editable]="true" [style]="{'width':'10%'}" header="{{ 'Account.Code' | translate }}" [sortable]="true"></p-column>
        <p-column field="name" [filter]="true" [editable]="true" [style]="{'width':'20%'}" header="{{ 'Account.Name' | translate }}" [sortable]="true"></p-column>
        <p-column field="fiscalPeriodId" [filter]="true" [style]="{'width':'10%','text-align':'center'}" header="{{ 'Account.Fiscal' | translate }}" [sortable]="true"></p-column>
        <p-column field="branchId" [filter]="true" [style]="{'width':'10%'}" header="{{ 'Account.Branch' | translate }}" [sortable]="true"></p-column>
        <p-column field="description" [editable]="false" [style]="{'width':'10%'}" header="{{ 'Account.Description' | translate }}" [sortable]="false"></p-column>
        <p-column header="" styleClass="templateColumn">
            <ng-template let-col let-account="rowData" pTemplate type="body">
                <button type="button" pButton icon="fa fa-edit" (click)="showDialogToEdit(account)"></button>
            </ng-template>
        </p-column>
        <p-column header="" styleClass="templateColumn">
            <ng-template pTemplate="header">
                <select #langSelect (change)="languageChange(langSelect.value)">
                    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                </select>
            </ng-template>
            <ng-template let-col let-account="rowData" pTemplate type="body">
                <button type="button" pButton icon="fa fa-close" (click)="showDialogToDelete(account)"></button>
            </ng-template>
        </p-column>
        <ng-template pTemplate="emptymessage">
            {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
        </ng-template>
        <p-footer styleClass="footer">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="{{ 'Buttons.New' | translate }}"></button>
        </p-footer>

    </p-dataTable>

    <p-dialog header=" {{ !newAccount ? ('Buttons.Edit' | translate) : ('Buttons.New' | translate)}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="code">{{ 'Account.Code' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="code" [(ngModel)]="account.code" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">{{ 'Account.Name' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="account.name" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fiscalPeriodId">{{ 'Account.Fiscal' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="fiscalPeriodId" [(ngModel)]="account.fiscalPeriodId" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="branchId">{{ 'Account.Branch' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="branchId" [(ngModel)]="account.branchId" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="description">{{ 'Account.Description' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="account.description" /></div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="save()" *ngIf="newAccount" label="{{ 'Buttons.Ok' | translate }}"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" *ngIf="!newAccount" label="{{ 'Buttons.Edit' | translate }}"></button>
                <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{ 'Buttons.Cancel' | translate }}"></button>
            </div>
        </footer>
    </p-dialog>
    <p-dialog header="{{'Account.Delete' | translate}}" [(visible)]="displayDeleteDialog" modal="modal" showEffect="fade">
        <p>
            {{ deleteConfirm }}
        </p>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="deleteAccount(false)" label="{{ 'Buttons.No' | translate }}"></button>
                <button type="button" pButton icon="fa-check" (click)="deleteAccount(true)" label="{{ 'Buttons.Yes' | translate }}"></button>
            </div>
        </footer>
    </p-dialog>

</div></div>        
    </div>
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">حساب ها</div>
        <div class="panel-body"><div class="content-section implementation ui-g-12 ui-md-12">
    <p-dataTable  [value]="rowData" [rows]="10" [lazy]="true" [paginator]="true" [editable]="true"
                 resizableColumns="true" [responsive]="true" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]"
                 (onLazyLoad)="loadAccountLazy($event)" (onEditComplete)="onEditComplete($event)" columnResizeMode="expand" expandableRows="true">
        <p-column expander="true" [style]="{'width':'2%'}" [dir]="rtlUse" styleClass=""></p-column>
        <p-column field="code" [filter]="true" [editable]="true" [style]="{'width':'10%'}" header="{{ 'Account.Code' | translate }}" [sortable]="true"></p-column>
        <p-column field="name" [filter]="true" [editable]="true" [style]="{'width':'30%'}" header="{{ 'Account.Name' | translate }}" [sortable]="true"></p-column>
        <ng-template let-row pTemplate="rowexpansion">
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 ui-g-6 labelTemplate">{{ 'Account.Fiscal' | translate }} : </div>
                                <div class="ui-grid-col-10 ui-g-6 valueTemplate">{{row.fiscalPeriodId}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-12">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2 ui-g-6  labelTemplate">{{ 'Account.Branch' | translate }} : </div>
                                <div class="ui-grid-col-10 ui-g-6  valueTemplate">{{row.branchId}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2  ui-g-4 labelTemplate">{{ 'Account.Description' | translate }} : </div>
                                <div class="ui-grid-col-10 ui-g-8 valueTemplate">{{row.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <p-column header="" styleClass="templateColumn">
            <ng-template let-col let-account="rowData" pTemplate type="body">
                <button type="button" pButton icon="fa fa-edit" (click)="showDialogToEdit(account)"></button>
            </ng-template>
        </p-column>
        <p-column header="" styleClass="templateColumn">
            <ng-template pTemplate="header">
                <select #langSelect (change)="languageChange(langSelect.value)">
                    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                </select>
            </ng-template>
            <ng-template let-col let-account="rowData" pTemplate type="body">
                <button type="button" pButton icon="fa fa-close" (click)="showDialogToDelete(account)"></button>
            </ng-template>
        </p-column>
        <ng-template pTemplate="emptymessage">
            {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
        </ng-template>
        <p-footer styleClass="footer">
            <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="{{ 'Buttons.New' | translate }}"></button>
        </p-footer>

    </p-dataTable>

    <p-dialog header=" {{ !newAccount ? ('Buttons.Edit' | translate) : ('Buttons.New' | translate)}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="code">{{ 'Account.Code' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="code" [(ngModel)]="account.code" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="name">{{ 'Account.Name' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="account.name" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="fiscalPeriodId">{{ 'Account.Fiscal' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="fiscalPeriodId" [(ngModel)]="account.fiscalPeriodId" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="branchId">{{ 'Account.Branch' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="branchId" [(ngModel)]="account.branchId" /></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4"><label for="description">{{ 'Account.Description' | translate }}</label></div>
                <div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="account.description" /></div>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="save()" *ngIf="newAccount" label="{{ 'Buttons.Ok' | translate }}"></button>
                <button type="button" pButton icon="fa-check" (click)="save()" *ngIf="!newAccount" label="{{ 'Buttons.Edit' | translate }}"></button>
                <button type="button" pButton icon="fa-close" (click)="cancel()" label="{{ 'Buttons.Cancel' | translate }}"></button>
            </div>
        </footer>
    </p-dialog>
    <p-dialog header="{{'Account.Delete' | translate}}" [(visible)]="displayDeleteDialog" modal="modal" showEffect="fade">
        <p>
            {{ deleteConfirm }}
        </p>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="deleteAccount(false)" label="{{ 'Buttons.No' | translate }}"></button>
                <button type="button" pButton icon="fa-check" (click)="deleteAccount(true)" label="{{ 'Buttons.Yes' | translate }}"></button>
            </div>
        </footer>
    </p-dialog>

</div></div>
    
    </div>
</div>
