

<div *ngIf="errorMessage != ''">
  <div class="alert alert-danger">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {{ errorMessage }}
  </div>
</div>


<div style="position: relative; padding-bottom: 50px; min-height: 555px;">
  <div>
    <div class="col-xs-12 col-sm-6 sppc-float">
      <div class="form-group">
        <label class="control-label">{{ 'Currency.Name' | translate }}</label>

        <kendo-dropdownlist [data]="currencyNameData" class="ddl-currency"
                            [textField]="'value'"
                            [valueField]="'key'"
                            [valuePrimitive]="true"
                            [filterable]="true"
                            [value]="selectedCurrencyName"
                            [(ngModel)]="selectedCurrencyName"
                            (valueChange)="onChangeCurrency($event)"
                            (filterChange)="handleFilter($event)"
                            [disabled]="isExistArticle">
        </kendo-dropdownlist>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 sppc-float">
      <div class="form-group">
        <label class="control-label">{{ 'Currency.DecimalCount' | translate }}</label>

        <input type="text" class="k-textbox" [(ngModel)]="decimalCount" readonly />
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 sppc-float">
      <div class="form-group">
        <label class="control-label">تقویم پیش فرض</label>

        <kendo-dropdownlist [data]="calendarList" class="ddl-currency"
                            [textField]="'value'"
                            [valueField]="'key'"
                            [valuePrimitive]="true"
                            [value]="selectedCalendar"
                            [(ngModel)]="selectedCalendar">
          <ng-template kendoDropDownListValueTemplate let-dataItem>
            {{ dataItem?.value | translate }}
          </ng-template>
          <ng-template kendoDropDownListItemTemplate let-dataItem>
            {{ dataItem?.value | translate }}
          </ng-template>
        </kendo-dropdownlist>

      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group">
        <input type="checkbox" name="committed" id="committed" class="k-checkbox" [(ngModel)]="useDefaultCoding" [disabled]="isExistAccount" />
        <label class="k-checkbox-label" for="committed">{{ 'Settings.DefaultCoding' | translate }}</label>
      </div>
    </div>

  </div>


  <div>
    <view-tree-config [reloadComponent]="isRefreshTreeView" (viewTreeValue)="onChangeViewTreeValue($event)"></view-tree-config>
  </div>

  <div style="position: absolute; bottom: 5px; right:0; left:0">
    <button class="k-button k-primary" [ngClass]="{'pull-left': currentlang == 'fa', 'pull-right' : currentlang == 'en' }"
            SppcPermissionCheck="ManageSettings"
            (sppcClick)="saveSystemConfig()">
      {{ 'ViewTreeConfig.Save' | translate }}
    </button>
  </div>
</div>
