<div class="tab-widget form-group">
  <label for="tabName" class="control-label">{{
    "Dashboard.TabName" | translate
  }}</label>
  <input
    sppcAutoFocus
    type="text"
    class="k-textbox tab-name-input"
    name="tabName"
    [(ngModel)]="tabName"
  />
</div>
<kendo-dialog-actions>
  <button
    class="k-button k-primary"
    [disabled]="!tabName"
    (click)="onSave($event)"
  >
    {{ "Buttons.Ok" | translate }}
  </button>
  <button class="k-button" (click)="onCancel($event)">
    {{ "Buttons.Cancel" | translate }}
  </button>
</kendo-dialog-actions>
