<div style="position: relative; padding-bottom: 50px; min-height: 555px;">
  <div
    class="settings-form col-md-10"
    [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}"
  >
    <form novalidate [formGroup]="editForm1">
      <div formGroupName="registerFlowConfig">
        <div class="form-group">
          <label for="AutoConfirmAfterSave" class="control-label">
            <input type="checkbox" formControlName="confirmAfterSave" />
            {{ 'Settings.PayReceipt.AutoConfirmAfterSave' | translate }}
          </label>
        </div>
        
        <div class="form-group">
          <label for="approveAfterConfirm" class="control-label">
            <input type="checkbox" formControlName="approveAfterConfirm" />
            {{ 'Settings.PayReceipt.AutoApproveAfterConfirm' | translate }}
          </label>
        </div>
  
        <div class="form-group">
          <label for="registerAfterApprove" class="control-label">
            <input type="checkbox" formControlName="registerAfterApprove" />
            {{ 'Settings.PayReceipt.AutoRegisterAfterApprove' | translate }}
          </label>
        </div>
      </div>

      <div formGroupName="registerConfig">
        <div class="form-group">
          <label for="registerWithLastValidVoucher" class="control-label">
            <input
              type="checkbox"
              (change)="setValidValues('registerWithLastValidVoucher')"
              formControlName="registerWithLastValidVoucher"
            />
            {{ 'Settings.PayReceipt.RegisterWithLastOpenVoucher' | translate }}
          </label>
        </div>
  
        <div class="form-group">
          <label for="registerWithNewCreatedVoucher" class="control-label">
            <input
              type="checkbox"
              (change)="setValidValues('registerWithNewCreatedVoucher')"
              formControlName="registerWithNewCreatedVoucher"
            />
            {{ 'Settings.PayReceipt.RegisterByCreatingNewVoucher' | translate }}
          </label>
        </div>
  
        <div class="form-group">
          <label
            for="checkedVoucher"
            class="control-label"
          >
            <input
              type="checkbox"
              formControlName="checkedVoucher"
            />
            {{ 'Settings.PayReceipt.AutoRegisterVoucherRelatedToRegistration' |
            translate }}
          </label>
        </div>
      </div>
    </form>
  </div>
  <div
    id="btn-section"
    class="btn-setting"
    [ngClass]="{'btn-setting-rtl': CurrentLanguage == 'fa', 'btn-setting-ltr' : CurrentLanguage == 'en' }"
  >
    <button
      class="k-button k-primary"
      [EntityName]="entityType"
      SppcPermissionCheck="SaveSettings"
      (sppcClick)="onDefaultSettings()"
    >
      {{ 'Settings.DefaultBtn' | translate }}
    </button>

    <button
      class="k-button k-primary"
      [ngClass]="{'pull-left': CurrentLanguage == 'fa', 'pull-right' : CurrentLanguage == 'en' }"
      SppcPermissionCheck="SaveSettings"
      (sppcClick)="saveConfig()"
    >
      {{ 'ViewTreeConfig.Save' | translate }}
    </button>
  </div>
</div>
