<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="SourceDb" connectionString="Server=(localdb)\ProjectsV13;Database=VILAPAKHSH;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="TargetDb" connectionString="Server=(localdb)\MSSQLLocalDB;Database=NGVilapakhsh;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <add key="FPId" value="3"/>
    <add key="ControllerFolder" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\Controllers"/>
  </appSettings>
</configuration>