<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="SourceDb" connectionString="Server=(localdb)\ProjectsV13;Database=VILAPAKHSH;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="TargetDb" connectionString="Server=(localdb)\MSSQLLocalDB;Database=NGVilapakhsh;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <add key="FPId" value="3"/>
    <add key="ControllerFolder" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\Controllers"/>
    <add key="ApiFolder" value="..\..\src\Framework\SPPC.Tadbir.Interfaces\Api"/>
    <add key="TsAppPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\app" />
    <add key="TsApiPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\app\service\api" />
    <add key="JsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\assets\i18n" />
    <add key="CsViewModelAssemblies" value="SPPC.Tadbir.ViewModel" />
    <add key="CsInterfacesAssembly" value="SPPC.Tadbir.Interfaces" />
    <add key="CsApiNamespace" value="SPPC.Tadbir.Api" />
    <add key="CsSecurityNamespace" value="SPPC.Tadbir.Security" />
    <add key="CsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\Resources\Types" />
    <add key="CsOutputPath" value="..\..\bin\Debug\netstandard2.0\netstandard2.0" />
    <add key="CsModelPath" value="..\..\src\Framework\SPPC.Tadbir.Model" />
    <add key="CsViewModelPath" value="..\..\src\Framework\SPPC.Tadbir.ViewModel" />
    <add key="CsPersistPath" value="..\..\src\Framework\SPPC.Tadbir.Persistence" />
    <add key="XmlRepoPath" value="..\..\res\Framework.xml" />
    <add key="CodeGenPath" value="..\..\res\_codegen_" />
    <add key="RepoInterfacePath" value="..\..\src\Framework\SPPC.Tadbir.Interfaces\Persistence"/>
  </appSettings>
</configuration>