<app-bread-cumb></app-bread-cumb> 
<div class="panel-body">

  
  <div *ngIf="errorMessages">
    <div *ngFor="let err of errorMessages" class="alert alert-danger">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{ err }}
    </div>
  </div>
  <div *ngIf="!viewAccess">
    {{ 'App.NotViewAccess' | translate }}
  </div>
  <div *ngIf="viewAccess">
    <div class="row relation-form" id="main-section">
      <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
        <div class="section-header">
          <span class="control-label">{{ 'AccountRelations.MainComponent' | translate }}</span>

          <kendo-dropdownlist [data]="mainComponent" [valuePrimitive]="true"
                              [textField]="'value'" [(ngModel)]="selectedMainComponentValue" [value]="mainComponentDropdownSelected" [valueField]="'key'" [defaultItem]="{ value: 'AccountRelations.Select' | translate , key: 0}"
                              (valueChange)="handleMainComponentDropDownChange($event)">
            <ng-template kendoDropDownListValueTemplate let-dataItem>
              {{ dataItem.value | translate }}
            </ng-template>
            <ng-template kendoDropDownListItemTemplate let-dataItem>
              {{ dataItem.value | translate }}
            </ng-template>
          </kendo-dropdownlist>

          <input type="text" class="k-textbox MainComponentSearchbox" [disabled]="!isEnableMainComponentSearchBtn" [(ngModel)]="searchValue" (keydown.enter)="onMainComponentSearch()" />

          <button class="k-button k-primary btn-search"
                  [disabled]="!isEnableMainComponentSearchBtn"
                  (click)="onMainComponentSearch()">
            <span class="k-i-filter k-icon"></span>
          </button>

          <button class="k-button btn-search"
                  [hidden]="!searchValue"
                  (click)="removeMainComponentFilter()">
            <span class="k-icon k-i-filter-clear"></span>
          </button>

        </div>
        <div class="section-body">

          <div *ngIf="noResultMessage">
            <div class="alert alert-danger">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ 'AccountRelations.NotFound' | translate }}
            </div>
          </div>

          <div [ngClass]="{'k-rtl':this.CurrentLanguage === 'fa'}">
            <kendo-treeview [nodes]="mainComponentCategories"
                            [textField]="['name']"
                            kendoTreeViewExpandable
                            [kendoTreeViewCheckable]="{ mode: 'single', checkChildren: false , checkParents: fasle }"
                            [checkBy]="checkById"
                            [hasChildren]="hasChildren"
                            [children]="fetchMainComponentChildren"
                            (checkedChange)="handleMainComponentChecking($event)"
                            [(checkedKeys)]="mainComponentCheckedKeys"
                            [(expandedKeys)]="mainComponentExpandedKeys">
              <ng-template kendoTreeViewNodeTemplate let-dataItem>
                {{dataItem.name}} - ({{dataItem.fullCode}})
              </ng-template>
            </kendo-treeview>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="section-header">
          <span class="control-label">{{ 'AccountRelations.RelatedComponent' | translate }}</span>

          <kendo-dropdownlist [data]="relatedComponent" [valuePrimitive]="true"
                              [textField]="'value'" [(ngModel)]="selectedRelatedComponentValue" [value]="relatedComponentDropdownSelected" [valueField]="'key'" [defaultItem]="{ value: 'AccountRelations.Select' | translate, key: 0}"
                              [disabled]="isDisableRelatedComponnet" (valueChange)="handleRelatedComponentDropDownChange($event)">
            <ng-template kendoDropDownListValueTemplate let-dataItem>
              {{ dataItem.value | translate }}
            </ng-template>
            <ng-template kendoDropDownListItemTemplate let-dataItem>
              {{ dataItem.value | translate }}
            </ng-template>
          </kendo-dropdownlist>

          <input type="text" class="k-textbox RelatedComponentSearchbox" [disabled]="!isEnableRelatedComponentSearchBtn" [(ngModel)]="relatedSearchValue" (keydown.enter)="onRelatedComponentSearch()" />

          <button class="k-button k-primary btn-search"
                  [disabled]="!isEnableRelatedComponentSearchBtn"
                  (click)="onRelatedComponentSearch()">
            <span class="k-i-filter k-icon"></span>
          </button>

          <button class="k-button btn-search"
                  [hidden]="!relatedSearchValue"
                  (click)="removeRelatedComponentFilter()">
            <span class="k-icon k-i-filter-clear"></span>
          </button>

        </div>
        <div class="section-body">
          <div [ngClass]="{'k-rtl':this.currentlang === 'fa'}">

            <div *ngIf="noRelatedResultMessage">
              <div class="alert alert-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ 'AccountRelations.NoRelateion' | translate }}
              </div>
            </div>

            <kendo-treeview [nodes]="relatedComponentCategories"
                            [textField]="['name']"
                            kendoTreeViewFlatDataBinding
                            [kendoTreeViewCheckable]="{ mode: 'multiple', checkChildren: true , checkParents: true }"
                            [checkBy]="checkById"
                            idField="id"
                            parentIdField="parentId"
                            [(checkedKeys)]="relatedComponentCheckedKeys"
                            [hasChildren]="hasChildren"
                            [children]="fetchRelatedComponentChildren"
                            (checkedChange)="handleRelatedComponentChecking($event)"
                            [(expandedKeys)]="relatedComponentExpandedKeys">
              <ng-template kendoTreeViewNodeTemplate let-dataItem>
                {{ dataItem.id == -1? (dataItem.name | translate): dataItem.name+' - '+(dataItem.fullCode) }}
              </ng-template>
            </kendo-treeview>
            <!--(childrenLoaded)="childrenLoadedHandler($event)"-->

          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="btn-section" [ngClass]="{'pull-left':this.CurrentLanguage === 'fa','pull-right':this.CurrentLanguage === 'en'}">
      <!-- mainComponentSelectedItem == 0 || -->
      <button class="k-button k-primary" SppcPermissionCheck="SaveRelationships" (sppcClick)="onCreateRelation()" [disabled]="relatedComponentDropdownSelected == 0">{{ 'AccountRelations.CreateRelationBtn' | translate }}</button>
      <button class="k-button" SppcPermissionCheck="SaveRelationships" (sppcClick)="DeleteRelation()" [disabled]="deleteKey.length == 0">{{ 'AccountRelations.DeleteRelationBtn' | translate }}</button>
      <button class="k-button" (click)="onCancel()">{{ 'Buttons.Cancel' | translate }}</button>
    </div>
  </div>

  <accountRelations-form-component [active]="isActive" [errorMessages]="errorMessages"
                                   [model]="mainComponentModel"
                                   [mainComponent]="mainComponentDropdownSelected"
                                   [relatedComponent]="relatedComponentDropdownSelected"
                                   (save)="saveHandler($event)"
                                   (cancel)="cancelHandler()">
  </accountRelations-form-component>

</div>





