<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Tadbir" providerName="System.Data.SqlClient" connectionString="Data Source=DB-SERVER;Initial Catalog=TadbirDemo;User ID=sa;Password=Liberty@1447xYz;Integrated Security=False;" />
  </connectionStrings>
  <appSettings>
    <add key="MappingSource" value="SPPC.Framework.NHibernate" />
    <add key="Connection" value="Tadbir" />
  </appSettings>
</configuration>