<kendo-dialog *ngIf="active" id="log-detail" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ 'OperationLog.DialogTitle' | translate }}
    </kendo-dialog-titlebar>


    <div class="row">
        <div class="col-xs-12 col-sm-6" [ngClass]="{'pull-right':this.currentlang === 'fa'}">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.UserName' | translate }}:</label>

                <span class="k-text-justify">{{logDetail.userName}}</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.CompanyName' | translate }}:</label>

                <span class="k-text-justify">{{logDetail.companyName}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6" [ngClass]="{'pull-right':this.currentlang === 'fa'}">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.Date' | translate }}:</label>

                <span class="k-text-justify">{{ logDetail.date | SppcDate }}</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.Time' | translate }}:</label>

                <span class="k-text-justify">{{ logDetail.time | slice:0:8 }}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6" [ngClass]="{'pull-right':this.currentlang === 'fa'}">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.Entity' | translate }}:</label>

                <span class="k-text-justify">{{logDetail.entity}}</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.Action' | translate }}:</label>

                <span class="k-text-justify">{{logDetail.action}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6" [ngClass]="{'pull-right':this.currentlang === 'fa'}">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.BeforeState' | translate }}:</label>

                <span class="k-text-justify" [outerHTML]="logDetail.beforeState ? (logDetail.beforeState | SppcReplaceLineBreaks) : '---'"></span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.AfterState' | translate }}:</label>

                <span class="k-text-justify" [outerHTML]="logDetail.afterState ? (logDetail.afterState | SppcReplaceLineBreaks) : '---'"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6" [ngClass]="{'pull-right':this.currentlang === 'fa'}">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.Result' | translate }}:</label>
                <span class="k-text-justify">{{ logDetail.result }}</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label">{{ 'OperationLog.ErrorMessage' | translate }}:</label>

                <span class="k-text-justify">{{logDetail.ErrorMessage ? logDetail.errorMessage : '---'}}</span>
            </div>
        </div>
    </div>

</kendo-dialog>
