<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InstanceName" value=".\TESTV14"/>
    <add key ="WebRoot" value ="C:\inetpub\wwwroot"/>
    <add key ="FtpHost" value ="b107213.parspack.org"/>
    <add key ="FtpUser" value ="b107213"/>
    <add key ="FtpPassword" value ="Z0iOHQy7Z077tW"/>
    <add key ="DbRemoteUri" value="/domains/b107213.parspack.org/b_eslamieh/db"/>
    <add key ="SiteRemoteUri" value="/domains/b107213.parspack.org/b_eslamieh/site"/>
  </appSettings>
</configuration>