<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InstanceName" value=".\TESTV14"/>
    <add key ="WebRoot" value ="C:\inetpub\wwwroot"/>
    <add key ="FtpHost" value ="b114358.parspack.org"/>
    <add key ="FtpUser" value ="b114358"/>
    <add key ="FtpPassword" value ="PPwCxazCxor0eY"/>
    <add key ="DbRemoteUri" value="/domains/b114358.parspack.org/public_html/b_eslamieh/tadbirng/db"/>
    <add key ="SiteRemoteUri" value="/domains/b114358.parspack.org/public_html/b_eslamieh/tadbirng/site"/>
  </appSettings>
</configuration>