<kendo-dialog *ngIf="active" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en','new-dialog':isNew , 'edit-dialog':!isNew}"
              (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ isNew ?  ('Transaction.New' | translate) :  ('Buttons.Edit' | translate) }}
    </kendo-dialog-titlebar>
    <div *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>
    <form novalidate [formGroup]="editForm">
        <div class="clearfix edit-form-body">
            <div class="form-group" [ngClass]="{'col-xs-12 col-sm-4':!isNew,'pull-right':this.currentlang === 'fa' && !isNew}">
                <label for="date" class="control-label">{{ 'Transaction.Date' | translate }}</label>

                <sppc-datepicker formControlName="date"></sppc-datepicker>

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.date.valid || editForm.controls.date.pristine">
                    {{ 'Validations.Date' | translate }}
                </div>
            </div>

            <div class="form-group" [ngClass]="{'col-xs-12 col-sm-4':!isNew,'pull-right':this.currentlang === 'fa' && !isNew}">
                <label for="no" class="control-label">{{ 'Transaction.No' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="no" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.no.valid || editForm.controls.no.pristine">
                    {{ 'Validations.No' | translate }}
                </div>
            </div>

            <div class="form-group" [ngClass]="{'col-xs-12 col-sm-4':!isNew,'pull-right':this.currentlang === 'fa' && !isNew}">
                <label for="description" class="control-label">{{ 'Transaction.Description' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="description" />
            </div>

            <div class="form-group col-xs-12 pull-left" *ngIf="!isNew">
                <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)" primary="true">{{ 'Buttons.Ok' | translate }}</button>
                <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
            </div>
        </div>

    </form>

    <div *ngIf="!isNew">
        <transactionLine [transactionId]="transaction_Id"></transactionLine>
    </div>

    <kendo-dialog-actions *ngIf="isNew">
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
        <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
    </kendo-dialog-actions>

</kendo-dialog>
