<?xml version="1.0" encoding="utf-8"?>
<sppc.tadbir>
  <workflowSettings>
    <workflows>
      <add name="Transaction State" localName="وضعیت سند">
        <editions>
          <add name="State Machine" provider="" isDefault="true" localName="ماشین حالت" />
          <add name="Flowchart" provider="flowchart" isDefault="false"
            localName="فلوچارت" />
          <add name="Timeout" provider="timeout" isDefault="false" localName="تاخیر زمانی" />
          <add name="Sequential" provider="basic" isDefault="false" localName="متوالی" />
        </editions>
      </add>
    </workflows>
  </workflowSettings>
</sppc.tadbir>
