<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Tadbir" providerName="System.Data.SqlClient" connectionString="Data Source=DB-SERVER;Initial Catalog=TadbirDemo;User ID=sa;Password=Liberty@1447xYz;Integrated Security=False;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MappingSource" value="SPPC.Tadbir.NHibernate" />
    <add key="Connection" value="Tadbir" />
    <!-- Transaction state workflow is configured to use State Machine implementation by default.
      Other available implementations are :
      * flowchart : Implemented by IDocumentStateDecision service contract, this workflow mode branches on transaction total value
                    to decide which role can confirm a transaction (less than 1,000,000 : CFO Assistant | more than 1,000,000 : CFO)
      * timeout : Implemented by IDocumentStateTimeout service contract, this workflow mode applies a demo timeout value (2 minutes)
                  to Review and Approve operations, meaning if not completed after this timeout, the work item moves to cartable for
                  next superior role in role hierarchy (for example : If not reviewed by Lead Accountant after timeout, the work item
                  is re-targeted to CFO Assistant role).
      * basic : Implemented by IDocumentStateBasic service contract, this workflow mode uses simple if/else branching to check
                for allowable state changes, meaning if a state change request is invalid (for example, confirming a prepared item),
                the workflow simply outputs a warning message to console and does nothing.
    -->
    <add key="StateWorkflowMode" value="" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDocumentStateBasic" />
        <binding name="BasicHttpBinding_IDocumentState" />
        <binding name="BasicHttpBinding_IDocumentStateDecision" />
        <binding name="BasicHttpBinding_IDocumentStateTimeout" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3302/CartableService.xamlx"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentStateBasic"
          contract="IDocumentStateBasic" name="BasicHttpBinding_IDocumentStateBasic" />
      <endpoint address="http://localhost:3302/CartableSMService.xamlx"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentState"
          contract="IDocumentState" name="BasicHttpBinding_IDocumentState" />
      <endpoint address="http://localhost:3302/CartableFCService.xamlx"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentStateDecision"
          contract="IDocumentStateDecision" name="BasicHttpBinding_IDocumentStateDecision" />
      <endpoint address="http://localhost:3302/CartableTOService.xamlx"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentStateTimeout"
          contract="IDocumentStateTimeout" name="BasicHttpBinding_IDocumentStateTimeout" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
