<kendo-dialog *ngIf="inputRoleBranches" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}" (keydown.esc)="escPress()"
              (close)="closeForm()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        {{ getTitleText('RoleBranches.RoleBranchesTitle' | translate) }}
    </kendo-dialog-titlebar>

    <div *ngIf="errorMessages">
      <div *ngFor="let err of errorMessages" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ err }}
      </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <kendo-treeview [nodes]="gridData" [textField]="['name']"
                            [loadOnDemand]="false"
                            kendoTreeViewExpandable
                            [kendoTreeViewCheckable]="checkableSettings"
                            kendoTreeViewFlatDataBinding
                            [checkBy]="checkById"
                            (checkedChange)="handleCheckingRows($event)"
                            idField="id"
                            parentIdField="parentId"
                            [(checkedKeys)]="selectedRows">
            </kendo-treeview>
        </div>
    </div>


    <kendo-dialog-actions>
        <button class="k-button k-primary prevent-duplicate" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
        <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
    </kendo-dialog-actions>

</kendo-dialog>
