
<app-bread-cumb *ngIf="isShowBreadcrumb"></app-bread-cumb>

<div class="panel-body" style="padding-top: 0">

  <div *ngIf="errorMessage">
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{ errorMessage }}
    </div>
  </div>

  <div>

    <form novalidate [formGroup]="editForm" (keydown.enter)="onSave($event)">
      <div class="row">
        <div class="col-xs-12 sppc-float" style="margin-top: 5px;">

          <button class="k-button" title="{{ 'Voucher.NewVoucher' | translate }}" (click)="getNewVoucher()">
            <span class="k-icon k-i-file-add"></span>
          </button>

          <button class="k-button" title="{{ 'Voucher.SearchVoucher' | translate }}" (click)="searchVoucher()">
            <span class="k-icon k-i-search"></span>
          </button>

          <button class="k-button" title="{{ 'Voucher.FirstVoucher' | translate }}" (click)="firstVoucher()">
            <span class="k-icon k-i-arrow-end-right"></span>
          </button>

          <button class="k-button" [disabled]="isFirstVoucher" title="{{ 'Voucher.PreviousVoucher' | translate }}" (click)="previousVoucher()">
            <span class="k-icon k-i-arrow-double-60-right"></span>
          </button>

          <button class="k-button" [disabled]="isLastVoucher" title="{{ 'Voucher.NextVoucher' | translate }}" (click)="nextVoucher()">
            <span class="k-icon k-i-arrow-double-60-left"></span>
          </button>

          <button class="k-button" title="{{ 'Voucher.LastVoucher' | translate }}" (click)="lastVoucher()">
            <span class="k-icon k-i-arrow-end-left"></span>
          </button>

          <button class="k-button" SppcCheckAccess="Check" [hidden]="!voucherModel || voucherModel.statusId == 2" (click)="checkHandler()" title="{{ 'Voucher.Commit' | translate }}">
            <span class="k-icon k-i-check-outline"></span>
          </button>

          <button class="k-button" SppcCheckAccess="Uncheck" [hidden]="!voucherModel || voucherModel.statusId == 1" (click)="checkHandler()" title="{{ 'Voucher.ReturnFromCommit' | translate }}">
            <span class="k-icon k-i-close-outline"></span>
          </button>

          <button class="k-button" [disabled]="!editForm.valid" (click)="onSave($event)" title="{{ 'Voucher.Save' | translate }}">
            <span class="k-icon k-i-save"></span>
          </button>

          <button class="k-button k-button-icon sppc-float-diff" title="{{ 'Buttons.Help' | translate }}"><span class="k-icon k-i-help"></span></button>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12">
          <div class="voucher-form-content">

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="no" class="control-label">{{ 'Voucher.No' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="no" [OnlyNumber] />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.no.valid || editForm.controls.no.pristine">
                  <span *ngIf="editForm.controls.no.errors?.required">{{ 'AllValidations.Voucher.NoIsRequired' | translate }}</span>
                  <span *ngIf="editForm.controls.no.errors?.maxlength">{{ 'AllValidations.Voucher.NoIsTooLong' | translate }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="reference" class="control-label">{{ 'Voucher.Reference' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="reference" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.reference.valid || editForm.controls.reference.pristine">
                  <span *ngIf="editForm.controls.reference.errors?.maxlength">{{ 'AllValidations.Voucher.ReferenceIsTooLong' | translate }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="dailyNo" class="control-label">{{ 'Voucher.DailyNo' | translate }}</label>

                <input type="text" formControlName="dailyNo" class="k-textbox" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.dailyNo.valid || editForm.controls.dailyNo.pristine">
                  <span *ngIf="editForm.controls.dailyNo.errors?.required">{{ 'AllValidations.Voucher.DailyNoIsRequired' | translate }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="association" class="control-label">{{ 'Voucher.Association' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="association" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.association.valid || editForm.controls.association.pristine">
                  <span *ngIf="editForm.controls.association.errors?.maxlength">{{ 'AllValidations.Voucher.AssociationIsTooLong' | translate }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">

                <label for="date" class="control-label">{{ 'Voucher.Date' | translate }}</label>

                <sppc-datepicker formControlName="date" [minDate]="FiscalPeriodStartDate" [maxDate]="FiscalPeriodEndDate"></sppc-datepicker>

              </div>
            </div>

            <div class="col-sm-4-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="description" class="control-label">{{ 'Voucher.Description' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="description" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.description.valid || editForm.controls.description.pristine">
                  {{ 'AllValidations.Voucher.DescriptionIsTooLong' | translate }}
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">

                <label for="type" class="control-label">{{ 'Voucher.Type' | translate }}</label>

                <kendo-dropdownlist [data]="voucherTypeList" class="ddl-type"
                                    [textField]="'value'"
                                    [valueField]="'key'"
                                    [valuePrimitive]="true"
                                    [value]="selectedType"
                                    [(ngModel)]="selectedType"
                                    [ngModelOptions]="{standalone: true}"
                                    formControlName="type">
                </kendo-dropdownlist>
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.type.valid || editForm.controls.type.pristine">
                  <span *ngIf="editForm.controls.type.errors?.required">{{ 'AllValidations.Voucher.TypeIsRequired' | translate }}</span>
                </div>

              </div>
            </div>

            <div class="clearfix"></div>

          </div>
        </div>
      </div>

    </form>

    <div class="row" *ngIf="voucherModel">
      <div class="col-xs-12">

        <div class="voucher-form-content">
          <voucherLine [voucherID]="voucherModel.id"
                       [documentStatus]="voucherModel.statusId">
          </voucherLine>
        </div>

      </div>
    </div>

  </div>
</div>

