
<div style="padding:15px;" [ngClass]="{'new-dialog' : isNew,'edit-dialog' : !isNew}" (keydown.esc)="escPress()">
  <div *ngIf="errorMessage">
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{ errorMessage }}
    </div>
  </div>
  <form novalidate [formGroup]="editForm" (keydown.enter)="onSave($event)">

    <div class="clearfix edit-form-body">

      <div class="form-toolbar" *ngIf="!isNew">
        <div [ngClass]="{'pull-right':this.CurrentLanguage === 'fa','pull-left':this.CurrentLanguage === 'en'}">

          <button class="k-button" title="سند جدید" (click)="addNew()">
            <span class="k-icon k-i-file-add"></span>
          </button>

          <button class="k-button" title="جستجوی سند">
            <span class="k-icon k-i-search"></span>
          </button>

          <button class="k-button" title="آخرین سند">
            <span class="k-icon k-i-arrow-end-right"></span>
          </button>

          <button class="k-button" title="سند بعدی">
            <span class="k-icon k-i-arrow-double-60-right"></span>
          </button>

          <button class="k-button" title="سند قبلی">
            <span class="k-icon k-i-arrow-double-60-left"></span>
          </button>

          <button class="k-button" title="اولین سند">
            <span class="k-icon k-i-arrow-end-left"></span>
          </button>

          <button class="k-button" SppcCheckAccess="Check" [hidden]="editModel.statusId != 1" (click)="checkHandler(editModel.id, editModel.statusId)" title="{{ 'Voucher.Commit' | translate }}">
            <span class="k-icon k-i-check-outline"></span>
          </button>

          <button class="k-button" SppcCheckAccess="Uncheck" [hidden]="editModel.statusId == 1" (click)="checkHandler(editModel.id, editModel.statusId)" title="{{ 'Voucher.ReturnFromCommit' | translate }}">
            <span class="k-icon k-i-close-outline"></span>
          </button>

        </div>
        <div [ngClass]="{'pull-right':this.CurrentLanguage === 'en','pull-left':this.CurrentLanguage === 'fa'}">
          <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)" title="{{ 'Voucher.Save' | translate }}">
            <span class="k-icon k-i-save"></span>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="form-group" [ngClass]="{'col-xs-12 col-sm-4':!isNew,'pull-right':this.CurrentLanguage === 'fa' && !isNew}">
        <label for="date" class="control-label">{{ 'Voucher.Date' | translate }}</label>

        <sppc-datepicker formControlName="date" [minDate]="FiscalPeriodStartDate" [maxDate]="FiscalPeriodEndDate"></sppc-datepicker>

        <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.date.valid || editForm.controls.date.pristine">
          {{ 'AllValidations.Voucher.DateIsRequired' | translate }}
        </div>
      </div>

      <div class="form-group" [ngClass]="{'col-xs-12 col-sm-4':!isNew,'pull-right':this.CurrentLanguage === 'fa' && !isNew}">
        <label for="no" class="control-label">{{ 'Voucher.No' | translate }}</label>

        <input type="text" class="k-textbox" formControlName="no" />

        <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.no.valid || editForm.controls.no.pristine">
          <span *ngIf="editForm.controls.no.errors?.required">{{ 'AllValidations.Voucher.NoIsRequired' | translate }}</span>
          <span *ngIf="editForm.controls.no.errors?.maxlength">{{ 'AllValidations.Voucher.NoIsTooLong' | translate }}</span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'col-xs-12 col-sm-4':!isNew,'pull-right':this.CurrentLanguage === 'fa' && !isNew}">
        <label for="description" class="control-label">{{ 'Voucher.Description' | translate }}</label>

        <!--<textarea class="k-textarea" formControlName="description"></textarea>-->
        <input type="text" class="k-textbox" formControlName="description" />

        <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.description.valid || editForm.controls.description.pristine">
          {{ 'AllValidations.Voucher.DescriptionIsTooLong' | translate }}
        </div>
      </div>

      <div class="form-group col-xs-12 pull-left" *ngIf="!isNew">
        <div [ngClass]="{'pull-right':this.CurrentLanguage === 'fa' ,'pull-left':this.CurrentLanguage === 'en'}">
          <!--<button class="k-button k-primary" SppcCheckAccess="Check" [hidden]="editModel.statusId != 1" (click)="checkHandler(editModel.id, editModel.statusId)">{{ 'Voucher.Commit' | translate }}</button>
          <button class="k-button k-primary" SppcCheckAccess="Uncheck" [hidden]="editModel.statusId == 1" (click)="checkHandler(editModel.id, editModel.statusId)">{{ 'Voucher.ReturnFromCommit' | translate }}</button>-->
        </div>

        <div [ngClass]="{'pull-right':this.CurrentLanguage === 'en' ,'pull-left':this.CurrentLanguage === 'fa'}">
          <!--<button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)" primary="true">{{ 'Voucher.Save' | translate }}</button>-->
          <!--<button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>-->
        </div>

      </div>
    </div>

  </form>

  <div *ngIf="!isNew">
    <voucherLine [voucherId]="voucher_Id"
                 [documentStatus]="documentStatus"
                 (setFocus)="focusHandler($event)">
    </voucherLine>
  </div>
</div>

<kendo-dialog-actions *ngIf="isNew">
  <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
  <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
</kendo-dialog-actions>
