<div  class="col-md-12 col-sm-12 col-xs-12 parentVertical">    <!--col-md-5 col-md-offset-3 vertical-center-->
    <div class="col-md-5 col-xs-12 col-lg-4 col-sm-7 vertical-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-user"></i> {{ 'Login.Title' | translate }}
                <div [ngClass]="{'pull-left' : (lang == 'fa'),'pull-right' : (lang == 'en')}">
                    <img src="../../../../wwwroot/resources/images/gb.svg" [ngClass]="{'active' : (lang == 'en')}" (click)="changeLang('en')" class="flag" />
                    <img src="../../../../wwwroot/resources/images/ir.svg" [ngClass]="{'active' : (lang == 'fa')}" (click)="changeLang('fa')" class="flag" />
                </div>
            </div>
            <div class="panel-body">
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="toast-container"></div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <label for="username">{{ 'Login.UserName' | translate }}</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">{{ 'Login.Validation.UserRequired' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password">{{ 'Login.Password' | translate }}</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">{{ 'Login.Validation.PasswordRequired' | translate }}</div>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" id="chkRememberMe" [ngClass]="{'chkRememberMe-left' : (lang == 'fa'),'chkRememberMe-right' : (lang == 'en')}" [(ngModel)]="model.remember" [ngModelOptions]="{standalone: true}">{{ 'Login.RememberMe' | translate }}</label>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">{{ 'Login.BtnLogin' | translate }}</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>                
            </div>
        </div>
    </div>    
</div>

