.login {
    display: inline-block;
    vertical-align: middle;
}


.parentVertical {
    height: 100vh;
}

.vertical-center {
    float: none;
    margin: auto auto;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}

.active {
    border-style: ridge;
}

.align-left{
    text-align:left;
}

.align-right{
    text-align:right;
}

