<div [ngClass]="{'panel panel-primary' : !isChild }">
    <div *ngIf="!isChild" class="panel-heading">{{ 'Entity.Account' | translate }}</div>
    <div SppcCheckAccess="View" [ngClass]="{'panel-body' : !isChild }">
        <kendo-grid id="1" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}" #GridID [data]="rowData"
                    [sortable]="true"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [filter]="state.filter"
                    [pageable]="true"
                    [resizable]="true"
                    [filterable]="!isChild"
                    [scrollable]="'none'"
                    (pageChange)="pageChange($event)"
                    (sortChange)="sortChange($event)"
                    (edit)="editHandler($event)"
                    (remove)="removeHandler($event)"
                    [sort]="state.sort"
                    [loading]="true"
                    [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
                    [selectedKeys]="selectedRows"
                    [kendoGridSelectBy]="selectionKey"
                    (dataStateChange)="dataStateChange($event)"
                    (selectedKeysChange)="onSelectedKeysChange($event)"
                    sppc-grid-reorder sppc-grid-resize>
            <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                                 pagerOf="{{ 'Paging.Of' | translate }}"
                                 pagerItems="{{ 'Paging.Record' | translate }}">
            </kendo-grid-messages>
            <ng-template kendoGridNoRecordsTemplate>
                {{ showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate) }}
            </ng-template>
            <ng-template kendoGridToolbarTemplate let-account>
                <button kendoGridAddCommand SppcCheckAccess="Create" (click)="addNew(parentId , true)" [icon]="'plus-outline'">{{ 'Account.New' | translate }}</button>
                <button *ngIf="groupDelete" SppcCheckAccess="Delete" class="k-button" (click)="showConfirm()" type="button">{{ 'Buttons.GroupDelete' | translate }}</button>
                <grid-setting ng-if="account.level == 0" entityTypeName="Account"></grid-setting>
            </ng-template>
            <!-- template for mobile -->
            <kendo-grid-column media="(max-width: 450px)" title="">
                <ng-template kendoGridCellTemplate let-account>
                    <!-- template for mobile -->
                    <h4>
                        {{ account.name }}
                    </h4>
                    <dl>
                        <dt>{{ 'Account.Code' | translate }}</dt>
                        <dd>{{ account.code }}</dd>
                        <dt>{{ 'Account.Name' | translate }}</dt>
                        <dd>{{ account.name }}</dd>
                        <dt>{{ 'Account.Description' | translate }}</dt>
                        <dd>{{ account.description }}</dd>
                    </dl>
                    <button kendoGridAddCommand SppcCheckAccess="Create" (click)="addNew(account.id)" type="button">{{ 'Buttons.New' | translate }}</button>
                    <button kendoGridEditCommand SppcCheckAccess="Edit" class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                    <button kendoGridRemoveCommand SppcCheckAccess="Delete">{{ 'Buttons.Delete' | translate }}</button>
                </ng-template>
            </kendo-grid-column>
            <!-- template for mobile -->
            <!-- template for mid-size devices -->
            <kendo-grid-checkbox-column showSelectAll="true" width="10" media="(min-width: 450px) and (max-width: 1024px)"></kendo-grid-checkbox-column>
            <ng-template kendoGridDetailTemplate let-dataItem
                         [kendoGridDetailTemplateShowIf]="showOnlyParent">
                <div ng-if="dataItem.childCount > 0">
                    <account [isChild]="true" [parent]="dataItem"></account>
                </div>
            </ng-template>
            <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="Account.code">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('code')" [column]="column" [spinners]="true" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="250" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="Account.name">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 450px) and (max-width: 1024px)">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button [icon]="'plus'" SppcCheckAccess="Create" (click)="addNew(dataItem.id)" kendoGridAddCommand title="{{ 'Account.NewSubAccount' | translate }}"></button>
                    <button [icon]="'edit'" SppcCheckAccess="Edit" kendoGridEditCommand title="{{ 'Buttons.Edit' | translate }}"></button>
                    <button [icon]="'delete'" SppcCheckAccess="Delete" kendoGridRemoveCommand title="{{ 'Buttons.Delete' | translate }}"></button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- template for mid-size devices -->
            <!-- additional columns on large devices -->
            <kendo-grid-checkbox-column showSelectAll="true" width="10" media="(min-width: 1024px)"></kendo-grid-checkbox-column>
            <kendo-grid-column width="130" media="(min-width: 1024px)" sppc-grid-column="Account.code">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('code')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column media="(min-width: 1024px)" width="200" sppc-grid-column="Account.name">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column media="(min-width: 1024px)" width="200" sppc-grid-column="Account.description">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('descrption')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 1024px)">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button [icon]="'plus'" SppcCheckAccess="Create" (click)="addNew(dataItem.id)" kendoGridAddCommand title="{{ 'Account.NewSubAccount' | translate }}"></button>
                    <button [icon]="'edit'" SppcCheckAccess="Edit" kendoGridEditCommand title="{{ 'Buttons.Edit' | translate }}"></button>
                    <button [icon]="'delete'" SppcCheckAccess="Delete" kendoGridRemoveCommand title="{{ 'Buttons.Delete' | translate }}"></button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- additional columns on large devices -->

        </kendo-grid>
        <account-form-component [model]="editDataItem" [parentId]="parentId" [parentTitle]="parentTitle" [parentValue]="parentValue" [isNew]="isNew" [errorMessage]="errorMessage" [disableSaveBtn]="disableSaveBtn"
                                (save)="saveHandler($event)"
                                (cancel)="cancelHandler()">
        </account-form-component>
    </div>
    <kendo-dialog title="{{'Account.Delete' | translate}}" *ngIf="deleteConfirm" (close)="deleteModel(false)" [minWidth]="250" [width]="450">
        <p>
            {{ this.deleteConfirmMsg }}
        </p>
        <kendo-dialog-actions>
            <button class="k-button" (click)="deleteModel(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
            <button class="k-button" (click)="deleteModel(false)">{{ 'Buttons.No' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    <kendo-dialog title="{{'Account.Delete' | translate}}" *ngIf="deleteModelsConfirm" (close)="deleteModels(false)" [minWidth]="250" [width]="450">
        <p>
            {{ this.deleteConfirmMsg }}
        </p>
        <kendo-dialog-actions>
            <button class="k-button" (click)="deleteModels(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
            <button class="k-button" (click)="deleteModels(false)">{{ 'Buttons.No' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

