
<div class="dialog-body">

  <div (keydown.esc)="escPress()">
    <form novalidate [formGroup]="editForm" (keydown.enter)="onSave($event)">

      <kendo-tabstrip>

        <kendo-tabstrip-tab [title]="'اطلاعات حساب'" [selected]="true">
          <ng-template kendoTabContent>

            <editor-form-title [parentModel]="parent" [entityType]="viewId"></editor-form-title>

            <div *ngIf="errorMessage">
              <div class="alert alert-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorMessage }}
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12 col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                <div class="form-group">
                  <label for="name" class="control-label">{{ 'Account.Name' | translate }}</label>

                  <input type="text" class="k-textbox" formControlName="name" />

                  <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.name.valid || editForm.controls.name.pristine">
                    <span *ngIf="editForm.controls.name.errors?.required">{{ 'AllValidations.Account.NameIsRequired' | translate }}</span>
                    <span *ngIf="editForm.controls.name.errors?.maxlength">{{ 'AllValidations.Account.NameIsTooLong' | translate }}</span>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label for="groupId" class="control-label">{{ 'Account.AccountGroup' | translate }}</label>

                  <kendo-dropdownlist class="ddl-acc" [disabled]="parent"
                                      [data]="accGroupList"
                                      [textField]="'value'"
                                      [valueField]="'key'"
                                      [valuePrimitive]="true"
                                      [value]="accGroupSelected"
                                      [(ngModel)]="accGroupSelected"
                                      formControlName="groupId">
                  </kendo-dropdownlist>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                <div class="form-group">
                  <label for="code" class="control-label">{{ 'Account.Code' | translate }}</label>

                  <input type="text" class="k-textbox" formControlName="code" [OnlyNumber] [SppcCodeLength]="level + 1" [ViewId]="viewId" [sppcFullCodeTest]="'fullCode'" [parentFullCode]="parentFullCode" />

                  <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.code.valid || editForm.controls.code.pristine">
                    <span *ngIf="editForm.controls.code.errors?.required">{{ 'AllValidations.Account.CodeIsRequired' | translate }}</span>
                    <span *ngIf="editForm.controls.code.errors?.maxlength">{{ 'AllValidations.Account.CodeIsTooLong' | translate }}</span>
                    <span *ngIf="editForm.controls.code.errors?.sppcCodeLength">{{ 'MetaDataValidation.CodeLength' | translate }}</span>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="fullCode" class="control-label">{{ 'Account.FullCode' | translate }}</label>

                  <input type="text" class="k-textbox" formControlName="fullCode" readonly id="fullCode" style="direction:ltr" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                <div class="form-group">
                  <label for="description" class="control-label">{{ 'Account.Description' | translate }}</label>

                  <input type="text" class="k-textbox" formControlName="description" />

                  <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.description.valid || editForm.controls.description.pristine">
                    {{ 'AllValidations.Account.DescriptionIsTooLong' | translate }}
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                <label class="control-label">{{ 'Account.AccountBranchName' | translate }}</label>

                <input type="text" class="k-textbox" value="{{ branchName }}" [disabled]="true" />
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="branchScope" class="control-label">{{ 'Account.BranchScope' | translate }}</label>

                  <sppc-branch-scope formControlName="branchScope" [parentScope]="parentScopeValue" [isNew]="isNew"></sppc-branch-scope>
                </div>
              </div>
            </div>


          </ng-template>
        </kendo-tabstrip-tab>

        <kendo-tabstrip-tab [title]="'سایر مشخصات حساب'">
          <ng-template kendoTabContent>

            <editor-form-title [parentModel]="parent" [entityType]="viewId"></editor-form-title>

            <div *ngIf="errorMessage">
              <div class="alert alert-danger">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{ errorMessage }}
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                <div class="form-group">
                  <label for="currencyId" class="control-label">ارز پیش فرض</label>

                  <kendo-dropdownlist [data]="currenciesRows" [valuePrimitive]="true" formControlName="currencyId" class="ddl-acc"
                                      [textField]="'value'" [value]="selectedCurrencyValue" [(ngModel)]="selectedCurrencyValue" [valueField]="'key'">
                  </kendo-dropdownlist>

                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="turnoverMode" class="control-label">محدودیت ثبت</label>

                  <kendo-dropdownlist [data]="turnovermodes" [valuePrimitive]="true" formControlName="turnoverMode" class="ddl-acc"
                                      [textField]="'value'" [value]="selectedTurnoverModeValue" [(ngModel)]="selectedTurnoverModeValue" [valueField]="'key'">
                  </kendo-dropdownlist>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                <div class="form-group">
                  <label for="isActive" class="control-label">فعال/غیرفعال</label>

                  <kendo-switch formControlName="isActive"
                                [onLabel]="'فعال'"
                                [offLabel]="'غیرفعال'">
                  </kendo-switch>

                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="isCurrencyAdjustable" class="control-label">وضعیت تسعیر حساب</label>

                  <kendo-switch formControlName="isCurrencyAdjustable"
                                [onLabel]="'فعال'"
                                [offLabel]="'غیرفعال'">
                  </kendo-switch>

                </div>
              </div>
            </div>

          </ng-template>
        </kendo-tabstrip-tab>


      </kendo-tabstrip>

    </form>

  </div>

  <kendo-dialog-actions>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
    <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
  </kendo-dialog-actions>
</div>
