<div class="dialog-body" style="min-height: 395px">
  <div style="padding: 15px" (keydown.esc)="escPress()">
    <div *ngIf="errorMessages">
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ errorMessages }}
      </div>
    </div>

    <form novalidate [formGroup]="editForm1">
      <div class="row">
        <div class="col-xs-12 col-sm-7 sppc-float">
          <div class="form-group">
            <label
              for="fullAccount"
              class="control-label"
              style="position: absolute"
              >{{ "VoucherLine.Account" | translate }}</label
            >

            <sppc-fullAccount
              formGroupName="fullAccount"
              (isInputFocused)="fullAccountFocuse($event)"
              (setFocus)="focusHandler($event)"
            >
            </sppc-fullAccount>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 sppc-float">
          <div class="row">
            <div class="col-xs-12 cost-field" *ngIf="isPayReciept">
              <div class="form-group row">
                <label
                  for="amount"
                  class="control-label col-xs-4 col-sm-3 col-md-4 sppc-float"
                  style="padding-top: 7px;"
                  >{{ "VoucherLine.Amount" | translate }}</label
                >

                <sppc-numericInput
                  [autoFocus]="true"
                  id="amount"
                  formControlName="amount"
                  [decimalCount]="decimalCount"
                  class="sppc-input-num sppc-float"
                ></sppc-numericInput>
              </div>
            </div>

            <div class="col-xs-12 cost-field" *ngIf="!isPayReciept">
              <div class="form-group row" *ngIf="creditDebiteMode == '1'">
                <label
                  for="debit"
                  class="control-label col-xs-4 col-sm-3 col-md-4 sppc-float"
                  style="padding-top: 7px;"
                  >{{ "VoucherLine.Amount" | translate }}</label
                >

                <sppc-numericInput
                  [autoFocus]="true"
                  formControlName="debit"
                  (keyup)="onDebitChange()"
                  [decimalCount]="decimalCount"
                  class="sppc-input-num sppc-float"
                ></sppc-numericInput>
              </div>

              <div class="form-group row" *ngIf="creditDebiteMode == '2'">
                <label
                  for="debit"
                  class="control-label col-xs-4 col-sm-3 col-md-4 sppc-float"
                  style="padding-top: 7px;"
                  >{{ "VoucherLine.Amount" | translate }}</label
                >

                <sppc-numericInput
                  [autoFocus]="true"
                  formControlName="credit"
                  (keyup)="onCreditChange()"
                  [decimalCount]="decimalCount"
                  class="sppc-input-num sppc-float"
                ></sppc-numericInput>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <fieldset *ngIf="!isPayReciept;else isBankOrFund">
                <div class="form-group row">
                  <label
                    for="debit"
                    class="control-label col-xs-4 col-sm-3 col-md-4 sppc-float"
                  ></label>
                  <div class="voucher-mode-item">
                    <input
                      type="radio"
                      name="creditDebiteMode"
                      id="mode1"
                      class="k-radio"
                      [(ngModel)]="creditDebiteMode"
                      value="1"
                      (change)="onCreditDebiteModeChange()"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <label for="mode1">{{
                      "VoucherLine.Debit" | translate
                    }}</label>
                  </div>

                  <div class="voucher-mode-item">
                    <input
                      type="radio"
                      name="creditDebiteMode"
                      id="mode2"
                      class="k-radio"
                      [(ngModel)]="creditDebiteMode"
                      value="2"
                      (change)="onCreditDebiteModeChange()"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <label for="mode2">{{
                      "VoucherLine.Credit" | translate
                    }}</label>
                  </div>
                </div>
              </fieldset>
              <ng-template #isBankOrFund>
                <div *ngIf="isSourceApp" class="form-group row">
                  <label
                    for="bank"
                    class="control-label col-xs-4 col-sm-3 col-md-4 sppc-float"
                  ></label>
                  <div class="voucher-mode-item">
                    <input
                      type="radio"
                      id="bank"
                      class="k-radio"
                      formControlName="isBank"
                      [(ngModel)]="isBank"
                      [value]="1"
                      (change)="onBankOrFundChange($event)"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <label for="bank">{{
                      "PayReceipt.Bank" | translate
                    }}</label>
                  </div>

                  <div class="voucher-mode-item">
                    <input
                      type="radio"
                      id="fund"
                      class="k-radio"
                      formControlName="isBank"
                      [(ngModel)]="isBank"
                      [value]="0"
                      (change)="onBankOrFundChange($event)"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <label for="fund">{{
                      "PayReceipt.Fund" | translate
                    }}</label>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group row" *ngIf="!isPayReciept || (isPayReciept && isSourceApp && isBank == 0)">
                <label
                  class="control-label col-xs-4 col-sm-3 col-md-4 sppc-float"
                  style="padding: 7px 10px"
                >
                  {{ (isSourceApp? "SourceApp.SourceAppType": "VoucherLine.ArticleType") | translate }}
                </label>

                <kendo-dropdownlist
                  [data]="articleTypeList"
                  class="col-xs-8 col-sm-9 sppc-float"
                  style="padding: 0;width: 59%;"
                  [textField]="'value'"
                  [valueField]="'key'"
                  [valuePrimitive]="true"
                  [value]="selectedArticleType"
                  [(ngModel)]="selectedArticleType"
                  [ngModelOptions]="{ standalone: true }"
                  [formControlName]="isPayReciept? 'sourceAppId':'typeId'"
                >
                </kendo-dropdownlist>
              </div>

              <div class="form-group row" *ngIf="isPayReciept && isSourceApp && isBank == 1">
                <label
                  class="control-label col-xs-4 col-sm-3 col-md-4 sppc-float"
                  style="padding: 7px 8px;font-size: 13px;"
                  for="bankOrderNo"
                >
                  {{ "PayReceipt.BankOrderNo" | translate }}
                </label>

                <sppc-numericInput
                  id="bankOrderNo"
                  formControlName="bankOrderNo"
                  [decimalCount]="decimalCount"
                  class="sppc-input-num sppc-float"
                ></sppc-numericInput>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row" [style]="isPayReciept ? 'margin-top:20px' : ''">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description" class="control-label">{{
              isPayReciept
                ? ("VoucherLine.Considerations" | translate)
                : ("VoucherLine.Description" | translate)
            }}</label>

            <input
              type="text"
              class="k-textbox"
              [formControlName]="isPayReciept?'remarks':'description'"
            />

            <div
              class="k-tooltip k-tooltip-validation"
              [hidden]="
                editForm1.controls[isPayReciept?'remarks':'description'].valid ||
                editForm1.controls[isPayReciept?'remarks':'description'].pristine
              "
            >
              {{
                "AllValidations.VoucherLine.DescriptionIsTooLong" | translate
              }}
            </div>
          </div>
        </div>
      </div>

      <div>
        <hr />

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" *ngIf="!isPayReciept">
              <input
                type="checkbox"
                id="currencyInfo"
                class="k-checkbox"
                (change)="onCurrencyInfoChange()"
                [(ngModel)]="isDisplayCurrencyInfo"
                [ngModelOptions]="{ standalone: true }"
              />
              <label
                for="currencyInfo"
                class="control-label"
                style="margin: 0 5px"
                >{{ "VoucherLine.CurrencyInfo" | translate }}</label
              >
            </div>
          </div>
        </div>

        <div class="row" *ngIf="isDisplayCurrencyInfo">
          <div class="col-xs-12 col-sm-4 sppc-float">
            <div class="form-group">
              <label for="currencyId" class="control-label">{{
                "VoucherLine.Currency" | translate
              }}</label>
              <kendo-dropdownlist
                [data]="currenciesRows"
                class="ddl-currency"
                [textField]="'name'"
                [valueField]="'id'"
                [valuePrimitive]="true"
                [value]="selectedCurrencyValue"
                [(ngModel)]="selectedCurrencyValue"
                [ngModelOptions]="{ standalone: true }"
                (valueChange)="onChangeCurrency()"
                formControlName="currencyId"
                [defaultItem]="{ name: '', id: 0 }"
              >
              </kendo-dropdownlist>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 sppc-float">
            <div class="form-group">
              <label for="description" class="control-label">{{
                "VoucherLine.CurrencyValue" | translate
              }}</label>
              <sppc-numericInput
                formControlName="currencyValue"
                (keyup)="changeCurrencyValue()"
                [decimalCount]="decimalCount"
                class="sppc-input-num"
              ></sppc-numericInput>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 sppc-float">
            <div class="form-group">
              <label for="description" class="control-label">{{
                "VoucherLine.CurrencyRate" | translate
              }}</label>
              <sppc-numericInput
                [(ngModel)]="currencyRate"
                (ngModelChange)="onChangeCurrencyRate()"
                [ngModelOptions]="{ standalone: true }"
                class="sppc-input-num"
              ></sppc-numericInput>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <kendo-dialog-actions>
    <button
      class="k-button k-primary"
      [disabled]="!(editForm1.valid && isEnableSaveBtn)"
      (click)="isEnableSaveBtn = false; onSave(false)"
    >
      {{ "Buttons.Ok" | translate }}
    </button>
    <button
      class="k-button k-primary"
      [disabled]="!(editForm1.valid && isEnableSaveBtn)"
      (click)="isEnableSaveBtn = false; onSave(true)"
    >
      {{ "Buttons.OkAndNew" | translate }}
    </button>
    <button class="k-button" (click)="onCancel($event)">
      {{ "Buttons.Cancel" | translate }}
    </button>
  </kendo-dialog-actions>
</div>
