@using SPPC.Framework.Values

@{
    ViewBag.Title = ErrorMessages.ErrorOccurredTitle;
}

<div class="error-message">
    <div class="alert alert-danger">
        <h2>@ErrorMessages.ErrorOccurredTitle</h2>
        <h4>@ErrorMessages.ErrorOccurred</h4>
    </div>
    <p>@ErrorMessages.ErrorOccurredHint</p>
</div>
