@using SPPC.Tadbir.Values

@{
    ViewBag.Title = Strings.ErrorOccurredTitle;
}

<div class="error-message">
    <div class="alert alert-danger">
        <h2>@Strings.ErrorOccurredTitle</h2>
        <h4>@Strings.ErrorOccurred</h4>
    </div>
    <p>@Strings.ErrorOccurredHint</p>
</div>
