@using SPPC.Tadbir.Values

@{
    ViewBag.Title = Strings.PageNotFoundTitle;
}

<div class="error-message">
    <div class="alert alert-info">
        <h2 class="text-info">@Strings.PageNotFoundTitle</h2>
        <h4 class="text-info">@Strings.PageNotFound</h4>
    </div>
    <p>@Strings.PageNotFoundHint</p>
</div>
