<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LicensePath" value="..\..\src\Framework\SPPC.Licensing.Local.Web\wwwroot"/>
    <add key="ServerLicensePath" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\wwwroot\license"/>
    <add key="OnlineServerRoot" value="http://localhost:1447" />
  </appSettings>
</configuration>
