<button *ngIf="entityName" (click)="showSetting()" kendoButton [icon]="'gear'" [ngClass]="{'pull-left' : rtl ,'pull-right' : !rtl}" type="button" title="{{ 'Buttons.Setting' | translate }}"></button>
<kendo-dialog *ngIf="show" (close)="closeSetting()" title="{{'Buttons.Setting' | translate}}" [minWidth]="500" [width]="450">
     <div>
      <div class="col-xs-4 setting-section sppc-float">
        <table class="table table-striped">
          <tr>
            <th>{{'SelectForm.SearchBy' | translate}}</th>
          </tr>
          <tr *ngFor="let dataItem of gridRowData">
            <td *ngIf="chackIsSearchable(dataItem)">              
                <input type="checkbox" name="search-{{dataItem.name}}" id="search-{{dataItem.name}}" class="k-checkbox" [checked]="dataItem.isSearched"
                       (change)="changeIsSearched(dataItem,$event)" />
                <label class="k-checkbox-label" for="search-{{dataItem.name}}">{{ dataItem.title }}</label>              
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-4 setting-section setting-mid-section sppc-float">
        <table class="table table-striped">
          <tr>
            <th>{{'SelectForm.DisplayableColumns' | translate}}</th>
          </tr>
          <tr *ngFor="let dataItem of gridRowData">
            <td>
              <input type="checkbox" name="show-{{dataItem.name}}" id="show-{{dataItem.name}}" class="k-checkbox" [checked]="dataItem.visibility" [disabled]="dataItem.disabled"
                     (change)="changeVisibility(dataItem,$event)" />
              <label class="k-checkbox-label" for="show-{{dataItem.name}}">{{ dataItem.title }}</label>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-4 setting-section sppc-float">
        <table class="table table-striped">
          <tr>
            <th>{{'SelectForm.SearchType' | translate}}</th>
          </tr>
          <tr>
            <td>
              <input type="radio" name="textSearchMode" id="first" value="StartsWith" class="k-radio"
                     [checked]="gettextSearchModeState('StartsWith')" (change)="onChangeTxtSearchMode('StartsWith')" />
              <label class="k-radio-label" for="first">{{'SelectForm.StartsWith' | translate}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="radio" name="textSearchMode" id="middle" value="Contains" class="k-radio"
                     [checked]="gettextSearchModeState('Contains')" (change)="onChangeTxtSearchMode('Contains')" />
              <label class="k-radio-label" for="middle">{{'SelectForm.Contains' | translate}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="radio" name="textSearchMode" id="end" value="EndsWith" class="k-radio"
                     [checked]="gettextSearchModeState('EndsWith')" (change)="onChangeTxtSearchMode('EndsWith')" />
              <label class="k-radio-label" for="end">{{'SelectForm.EndsWith' | translate}}</label>
            </td>
          </tr>
        </table>
      </div>
    </div>

</kendo-dialog>
