<div [ngClass]="{'panel panel-primary' : !isChild }">
    <div *ngIf="!isChild" class="panel-heading">{{ 'Entity.DetailAccount' | translate }}</div>
    <div SppcCheckAccess="View" [ngClass]="{'panel-body' : !isChild }">
        <kendo-grid id="6" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}" #GridID [data]="rowData"
                    [sortable]="true"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [filter]="state.filter"
                    [pageable]="true"
                    [resizable]="true"
                    [filterable]="true"
                    [scrollable]="'none'"
                    (pageChange)="pageChange($event)"
                    (sortChange)="sortChange($event)"
                    (edit)="editHandler($event)"
                    (remove)="removeHandler($event)"
                    [sort]="state.sort"
                    [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
                    [selectedKeys]="selectedRows"
                    [kendoGridSelectBy]="selectionKey"
                    (dataStateChange)="dataStateChange($event)"
                    (selectedKeysChange)="onSelectedKeysChange($event)"
                    sppc-grid-reorder sppc-grid-resize>
            <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                                 pagerOf="{{ 'Paging.Of' | translate }}"
                                 pagerItems="{{ 'Paging.Record' | translate }}">
            </kendo-grid-messages>
            <ng-template kendoGridNoRecordsTemplate>
                {{ showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate) }}
            </ng-template>
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand SppcCheckAccess="Create" (click)="addNew(parentId , true)" [icon]="'plus-outline'" type="button">{{ 'DetailAccount.New' | translate }}</button>
                <button *ngIf="groupDelete" SppcCheckAccess="Delete" class="k-button" (click)="deleteModels()" type="button">{{ 'Buttons.GroupDelete' | translate }}</button>
                <button *ngIf="showFilterBtn" class="k-button" (click)="filterRowData()" type="button">
                    <span class="k-i-filter k-icon"></span>
                    {{ 'Buttons.Filter' | translate }}
                </button>
                <button *ngIf="showFilterBtn" class="k-button" (click)="clearFilterRowData()" type="button">
                    <span class="k-i-filter-clear k-icon"></span>
                    {{ 'Buttons.DeleteFilter' | translate }}
                </button>
                <grid-setting entityTypeName="DetailAccount"></grid-setting>
            </ng-template>

            <!-- template for mobile -->
            <kendo-grid-column media="(max-width: 449px)" title="">
                <ng-template kendoGridCellTemplate let-detailAccount>
                    <!-- template for mobile -->
                    <dl>
                        <dt>{{ 'DetailAccount.Name' | translate }}</dt>
                        <dd>{{ detailAccount.name }}</dd>

                        <dt>{{ 'DetailAccount.Code' | translate }}</dt>
                        <dd>{{ detailAccount.code }}</dd>

                        <dt>{{ 'DetailAccount.FullCode' | translate }}</dt>
                        <dd>{{ detailAccount.fullCode }}</dd>

                        <dt>{{ 'DetailAccount.Description' | translate  }}</dt>
                        <dd>{{ detailAccount.description }}</dd>
                    </dl>
                    <button kendoGridAddCommand SppcCheckAccess="Create" (click)="addNew(detailAccount.id)" type="button">{{ 'Buttons.New' | translate }}</button>
                    <button kendoGridEditCommand SppcCheckAccess="Edit" class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                    <button kendoGridRemoveCommand SppcCheckAccess="Delete">{{ 'Buttons.Delete' | translate }}</button>
                </ng-template>
            </kendo-grid-column>
            <!-- template for mobile -->
            <!-- template for mid-size devices -->
            <kendo-grid-checkbox-column showSelectAll="true" width="10" media="(min-width: 450px) and (max-width: 1024px)"></kendo-grid-checkbox-column>
            <ng-template kendoGridDetailTemplate let-dataItem
                         [kendoGridDetailTemplateShowIf]="showOnlyParent">
                <div ng-if="dataItem.childCount > 0">
                    <detailAccount [isChild]="true" [parent]="dataItem"></detailAccount>
                </div>
            </ng-template>
            <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="DetailAccount.name">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="DetailAccount.code">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('code')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="DetailAccount.fullCode">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('fullCode')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 450px) and (max-width: 1024px)">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button [icon]="'plus'" SppcCheckAccess="Create" (click)="addNew(dataItem.id)" kendoGridAddCommand title="{{ 'DetailAccount.NewSubDetailAccount' | translate }}"></button>
                    <button [icon]="'edit'" SppcCheckAccess="Edit" kendoGridEditCommand title="{{ 'Buttons.Edit' | translate }}"></button>
                    <button [icon]="'delete'" SppcCheckAccess="Delete" kendoGridRemoveCommand title="{{ 'Buttons.Delete' | translate }}"></button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- template for mid-size devices -->
            <!-- additional columns on large devices -->
            <kendo-grid-checkbox-column showSelectAll="true" width="10" media="(min-width: 1024px)"></kendo-grid-checkbox-column>
            <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="DetailAccount.name">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="DetailAccount.code">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('code')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="DetailAccount.fullCode">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('fullCode')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 1024px)" width="190" sppc-grid-column="DetailAccount.description">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('description')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 1024px)">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button [icon]="'plus'" SppcCheckAccess="Create" (click)="addNew(dataItem.id)" kendoGridAddCommand title="{{ 'DetailAccount.NewSubDetailAccount' | translate }}"></button>
                    <button [icon]="'edit'" SppcCheckAccess="Edit" kendoGridEditCommand title="{{ 'Buttons.Edit' | translate }}"></button>
                    <button [icon]="'delete'" SppcCheckAccess="Delete" kendoGridRemoveCommand title="{{ 'Buttons.Delete' | translate }}"></button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- additional columns on large devices -->

        </kendo-grid>
        <detailAccount-form-component [model]="editDataItem" [parentId]="parentId" [parentTitle]="parentTitle" [parentValue]="parentValue" [isNew]="isNew" [errorMessage]="errorMessage" [disableSaveBtn]="disableSaveBtn"
                                      (save)="saveHandler($event)"
                                      (cancel)="cancelHandler()">
        </detailAccount-form-component>
    </div>
    <kendo-dialog title="{{'DetailAccount.Delete' | translate}}" *ngIf="deleteConfirm" (close)="deleteModel(false)" [minWidth]="250" [width]="450">
        <p>
            {{ deleteConfirmMsg }}
        </p>
        <kendo-dialog-actions>
            <button class="k-button" (click)="deleteModel(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
            <button class="k-button" (click)="deleteModel(false)">{{ 'Buttons.No' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    <kendo-dialog title="{{'DetailAccount.Delete' | translate}}" *ngIf="deleteModelsConfirm" (close)="deleteModels(false)" [minWidth]="250" [width]="450">
        <p>
            {{ this.deleteConfirmMsg }}
        </p>
        <kendo-dialog-actions>
            <button class="k-button" (click)="deleteModels(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
            <button class="k-button" (click)="deleteModels(false)">{{ 'Buttons.No' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>




