<div *ngIf="errorMessages">
  <div *ngFor="let err of errorMessages" class="alert alert-danger">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    {{ err }}
  </div>
</div>

<!-- (add)="saveAllConfig()" -->
<kendo-grid
  id="levelsGrid"
  [rowClass]="rowCallback"
  [resizable]="true"
  (cellClick)="cellClickHandler($event)"
  (cellClose)="cellCloseHandler($event)"
  [data]="viewTreeLevels"
>
  <ng-template kendoGridNoRecordsTemplate>
    {{ "ViewTreeConfig.SelectEntity" | translate }}
  </ng-template>
  <ng-template kendoGridToolbarTemplate>
    <div class="row">
      <div
        class="form-group col-xs-12 col-sm-6"
        [ngClass]="{ 'pull-right': this.currentlang === 'fa' }"
      >
        <label class="control-label">{{
          "ViewTreeConfig.EntityName" | translate
        }}</label>

        <kendo-dropdownlist
          [data]="ddlEntites"
          class="input-frm"
          [filterable]="true"
          [textField]="'value'"
          [valueField]="'key'"
          [(ngModel)]="ddlEntitySelected"
          [value]="ddlEntitySelected"
          [valuePrimitive]="true"
          (valueChange)="handleEntityChange($event)"
          (filterChange)="handleFilter($event)"
        >
        </kendo-dropdownlist>
      </div>

      <div class="form-group col-xs-12 col-sm-6">
        <label class="control-label">{{
          "ViewTreeConfig.MaxDepth" | translate
        }}</label>

        <kendo-numerictextbox
          [(ngModel)]="maxDepthValue"
          class="input-frm"
          [format]="'n'"
          [min]="minDepth"
          [max]="this.maxDepth"
          [step]="1"
          [autoCorrect]="true"
          (ngModelChange)="onChangeDepth()"
        >
        </kendo-numerictextbox>
      </div>
      <div class="clearfix"></div>
    </div>

    <!--<button kendoGridAddCommand  [primary]="true" [disabled]="finalViewTreeConfig.length == 0" >{{ 'ViewTreeConfig.Save' | translate }}</button>-->
  </ng-template>
  <kendo-grid-column
    field="no"
    title="{{ 'ViewTreeConfig.LevelNo' | translate }}"
    width="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="name"
    editor="text"
    width="150"
    title="{{ 'ViewTreeConfig.LevelName' | translate }}"
  ></kendo-grid-column>
  <kendo-grid-column
    field="codeLength"
    width="150"
    editor="numeric"
    title="{{ 'ViewTreeConfig.CodeLength' | translate }}"
  ></kendo-grid-column>

  <kendo-grid-command-column width="150" [style]="{'text-align':'center','padding':'0'}">
    <ng-template kendoGridCellTemplate let-level>
      <button
        class="k-button k-primary"
        [disabled]="!level.isEnabled"
        SppcPermissionCheck="ManageSettings"
        (sppcClick)="setDefaultConfig(level)"
      >
        {{ "ViewTreeConfig.DefaultSettings" | translate }}
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<!--<div class="btn-setting">
  <button class="k-button k-primary" [ngClass]="{'btn-setting-rtl': currentlang == 'fa', 'btn-setting-ltr' : currentlang == 'en' }"
          [disabled]="finalViewTreeConfig.length == 0"
          SppcPermissionCheck="ManageSettings"
          (sppcClick)="saveAllConfig()">
    {{ 'ViewTreeConfig.Save' | translate }}
  </button>
</div>-->
