<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/account']">{{ 'App.Name' | translate }}</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li *ngFor="let cmd of menuList;" (click)="onMenuClick()">
                    <a aria-expanded="false" data-toggle="collapse" href="#div{{cmd.id}}" id="#a{{cmd.id}}">
                        <i class="fa" [ngClass]="{'fa-caret-left':this.currentlang === 'fa' , 'fa-caret-right': this.currentlang === 'en'}" aria-hidden="true"></i>
                        <span class="glyphicons glyphicons-record"></span><span class="menuitem nav-link">{{ cmd.title }}</span>
                    </a>
                    <div id="div{{cmd.id}}" class="collapse">
                        <ul class="nav navbar-nav">
                            <li [routerLinkActive]="['link-active']" *ngFor="let innerCmd of cmd.children;">
                                <a *ngIf="innerCmd.routeUrl != null" routerLink="/{{innerCmd.routeUrl}}">
                                    <span class="glyphicon glyphicon-{{innerCmd.iconName}}"></span><span class="menuitem nav-link"
                                                                                                         data-toggle="collapse" data-target=".navbar-collapse.show">{{ innerCmd.title }}</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

