<div class="panel panel-primary">
        <div class="panel-body">
            <kendo-grid #GridID [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
                        [data]="rowData"
                        [sortable]="true"
                        [pageSize]="pageSize"
                        [skip]="pageIndex"
                        [filter]="state.filter"
                        [pageable]="true"
                        [resizable]="true"
                        [filterable]="true"
                        [scrollable]="'none'"
                        (pageChange)="pageChange($event)"
                        (sortChange)="sortChange($event)"
                        (edit)="editHandler($event)"
                        (remove)="removeHandler($event)"
                        [sort]="state.sort"
                        [selectable]="true"
                        [selectedKeys]="selectedRows"
                        [kendoGridSelectBy]="selectionKey"
                        (dataStateChange)="dataStateChange($event)"
                        (selectedKeysChange)="onSelectedKeysChange($event)">
                <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                                     pagerOf="{{ 'Paging.Of' | translate }}"
                                     pagerItems="{{ 'Paging.Record' | translate }}">
                </kendo-grid-messages>
                <ng-template kendoGridNoRecordsTemplate>
                    {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
                </ng-template>
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand (click)="addNew()" type="button">{{ 'TransactionLine.New' | translate }}</button>
                    <button *ngIf="groupDelete" class="k-button" (click)="deleteTransactions()" type="button">{{ 'Buttons.GroupDelete' | translate }}</button>
                </ng-template>

                <!-- template for mobile -->
                <kendo-grid-column media="(max-width: 449px)" title="">
                    <ng-template kendoGridCellTemplate let-transactionLine>
                        <!-- template for mobile -->
                        <dl>
                            <dt>{{ 'TransactionLine.Debit' | translate }}</dt>
                            <dd>{{ transactionLine.debit }}</dd>

                            <dt>{{ 'TransactionLine.Credit' | translate }}</dt>
                            <dd>{{ transactionLine.credit }}</dd>

                            <dt>{{ 'TransactionLine.Description' | translate  }}</dt>
                            <dd>{{ transactionLine.description }}</dd>
                        </dl>
                        <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                        <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        <table>
                            <tr>
                                <td>{{ 'TransactionLine.DebitSum' | translate }}</td>
                                <td>{{ debitSum }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'TransactionLine.CreditSum' | translate }}</td>
                                <td>{{ creditSum }}</td>
                            </tr>
                        </table>
                    </ng-template>
                </kendo-grid-column>
                <!-- template for mobile -->
                <!-- template for mid-size devices -->
                <kendo-grid-checkbox-column showSelectAll="true" width="10" media="(min-width: 450px) and (max-width: 1024px)"></kendo-grid-checkbox-column>

                <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="TransactionLine.debit">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <sppc-grid-filter [metaData]="getMeta('debit')" [column]="column" [spinners]="true" [filter]="filter"></sppc-grid-filter>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{debitSum}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="TransactionLine.credit">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <sppc-grid-filter [metaData]="getMeta('credit')" [column]="column" [spinners]="true" [filter]="filter"></sppc-grid-filter>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{creditSum}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-command-column media="(min-width: 450px) and (max-width: 1024px)" title="{{ 'Buttons.Edit' | translate }}">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column media="(min-width: 450px) and (max-width: 1024px)" title="{{ 'Buttons.Delete' | translate }}  ">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>
                <!-- template for mid-size devices -->
                <!-- additional columns on large devices -->
                <kendo-grid-checkbox-column showSelectAll="true" media="(min-width: 1024px)"></kendo-grid-checkbox-column>

                <kendo-grid-column media="(min-width: 1024px)" width="200" sppc-grid-column="TransactionLine.debit">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <sppc-grid-filter [metaData]="getMeta('debit')" [column]="column" [filter]="filter"></sppc-grid-filter>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{debitSum}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column media="(min-width: 1024px)" width="200" sppc-grid-column="TransactionLine.credit">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <sppc-grid-filter [metaData]="getMeta('credit')" [column]="column" [filter]="filter"></sppc-grid-filter>
                    </ng-template>
                    <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                        {{creditSum}}
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column media="(min-width: 1024px)" sppc-grid-column="TransactionLine.description">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <sppc-grid-filter [metaData]="getMeta('description')" [column]="column" [filter]="filter"></sppc-grid-filter>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-command-column media="(min-width: 1024px)" title="{{ 'Buttons.Edit' | translate }}">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column media="(min-width: 1024px)" title="{{ 'Buttons.Delete' | translate }}  ">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>
                <!-- additional columns on large devices -->

            </kendo-grid>
            <transactionLine-form-component [model]="editDataItem" [isNew]="isNew" [errorMessage]="errorMessage"
                                            (save)="saveHandler($event)"
                                            (cancel)="cancelHandler()">
            </transactionLine-form-component>
        </div>
        <kendo-dialog title="{{'TransactionLine.Delete' | translate}}" *ngIf="deleteConfirm" (close)="deleteTransactionLine(false)" [minWidth]="250" [width]="450">
            <p>
                {{ deleteConfirmMsg }}
            </p>
            <kendo-dialog-actions>
                <button class="k-button" (click)="deleteTransactionLine(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
                <button class="k-button" (click)="deleteTransactionLine(false)">{{ 'Buttons.No' | translate }}</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>

