<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStateWithDecision" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3302/CartableFCService.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStateWithDecision"
                contract="IStateWithDecision" name="BasicHttpBinding_IStateWithDecision" />
        </client>
    </system.serviceModel>
</configuration>