.widget {
  direction: rtl;
}

.guage {
  display: flex;
  align-items: center;
}

.breadcrumb {
  background-color: transparent;
}

/deep/ body.tRtl .title {
  float: right !important;
}

/deep/ body.tLtr .title {
  float: left !important;
}

/deep/ body.tRtl .settings {
  float: left !important;
  text-align: left;
}

/deep/ body.tLtr .settings {
  float: right !important;
  text-align: right;
}

.content-header {
  padding-top: 0px !important;
}

.title h2 {
  margin-top: 10px;
}

.setting {
  padding-top: 8px;
  font-size: 15px;
}

.settings {
  padding-top: 10px;
  padding-left: 0px;
}

i .fa {
  padding: 4px;
}

.msg-container {
  padding: 2px;
  margin-bottom: 12px;
  min-height: 38px;
}

.confirm-msg {
  padding-top: 5px;
}

a i {
  font-size: large;
  padding-left: 6px;
  padding-right: 6px;
}

.settings .buttons a {
  padding: 5px;
}

/deep/ body.tRtl .settings .confirm-msg {
  text-align: right;
  float: right;
}

/deep/ body.tLtr .settings .confirm-msg {
  text-align: left;
  float: left;
}

/deep/ body.tRtl .settings .dashboard-button {
  float: left;
  padding-left: 3px;
  padding-right: 3px;
}

/deep/ body.tLtr .settings .dashboard-button {
  float: right;
  padding-left: 3px;
  padding-right: 3px;
}

/deep/ gridster
{
  min-height: calc(100vh - 50px);
}

/deep/ .ui-tabview-nav
{
  flex-direction: row-reverse;
  display: flex;
}

/deep/ .ui-tabview-title
{
  cursor: pointer;
}