<section class="content-header col-md-12">
  <div class="col-md-7 col-lg-5 col-xs-12 settings">
    <ng-template [ngIf]="isDashboardEditMode">
      <div
        class="alert alert-warning msg-container"
        [ngClass]="isDashboardEditMode ? 'col-md-7' : ''"
      >
        <div class="dashboard-button">
          <button (click)="onOkClick()" class="k-button k-primary">
            {{ "Buttons.Ok" | translate }}
          </button>
        </div>
        <div class="dashboard-button">
          <button (click)="onCancelClick()" class="k-button k-primary">
            {{ "Buttons.Cancel" | translate }}
          </button>
        </div>
        <div class="col-md-8 confirm-msg">
          <span>{{ "Dashboard.SettingConfirm" | translate }}</span>
        </div>
      </div>
    </ng-template>
    <div
      class="buttons"
      [ngClass]="isDashboardEditMode ? 'col-md-4' : 'col-md-6'"
    >
      <a href="#/tadbir/dashboard" (click)="onAddWidgetClick()"
        ><i class="fa fa-plus"></i>{{ "Dashboard.AddWidget" | translate }}</a
      >
      <a
        href="#/tadbir/dashboard"
        *ngIf="!isDashboardEditMode"
        (click)="onSettingClick()"
        ><i class="fa fa-cog"></i>{{ "Dashboard.Setting" | translate }}</a
      >
    </div>
  </div>
  <div class="col-md-5 col-lg-7 col-xs-12 title">
    <h2>
      {{ "Dashboard.DashboardTitle" | translate }}
    </h2>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4>{{ cashierBalance | number }}</h4>
          <p>{{ "Dashboard.InventoryFunds" | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#/tadbir/dashboard" class="small-box-footer"
          >اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h4>{{ bankBalance | number }}</h4>
          <p>{{ "Dashboard.BankBalance" | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#/tadbir/dashboard" class="small-box-footer"
          >اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4>{{ unbalancedVoucherCount }}</h4>
          <p>{{ "Dashboard.UnverifiedDocuments" | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#/tadbir/dashboard" class="small-box-footer"
          >اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h4>{{ liquidRatio }}</h4>
          <p>{{ "Dashboard.CurrentRatio" | translate }}</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#/tadbir/dashboard" class="small-box-footer"
          >اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <div class="row widgets">
    <div style="height: 100vh; width: 100%; direction: ltr">
      <p-tabView
        (onChange)="onTabChange($event)"
        *ngIf="currentDashboard"
        [(activeIndex)]="currentDashboardTabIndex"
      >
        <p-tabPanel
          [header]="tab.title"
          *ngFor="
            let tab of currentDashboard.tabs;
            let i = index;
            let firstIndex = first
          "
        >
          <ng-container *ngIf="getWidgets(tab.id) | async as widgets">
            <gridster [options]="widgetOptions[tab.id]">
              <gridster-item [item]="item" *ngFor="let item of widgets">
                <ng-container *ngIf="item.typeId == 2">
                  <widget
                    (closeWidget)="onCloseWidget($event)"
                    [widgetId]="item.id"
                    [isEditMode]="isDashboardEditMode"
                    [headerTitle]="item.title"
                  >
                    <widget-container>
                      <div class="box-body" body>
                        <chart-widget
                          [data]="widgetData[item.id + '-' + tab.id]"
                          [type]="'bar'"
                          [options]="basicOptions"
                        ></chart-widget>
                      </div>
                    </widget-container>
                  </widget>
                </ng-container>
              </gridster-item>
            </gridster>
          </ng-container>
        </p-tabPanel>
      </p-tabView>
      <!-- <ng-container *ngIf="getWidgets(1) | async as widgets">
        <gridster [options]="options">
          <gridster-item [item]="item" *ngFor="let item of widgets">
            <ng-container *ngIf="item.typeId == 0">
              <widget
                (closeWidget)="onCloseWidget($event)"
                [widgetId]="item.id"
                [isEditMode]="isDashboardEditMode"
                [headerTitle]="item.title"
              >
                <widget-container>
                  <div class="box-body" body>
                    <chart-widget
                      [type]="'bar'"
                      [data]="grossChartData"
                      [options]="basicOptions"
                    ></chart-widget>
                  </div>
                </widget-container>
              </widget>
            </ng-container>
          </gridster-item>
        </gridster>
      </ng-container> -->
    </div>
  </div>
  <ng-template #chart1>
    <widget
      (closeWidget)="onCloseWidget($event)"
      [widgetId]="1"
      [isEditMode]="isDashboardEditMode"
      headerTitle="{{ 'Dashboard.GrossSales' | translate }}"
    >
      <widget-container>
        <div class="box-body" body>
          <chart-widget
            [type]="'bar'"
            [data]="grossChartData"
            [options]="basicOptions"
          ></chart-widget>
        </div>
      </widget-container>
    </widget>
  </ng-template>
  <ng-template #chart2>
    <widget
      (closeWidget)="onCloseWidget($event)"
      [widgetId]="2"
      [isEditMode]="isDashboardEditMode"
      headerTitle="{{ 'Dashboard.NetSales' | translate }}"
    >
      <widget-container>
        <div class="box-body" body>
          <chart-widget
            [type]="'bar'"
            [data]="netChartData"
            [options]="basicOptions"
          ></chart-widget>
        </div>
      </widget-container>
    </widget>
  </ng-template>
  <ng-template #guage>
    <div class="col-sm-12 col-md-3 guage">
      <kendo-radialgauge
        [pointer]="{ value: liquidRatio }"
        [scale]="{ max: 4000 }"
      >
      </kendo-radialgauge>
    </div>
  </ng-template>
</section>
