.widget {
  direction: rtl;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.guage {
  display: flex;
  align-items: center;
}

.breadcrumb {
  background-color: transparent;
}

.grid-ster
{
  font-family: 'SPPC';
}

.no-data
{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30%;
}

.input-tab-name
{
  width:100px;
}

::ng-deep body.tRtl .title {
  float: right !important;
}

::ng-deep body.tLtr .title {
  float: left !important;
}

::ng-deep .settings {
  display: flex;
  flex-wrap: wrap;
}

::ng-deep body.tRtl .settings {
  float: left !important;
  text-align: left;
}

::ng-deep body.tLtr .settings {
  float: right !important;
  text-align: right;
}

.content-header {
  padding-top: 0px !important;
}

.title h2 {
  margin-top: 10px;
}

.setting {
  padding-top: 8px;
  font-size: 15px;
}

.settings {
  padding-top: 10px;
  padding-left: 0px;
}

i .fa {
  padding: 4px;
}

.msg-container {
  padding: 2px;
  margin-bottom: 12px;
  min-height: 38px;
}

.confirm-msg {
  padding-top: 5px;
}

a i {
  font-size: large;
  padding-left: 6px;
  padding-right: 6px;
}

.buttons {padding: 5px;}

.settings .buttons a {
  padding: 5px;
}

.remove-tab{
  padding-right:3px;
  padding-left: 3px;
}

::ng-deep body.tRtl .settings .confirm-msg {
  text-align: right;
  float: right;
}

::ng-deep body.tLtr .settings .confirm-msg {
  text-align: left;
  float: left;
}

::ng-deep body.tRtl .settings .dashboard-button {
  float: left;
  padding-left: 3px;
  padding-right: 3px;
}

::ng-deep body.tLtr .settings .dashboard-button {
  float: right;
  padding-left: 3px;
  padding-right: 3px;
}

::ng-deep gridster
{
  min-height: 1200px;
  overflow-y: scroll;
}

::ng-deep .ui-tabview-nav
{
  flex-direction: row-reverse;
  display: flex;
}

::ng-deep .ui-tabview-title
{
  cursor: pointer;
}

::ng-deep li.ui-state-active a span.tab-title
{
  border-bottom-style: solid;
  font-weight: bolder;
  font-size: medium;
  color: rgb(0, 96, 206);
}

::ng-deep .p-tabview .p-tabview-nav li {
  font-size: 14px;
  font-family: 'SPPC';
}

::ng-deep .w-tab-icon {
  color: brown;
  margin-inline-end: 5px;
  transition: all 0.3s;
}

::ng-deep .w-tab-icon:hover {
  color: red;
  transition: all 0.3s;
}

::ng-deep .p-tabview-panels{
  direction: ltr;
}

::ng-deep .k-window-content {
  overflow-x: hidden;
}
