<section class="content-header col-md-12">
  <div class="col-md-12 col-lg-2 col-xs-12 title">
    <h2>
      {{ "Dashboard.DashboardTitle" | translate }}
    </h2>
  </div>
  <div class="col-md-12 col-lg-10 col-xs-12 settings">
    <div
      class="buttons"
      [ngClass]="isDashboardEditMode ? 'col-lg-7 col-md-6' : 'col-md-12'"
    >
      <a class="icon-button cursor-pointer" (click)="onRefreshDashboardClick()">
        <i class="fa fa-refresh" id="refreshDashboard"></i>
        {{ "Dashboard.RefreshDashboard" | translate }}
      </a>
      <a *ngIf="isAccess('Dashboard',this.manageWidgets)"
       href="#/tadbir/dashboard" (click)="onManageWidgetsClick()">
        <i class="fa fa-cubes"></i>{{ "Dashboard.ManageWidgets" | translate }}
      </a>
      <a
        href="#/tadbir/dashboard"
        *ngIf="this.currentDashboard"
        (click)="onAddTabClick()"
      >
        <i class="fa fa-plus"></i>{{ "Dashboard.AddTab" | translate }}
      </a>
      <a href="#/tadbir/dashboard" (click)="onAddWidgetClick()">
        <i class="fa fa-plus"></i>{{ "Dashboard.AddWidget" | translate }}
      </a>
      <a
        href="#/tadbir/dashboard"
        *ngIf="!isDashboardEditMode"
        (click)="onSettingClick()"
      >
        <i class="fa fa-cog"></i>{{ "Dashboard.Setting" | translate }}
      </a>
    </div>
    <ng-template [ngIf]="isDashboardEditMode">
      <div
        class="alert alert-warning msg-container"
        [ngClass]="isDashboardEditMode ? 'col-lg-5 col-md-6' : ''"
      >
        <div class="dashboard-button">
          <button (click)="onOkClick()" class="k-button k-primary">
            {{ "Buttons.Ok" | translate }}
          </button>
        </div>
        <div class="dashboard-button">
          <button (click)="onCancelClick()" class="k-button k-primary">
            {{ "Buttons.Cancel" | translate }}
          </button>
        </div>
        <div class="col-md-8 confirm-msg">
          <span>{{ "Dashboard.SettingConfirm" | translate }}</span>
        </div>
      </div>
    </ng-template>
  </div>
</section>

<!-- Main content -->
<section class="content clear" style="padding-top: 0">
  <div class="row widgets">
    <div style="height: 100vh; width: 100%; direction: ltr">
      <p-tabView
        #tabContainer
        (onChange)="onTabChange($event)"
        [class]="this.CurrentLanguage == 'fa' ? 'rtl' : 'ltr'"
        *ngIf="currentDashboard"
        [(activeIndex)]="currentDashboardTabIndex"
      >
        <p-tabPanel
          [header]="tab.title"
          [id]="tab.id"
          *ngFor="
            let tab of currentDashboard.tabs;
            let i = index;
            let firstIndex = first
          "
        >
          <ng-template pTemplate="header">
            <span
              (click)="removeTab(tab.id)"
              *ngIf="isDashboardEditMode"
              class="w-tab-icon"
            >
              <i class="fa fa-trash remove-tab"></i>
            </span>

            <input
              class="input-tab-name"
              *ngIf="
                isDashboardEditMode && editInlineTabName === tab.id;
                else title
              "
              type="text"
              [(ngModel)]="tabTitle"
              (blur)="onBlurTabName(tab.title)"
              (keyup.enter)="onTitleEnterKey(tab.id)"
              value="{{ tab.title }}"
            />
            <ng-template #title
              ><span
                class="tab-title"
                (dblclick)="tabTitleDblClick(tab.id, tab.title)"
                >{{ tab.title }}</span
              ></ng-template
            >
          </ng-template>
          <ng-container *ngIf="getWidgets(tab.id) | async as widgets">
            <gridster [options]="widgetOptions[tab.id]">
              <gridster-item
                class="grid-ster"
                [item]="item"
                *ngFor="let item of widgets"
              >
                <ng-container
                  *ngIf="
                    item.typeId == 2 ||
                    item.typeId == 1 ||
                    item.typeId == 3 ||
                    item.typeId == 4 ||
                    item.typeId == 10 ||
                    item.typeId == 11 ||
                    item.typeId == 12
                  "
                >
                  <widget
                    (closeWidget)="onCloseWidget($event)"
                    [widgetId]="item.id"
                    [tabId]="tab.id"
                    [isEditMode]="isDashboardEditMode"
                    [headerTitle]="widgetSettings[item.id + '-' + tab.id].title"
                    [setting]="widgetSettings[item.id + '-' + tab.id]"
                    (settingChanged)="onSettingChanged($event)"
                    (refreshWidget)="onRefreshWidget(tab,item)"
                  >
                    <widget-container>
                      <div class="box-body" body>
                        <div
                          *ngIf="
                            widgetStatus[item.id + '-' + tab.id] ===
                              'progress' && !getData(item.id, tab.id)
                          "
                          class="no-data"
                        >
                          <span>{{
                            "Dashboard.WidgetInProgress" | translate
                          }}</span>
                        </div>
                        <div
                          *ngIf="
                            widgetStatus[item.id + '-' + tab.id] === 'done' &&
                            !getData(item.id, tab.id)
                          "
                          class="no-data"
                        >
                          <span>{{
                            "Dashboard.WidgetNoData" | translate
                          }}</span>
                        </div>
                        <chart-widget
                          *ngIf="getData(item.id, tab.id)"
                          [data]="getData(item.id, tab.id)"
                          [type]="getChartType(item.typeId, item.id, tab.id)"
                          [initOptions]="
                            getOptions(item.typeId, item.id, tab.id)
                          "
                        ></chart-widget>
                      </div>
                    </widget-container>
                  </widget>
                </ng-container>
              </gridster-item>
            </gridster>
          </ng-container>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <ng-template #chart1>
    <widget
      (closeWidget)="onCloseWidget($event)"
      [widgetId]="1"
      [isEditMode]="isDashboardEditMode"
      headerTitle="{{ 'Dashboard.GrossSales' | translate }}"
    >
      <widget-container>
        <div class="box-body" body>
          <chart-widget
            [type]="'bar'"
            [data]="grossChartData"
            [initOptions]="basicOptions"
          ></chart-widget>
        </div>
      </widget-container>
    </widget>
  </ng-template>
  <ng-template #chart2>
    <widget
      (closeWidget)="onCloseWidget($event)"
      [widgetId]="2"
      [isEditMode]="isDashboardEditMode"
      headerTitle="{{ 'Dashboard.NetSales' | translate }}"
    >
      <widget-container>
        <div class="box-body" body>
          <chart-widget
            [type]="'bar'"
            [data]="netChartData"
            [initOptions]="basicOptions"
          ></chart-widget>
        </div>
      </widget-container>
    </widget>
  </ng-template>
  <ng-template #guage>
    <div class="col-sm-12 col-md-3 guage">
      <kendo-radialgauge
        [pointer]="{ value: liquidRatio }"
        [scale]="{ max: 4000 }"
      >
      </kendo-radialgauge>
    </div>
  </ng-template>
</section>
