<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="babaksoft.platform.metaDesigner" type="BabakSoft.Platform.Configuration.MetaDesignerSection, BabakSoft.Platform.Configuration"/>
  </configSections>
  <babaksoft.platform.metaDesigner>
    <generators>
      <add name="PocoGenerator" outputType="Poco" fileName="{0}.Generated.cs" template="DataGeneration.Engine.PocoFromMetadata, BabakSoft.Tools.MetaDesigner.Engine" />
      <add name="ViewModelGenerator" outputType="ViewModel" fileName="{0}ViewModel.Generated.cs" template="DataGeneration.Engine.ViewModelFromMetadata, BabakSoft.Tools.MetaDesigner.Engine" />
      <add name="FluentMappingGenerator" outputType="FluentMapping" fileName="{0}Map.Generated.cs" template="DataGeneration.Engine.FluentMappingFromMetadata, BabakSoft.Tools.MetaDesigner.Engine" />
      <add name="MappingTestGenerator" outputType="MappingTest" fileName="{0}MapTest.Generated.cs" template="DataGeneration.Engine.MappingTestFromMetadata, BabakSoft.Tools.MetaDesigner.Engine" />
      <add name="MappingGenerator" outputType="XmlMapping" fileName="{0}.hbm.xml" template="DataGeneration.Engine.MappingFromMetadata, BabakSoft.Tools.MetaDesigner.Engine" />
      <add name="TableGenerator" outputType="CreateTable" fileName="{0}_CreateTable.sql" template="DataGeneration.Engine.TableFromMetadata, BabakSoft.Tools.MetaDesigner.Engine" />
      <add name="RepositoryGenerator" outputType="Repository" fileName="{0}Repository.Generated.cs" template="DataGeneration.Engine.NHibernateRepository, BabakSoft.Tools.MetaDesigner.Engine" />
      <add name="DummyGenerator" outputType="DummyFactory" fileName="DummyFactory.Generated.cs" template="DataGeneration.Engine.DummyFactoryFromMetadata, BabakSoft.Tools.MetaDesigner.Engine" />
    </generators>
    <commands>
      <add type="object" targetType="Repository" name="GenerateDummyFactoryClass" title="DummyFactory Class" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="object" type="Repository" value="" />
          <add name="fileName" type="System.String" value="DummyFactory.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.DummyFactoryFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GeneratePocoClass" title="POCO Class" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.PocoFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateViewModelClass" title="View Model Class" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}ViewModel.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.ViewModelFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateFluentMapping" title="Fluent Mapping Class" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}Map.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.FluentMappingFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateMappingTest" title="Mapping Test Class" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}MapTest.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.MappingTestFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateXmlMapping" title="NHibernate Mapping" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}.hbm.xml" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.MappingFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateCreateTable" title="CREATE TABLE Script" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}_CreateTable.sql" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.TableFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateRepositoryClass" title="Repository Class" parent="Generate" handler="DataGeneration.Engine.GenerateFileCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}Repository.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.NHibernateRepository,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGeneratePocoClass" title="POCO Classes" parent="Generate" handler="DataGeneration.Engine.GenerateFileBatchCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="fileName" type="System.String" value="{0}.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.PocoFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateViewModelClass" title="View Model Classes" parent="Generate" handler="DataGeneration.Engine.GenerateFileBatchCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="fileName" type="System.String" value="{0}ViewModel.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.ViewModelFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateFluentMappingClass" title="Fluent Mapping Classes" parent="Generate" handler="DataGeneration.Engine.GenerateFileBatchCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="fileName" type="System.String" value="{0}Map.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.FluentMappingFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateMappingTestClass" title="Mapping Test Classes" parent="Generate" handler="DataGeneration.Engine.GenerateFileBatchCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="fileName" type="System.String" value="{0}MapTest.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.MappingTestFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateXmlMapping" title="NHibernate Mappings" parent="Generate" handler="DataGeneration.Engine.GenerateFileBatchCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="fileName" type="System.String" value="{0}.hbm.xml" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.MappingFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateCreateTable" title="CREATE TABLE Scripts" parent="Generate" handler="DataGeneration.Engine.GenerateFileBatchCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="fileName" type="System.String" value="{0}_CreateTable.sql" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.TableFromMetadata,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateRepositoryClass" title="Repository Classes" parent="Generate" handler="DataGeneration.Engine.GenerateFileBatchCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="fileName" type="System.String" value="{0}Repository.Generated.cs" />
          <add name="template" type="System.String" value="BabakSoft.Tools.MetaDesigner.Transforms.NHibernateRepository,BabakSoft.Tools.MetaDesigner.Transforms" />
        </parameters>
      </add>
    </commands>
    <defaultCommands>
      <add type="collection" targetType="" name="NewItem" title="New {0}" parent="" needsInput="true" handler="DataGeneration.Engine.AddItemCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="collection" type="" value="" />
          <add name="wrapper" type="" value="" />
        </parameters>
      </add>
      <add type="item" targetType="" name="DeleteItem" title="Delete" parent="" handler="DataGeneration.Engine.DeleteItemCommand,BabakSoft.Tools.MetaDesigner.Engine">
        <parameters>
          <add name="item" type="" value="" />
          <add name="collection" type="" value="" />
          <add name="wrapper" type="" value="" />
        </parameters>
      </add>
    </defaultCommands>
    <editors>
      <add name="EntityEditor" type="DataGeneration.Forms.NewEntity,BabakSoft.Tools.MetaDesigner.Forms" itemType="BabakSoft.Platform.Metadata.Entity,BabakSoft.Platform.Metadata" />
      <add name="PropertyEditor" type="DataGeneration.Forms.NewProperty,BabakSoft.Tools.MetaDesigner.Forms" itemType="BabakSoft.Platform.Metadata.Property,BabakSoft.Platform.Metadata" />
      <add name="RelationEditor" type="DataGeneration.Forms.NewRelation,BabakSoft.Tools.MetaDesigner.Forms" itemType="BabakSoft.Platform.Metadata.Relation,BabakSoft.Platform.Metadata" />
    </editors>
  </babaksoft.platform.metaDesigner>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>