<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="DataGeneration.Common" />
    <namespace name="DataGeneration.Engine" />
    <assembly name="BabakSoft.Tools.MetaDesigner.Common" />
    <assembly name="BabakSoft.Tools.MetaDesigner.Engine" />

    <container>
      <register type="IMetaDesignerContextManager" mapTo="MetaDesignerContext" />
      <register type="IMetaDesignerController" mapTo="CommandHandler" />
      <register type="IRepositoryView" mapTo="RepositoryView" />
      <register type="ICommandContext" mapTo="CommandContext" />
      <register type="ITreeViewNode" mapTo="TreeViewNode" />
      <register type="IWaitCursor" mapTo="WaitCursor" />
    </container>

  </unity>
</configuration>