<kendo-dialog *ngIf="active" (close)="closeForm()" [minWidth]="250" [width]="450">
        <kendo-dialog-titlebar>
            {{ isNew ?  ('Buttons.New' | translate) :  ('Buttons.Edit' | translate) }}
        </kendo-dialog-titlebar>

        <form novalidate [formGroup]="editForm"  >
            <div class="form-group">
                <label for="code" class="control-label">{{ 'Account.Code' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="code" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.code.valid || editForm.controls.code.pristine">
                    {{ 'Validations.AccountCode' | translate }}
                </div>
            </div>
            <!--<div class="form-group">                
                <sppc-mask-textbox class="k-textbox" value="13:10" mask="00:00"></sppc-mask-textbox>
            </div>-->
            <!--<div class="form-group">
                <sppc-numberbox class="k-textbox" value="13" ></sppc-numberbox>
            </div>-->
            <div class="form-group">
                <label for="name" class="control-label">{{ 'Account.Name' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="name" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.name.valid || editForm.controls.name.pristine">
                    {{ 'Validations.AccountName' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label for="fiscalPeriodId" class="control-label">{{ 'Account.Fiscal' | translate }}</label>

                <!--<input type="text" class="k-textbox" formControlName="fiscalPeriodId" />-->
                <!--<kendo-dropdownlist [data]="fiscalPeriodRows" [valuePrimitive]="true"
                                    [textField]="'value'" formControlName="fiscalPeriodId" [value]="selectedValue" [(ngModel)]="selectedValue" [valueField]="'key'">
                </kendo-dropdownlist>-->

                <sppc-dropdownlist [data]="fiscalPeriodRows" [valuePrimitive]="true"
                                    [textField]="'value'" formControlName="fiscalPeriodId" [value]="selectedValue" [(ngModel)]="selectedValue"  [valueField]="'key'">
                </sppc-dropdownlist>
              
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.fiscalPeriodId.valid || editForm.controls.fiscalPeriodId.pristine">
                    {{ 'Validations.FiscalPeriodId' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label for="branchId" class="control-label">{{ 'Account.Branch' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="branchId" />
              
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.branchId.valid || editForm.controls.branchId.pristine">
                    {{ 'Validations.BranchId' | translate }}
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">{{ 'Account.Description' | translate }}</label>

                <input type="text" class="k-textbox" formControlName="description" />              
            </div>
        </form>

        <kendo-dialog-actions>
            <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
            <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
