#main-section {
    border: solid 1px #337ab7;
    border-radius: 3px;
    margin:0;
}

    #main-section > .col-sm-6 {
        padding: 0;
    }

@media screen and (max-width:768px) {
    #main-section > .col-sm-6 {
        float: unset !important;
    }
}

.section-header {
    border: solid 1px #337ab7;
    padding: 7px 10px;
}

.section-body {
    padding: 10px;
    border-right: solid 1px #337ab7;
    border-left: solid 1px #337ab7;
    height: 450px;
    overflow-y: scroll;
}

#btn-section .k-button {
    margin-top: 17px;
}

.k-treeview {
    white-space: unset !important;
}

#setting-description {
    position: absolute;
    bottom: 0;
    text-align: justify;
    color: #4a4a4a;
    font-size: 13px;
}

/deep/.k-treeview .k-item{
    cursor:pointer;
}

    /deep/.k-treeview .k-item .k-in:hover {
        color: #337ab7;
    }

        /deep/.k-treeview .k-item .k-state-selected {
            color:#fff !important;
        }