<app-bread-cumb *ngIf="!isChild"></app-bread-cumb>
<div SppcCheckAccess="View" [ngClass]="{'panel-body' : !isChild }">

  <div *ngIf="errorMessages">
    <div *ngFor="let err of errorMessages" class="alert alert-danger">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{ err }}
    </div>
  </div>

  <kendo-grid id="inlineGride" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}" #GridID
              [data]="rowData"
              [sortable]="true"
              [pageSize]="pageSize"
              [skip]="skip"
              [filter]="state.filter"
              [pageable]="true"
              [resizable]="true"
              [filterable]="true"
              [scrollable]="'none'"
              [navigable]="true"
              (pageChange)="pageChange($event)"
              (sortChange)="sortChange($event)"
              [loading]="true"
              (cellClick)="cellClickHandler($event)"
              (add)="addHandler($event)"
              [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
              [(selectedKeys)]="selectedRows"
              [kendoGridSelectBy]="selectionKey"
              (filterChange)="filterChange($event)"
              (selectedKeysChange)="onSelectedKeysChange($event)"
              sppc-grid-reorder sppc-grid-resize>
    <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                         pagerOf="{{ 'Paging.Of' | translate }}"
                         pagerItems="{{ 'Paging.Record' | translate }}">
    </kendo-grid-messages>

    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>{{ 'Buttons.New' | translate }}</button>
      <button *ngIf="formGroup" (click)="cancelHandler()" class="k-button">{{ 'Buttons.Cancel' | translate }}</button>
      <button *ngIf="groupDelete" SppcCheckAccess="Delete" class="k-button" (click)="showConfirm()" type="button">{{ 'Buttons.GroupDelete' | translate }}</button>

      <grid-setting entityTypeName="Project"></grid-setting>
      <grid-filter *ngIf="this.grid.filterable" [parentComponent]="this" [showClearFilter]="this.grid.filter.filters.length"></grid-filter>
    </ng-template>

    <kendo-grid-checkbox-column showSelectAll="true" width="50"></kendo-grid-checkbox-column>

    <kendo-grid-column sppc-grid-column="Project.name" width="200">

      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>

      <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
        <input #input class="k-textbox" [formControl]="formGroup.get(column.field)">
        <kendo-popup [anchor]="input"
                     *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
                     popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
          <span class="k-icon k-i-warning"></span>
          نام پروژه الزامیست
        </kendo-popup>
      </ng-template>

    </kendo-grid-column>


    <kendo-grid-column sppc-grid-column="Project.code">

      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('code')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>

      <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
        <input #input0 class="k-textbox" [formControl]="formGroup.get(column.field)" [OnlyNumber] [SppcCodeLength]="1" [ViewId]="8">

        <kendo-popup [anchor]="input0"
                     *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
                     popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
          <span class="k-icon k-i-warning"></span>
          <span *ngIf="formGroup.get(column.field).errors?.sppcCodeLength">{{ 'MetaDataValidation.CodeLength' | translate }}</span>

        </kendo-popup>
      </ng-template>


    </kendo-grid-column>

    <kendo-grid-column field="fullCode" sppc-grid-column="Project.fullCode">

      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('fullCode')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>

    </kendo-grid-column>

    <kendo-grid-column field="description" sppc-grid-column="Project.description">

      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('description')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>

    </kendo-grid-column>

  </kendo-grid>

</div>
