<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="EditionConfigPath" value="..\..\..\src\TadbirNG\SPPC.Tools.LicenseManager\edition-config.json"/>
    <add key="WebApiLicensePath" value="..\..\..\src\TadbirNG\SPPC.Tadbir.Web.Api\wwwroot\license"/>
    <add key="ClientInstanceIdPath" value="..\..\..\src\TadbirNG\SPPC.Tadbir.Web\ClientApp\src\environments\environment.prod.ts"/>
    <add key="OnlineServerRoot" value="http://localhost:1447"/>
  </appSettings>
</configuration>
