@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }

    #mainContent{
        margin-top:50px;
    }
}

/*.body-content 
{
    height:90%;
}*/

.footer {
    position: fixed;
    background: #fff;
    padding: 7px;
    color: #444;
    border-top: 1px solid #d2d6de;
    height: 38px;
    visibility: hidden;
    width: 100%;
    bottom: 0;
}

kendo-pager {
    z-index: 0 !important;
}

/deep/ .spinner {
    z-index: 100010 !important;
}
