<div class='container-fluid'>
    <div class='row'>        
        <div id="mainContent" class="nopad" [ngClass]="{'col-sm-9 col-xs-12 col-lg-9 col-md-9 body-content' : (showNavbar || !isLogin) ,
             'col-sm-12 col-xs-12 col-md-12 col-lg-12 body-content' : (!showNavbar || isLogin) }">            
            <app-sppc-loading></app-sppc-loading>
            <router-outlet></router-outlet>
            
            <div [ngClass]="{'col-sm-3 col-md-3' : showNavbar , 'hidden-xs hidden-sm hidden-md' : !showNavbar }">
                <nav-menu *ngIf="showNavbar"></nav-menu>
            </div>
            
        </div>
        <div id="dashboardFooter" class="nopad footer" [ngClass]="{ 'hidden-xs hidden-sm hidden-md hidden-lg' : !showNavbar}">
            <div class="col-md-3 col-lg-3" id="spacePad"></div>
            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 nopad">
                <div class="col-md-2 col-sm-3 col-lg-3 col-xs-12 nopad">
                    <div class="col-md-12 nopad">
                        <strong>{{ 'Enviroment.User' | translate }}</strong> : {{userName}}
                    </div>                    
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 nopad">
                    <div class="col-md-12 nopad">
                        <strong>{{ 'Enviroment.Company' | translate }}</strong>:{{companyName}}
                    </div>                    
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3  col-xs-12 nopad">
                    <div class="col-md-12 nopad">
                        <strong>{{ 'Enviroment.FiscalPeriod' | translate }} </strong>: {{ fiscalPeriodName }}
                    </div>                    
                </div>
                <div class="col-md-4 col-sm-3 col-lg-3  col-xs-12 nopad">
                    <div class="col-md-12 nopad">
                        <strong>{{ 'Enviroment.Branch' | translate }} </strong>:{{ branchName }}
</div>                    
                </div>
            </div>
        </div>
    </div>
</div>
