<input type="hidden" id="hdnGridWidth" />
<kendo-dialog [minWidth]="400" width="{{dialogWidth}}" [height]="280" *ngIf="active" class="permission-dialog"
              [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}" (close)="closeDialog()">
  <kendo-dialog-titlebar>
    {{ 'Report.QuickReportSetting' | translate }}
  </kendo-dialog-titlebar>
  <kendo-grid id="grdQRSetting" [data]="viewData.columns"
              [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              #grdQRSetting
              [pageable]="false"
              [height]="200"
              [resizable]="true"
              (columnResize)="gridColumnResized($event)"
              [filterable]="false"
              [reorderable]="true"
              [scrollable]="'scrollable'"
              [loading]="false"
              (dataStateChange)="dataStateChange($event)" [rowClass]="rowCallback">
    <!--[data]="viewData.columns"  [style.width.px]="gridWidth"-->
    <ng-template kendoGridNoRecordsTemplate>
      <div></div>
    </ng-template>
    <ng-template kendoGridToolbarTemplate>
      <button kendoButton (click)="showReport()"
              [icon]="'printer'" type="button"></button>
      <!--<button kendoButton (click)="saveReport()"
          [icon]="'save'" type="button"></button>-->
    </ng-template>
    <kendo-grid-column media="(min-width: 450px)" *ngFor="let item of this.viewInfo.columns "
                       [width]="item.width" field="{{item.name}}">
      <ng-template kendoGridHeaderTemplate>
        <span class="hdrQReport">{{item.userTitle}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem let-column="column" let-columnIndex="columnIndex" let-rowIndex="rowIndex">
        <kendo-switch (valueChange)="switchChange($event,column)" *ngIf="rowIndex === 0"
                      offLabel="{{ 'Report.No' | translate }}"
                      checked="{{dataItem[column.field] === true ? 'checked' : ''}}"
                      onLabel="{{ 'Report.Yes' | translate }}">
        </kendo-switch>
      </ng-template>
    </kendo-grid-column>

  </kendo-grid>
</kendo-dialog>
