<!-- <div class="form-group">
  <ul class="list-group">
    <li
      *ngFor="let widget of widgets"
      class="list-group-item"
      [ngClass]="widgetIsUsed(widget.id) ? 'disabled' : ''"
      [class.active]="widget.id == selectedId"
      (click)="activate(!widgetIsUsed(widget.id) ? widget.id : 0)"
    >
      {{ widget.typeName + " - " + widget.functionName }}
    </li>
  </ul>
</div> -->

<div class="row" >
  <div class="col-xs-12">
    <div class="voucher-form-content">
        <div class="panel-body">
            <kendo-grid
              #GridID
              [ngClass]="{
                tRtl: this.CurrentLanguage === 'fa',
                tLtr: this.CurrentLanguage === 'en'
              }"
              [data]="widgets"
              [height]="300"
              [selectable]="{ checkboxOnly: true, mode: 'single' }"
              [selectedKeys]="[selectedId]"
              [kendoGridSelectBy]="getSelectedRow"
              (selectedKeysChange)="onSelectedKeyChange($event)"
              [rowClass]="selectionToggleClass"
            >
              <ng-template kendoGridNoRecordsTemplate>
                {{ ("App.RecordNotFound" | translate) }}
              </ng-template>

              <kendo-grid-checkbox-column
                showSelectAll="false"
                [width]="50"
              >
              </kendo-grid-checkbox-column>

              <kendo-grid-column [width]="130" field="title" title="{{ 'Widget.Title' | translate }}">
              </kendo-grid-column>
              
              <kendo-grid-column [width]="130" field="functionName" title="{{ 'Widget.FunctionName' | translate }}">
              </kendo-grid-column>

              <kendo-grid-column [width]="130" field="typeName" title="{{ 'Widget.TypeName' | translate }}">
              </kendo-grid-column>

              <kendo-grid-column [width]="150" field="description" title="{{ 'Widget.Description' | translate }}">
              </kendo-grid-column>

            </kendo-grid>
          </div>
    </div>
  </div>
</div>

<kendo-dialog-actions>
  <button
    class="k-button k-primary"
    [disabled]="!selectedId"
    (click)="onSave($event)"
  >
    {{ "Buttons.Ok" | translate }}
  </button>
  <button class="k-button" (click)="onCancel($event)">
    {{ "Buttons.Cancel" | translate }}
  </button>
</kendo-dialog-actions>
