<div class="form-group">
  <ul class="list-group">
    <li
      *ngFor="let widget of widgets"
      class="list-group-item"
      [ngClass]="widgetIsUsed(widget.id) ? 'disabled' : ''"
      [class.active]="widget.id == selectedId"
      (click)="activate(!widgetIsUsed(widget.id) ? widget.id : 0)"
    >
      {{ widget.typeName + " - " + widget.functionName }}
    </li>
  </ul>
</div>

<kendo-dialog-actions>
  <button
    class="k-button k-primary"
    [disabled]="!selectedId"
    (click)="onSave($event)"
  >
    {{ "Buttons.Ok" | translate }}
  </button>
  <button class="k-button" (click)="onCancel($event)">
    {{ "Buttons.Cancel" | translate }}
  </button>
</kendo-dialog-actions>
