
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'ChangePassword.Title' | translate }}</div>
    <div class="panel-body col-sm-offset-4 col-sm-4">

        <div *ngIf="errorMessage != ''">
            <div class="alert alert-danger">
                {{ errorMessage }}
            </div>
        </div>

        <form novalidate [formGroup]="editForm1">

            <div class="form-group">
                <label for="oldPassword" class="control-label">{{ 'ChangePassword.OldPassword' | translate }}</label>

                <input type="password" class="k-textbox" formControlName="oldPassword" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm1.controls.oldPassword.valid || editForm1.controls.oldPassword.pristine">
                    <span *ngIf="editForm1.controls.oldPassword.errors?.required">{{ 'AllValidations.UserProfile.OldPasswordIsRequired' | translate }}</span>                   
                </div>
            </div>

            <div class="form-group">
                <label for="newPassword" class="control-label">{{ 'ChangePassword.NewPassword' | translate }}</label>

                <input type="password" class="k-textbox" formControlName="newPassword" />

                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm1.controls.newPassword.valid || editForm1.controls.newPassword.pristine">
                    <span *ngIf="editForm1.controls.newPassword.errors?.required">{{ 'AllValidations.UserProfile.NewPasswordIsRequired' | translate }}</span>
                    <span *ngIf="editForm1.controls.newPassword.errors?.maxlength">{{ 'AllValidations.UserProfile.NewPasswordLengthRange' | translate }}</span>
                    <span *ngIf="editForm1.controls.newPassword.errors?.minlength">{{ 'AllValidations.UserProfile.NewPasswordLengthRange' | translate }}</span>
                </div>

            </div>

            <div class="form-group">
                <label for="repeatPassword" class="control-label">{{ 'ChangePassword.RepeatPassword' | translate }}</label>

                <input type="password" class="k-textbox" sppcConfirmEqualValidator="newPassword" formControlName="repeatPassword" />
                <div class="k-tooltip k-tooltip-validation" [hidden]="editForm1.controls.repeatPassword.valid || editForm1.controls.repeatPassword.pristine">
                    <span *ngIf="editForm1.controls.repeatPassword.errors?.required">{{ 'AllValidations.UserProfile.RepeatPasswordIsRequired' | translate }}</span>
                    <span *ngIf="editForm1.controls.repeatPassword.errors?.maxlength">{{ 'AllValidations.UserProfile.NewPasswordLengthRange' | translate }}</span>
                    <span *ngIf="editForm1.controls.repeatPassword.errors?.minlength">{{ 'AllValidations.UserProfile.NewPasswordLengthRange' | translate }}</span>
                    <span *ngIf="editForm1.controls.repeatPassword.errors?.notEqual && !editForm1.controls.repeatPassword.errors?.minlength && !editForm1.controls.repeatPassword.errors?.maxlength">
                        {{ 'AllValidations.UserProfile.RepeatPasswordAndNewPasswordDoNotMatch' | translate }}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <button class="k-button k-primary" [disabled]="!editForm1.valid" (click)="onSave($event)" primary="true">{{ 'Buttons.Ok' | translate }}</button>
            </div>

        </form>

    </div>
    <div class="clearfix"></div>

</div>




