
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Entity.User' | translate }}</div>
    <div class="panel-body">
        <kendo-grid #GridID [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
                    [data]="rowData"
                    [sortable]="true"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [filter]="state.filter"
                    [pageable]="true"
                    [resizable]="true"
                    [filterable]="true"
                    [scrollable]="'none'"
                    (pageChange)="pageChange($event)"
                    (sortChange)="sortChange($event)"
                    (edit)="editHandler($event)"                    
                    [sort]="state.sort"
                    [selectable]="true"
                    [selectedKeys]="selectedRows"
                    [kendoGridSelectBy]="selectionKey"
                    (dataStateChange)="dataStateChange($event)"
                    (selectedKeysChange)="onSelectedKeysChange($event)">
            <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                                 pagerOf="{{ 'Paging.Of' | translate }}"
                                 pagerItems="{{ 'Paging.Record' | translate }}">
            </kendo-grid-messages>
            <ng-template kendoGridNoRecordsTemplate>
                {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
            </ng-template>
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand (click)="addNew()" type="button">{{ 'User.New' | translate }}</button>
            </ng-template>
            <!-- template for mobile -->
            <kendo-grid-column media="(max-width: 449px)" title="">
                <ng-template kendoGridCellTemplate let-user>
                    <!-- template for mobile -->
                    <dl>
                        <dt>{{ 'User.PersonFirstName' | translate }}</dt>
                        <dd>{{ user.personFirstName }}</dd>

                        <dt>{{ 'User.PersonLastName' | translate }}</dt>
                        <dd>{{ user.personLastName }}</dd>

                        <!--<dd>{{ user.personLastName | SppcDate }}</dd>-->

                        <dt>{{ 'User.UserName' | translate  }}</dt>
                        }}
                        <dd>{{ user.userName }}</dd>

                        <dt>{{ 'User.LastLoginDate' | translate }}</dt>
                        <dd> {{ user.lastLoginDate | SppcDate:'DateTime' }}</dd>

                        <dt>{{ 'User.IsEnabled' | translate }}</dt>
                        <dd>
                            <div *ngIf="user.isEnabled;then active else inactive"></div>
                            <ng-template #active>
                                {{ 'User.Active' | translate }}
                            </ng-template>
                            <ng-template #inactive>
                                {{ 'User.Inactive' | translate }}
                            </ng-template>
                        </dd>
                    </dl>
                    <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                </ng-template>
            </kendo-grid-column>
            <!-- template for mobile -->
            <!-- template for mid-size devices -->
            <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="User.userName">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('userName')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="250" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="User.lastLoginDate">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('lastLoginDate')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
                <ng-template kendoGridCellTemplate let-user>
                    {{ user.lastLoginDate | SppcDate:'DateTime' }}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="User.isEnabled">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('isEnabled')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
                <ng-template kendoGridCellTemplate let-user>
                    <div *ngIf="user.isEnabled;then active else inactive"></div>
                    <ng-template #active>
                        {{ 'User.Active' | translate }}
                    </ng-template>
                    <ng-template #inactive>
                        {{ 'User.Inactive' | translate }}
                    </ng-template>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column media="(min-width: 450px) and (max-width: 1024px)" title="{{ 'Buttons.Edit' | translate }}">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- template for mid-size devices -->
            <!-- additional columns on large devices -->
            <kendo-grid-column media="(min-width: 1024px)" width="130" sppc-grid-column="User.personFirstName">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('personFirstName')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 1024px)" width="130" sppc-grid-column="User.personLastName">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('PersonLastName')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 1024px)" width="130" sppc-grid-column="User.userName">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('userName')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="User.lastLoginDate">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('lastLoginDate')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
                <ng-template kendoGridCellTemplate let-user>
                    {{ user.lastLoginDate | SppcDate:'DateTime' }}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 1024px)" width="80" sppc-grid-column="User.isEnabled">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('isEnabled')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
                <ng-template kendoGridCellTemplate let-user>
                    <div *ngIf="user.isEnabled;then active else inactive"></div>
                    <ng-template #active>
                        {{ 'User.Active' | translate }}
                    </ng-template>
                    <ng-template #inactive>
                        {{ 'User.Inactive' | translate }}
                    </ng-template>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-command-column media="(min-width: 1024px)" width="60" title="{{ 'Buttons.Edit' | translate }}">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- additional columns on large devices -->

        </kendo-grid>
        <user-form-component [model]="editDataItem" [isNew]="isNew" [errorMessage]="errorMessage"
                             (save)="saveHandler($event)"
                             (cancel)="cancelHandler()">
        </user-form-component>
    </div>

</div>




