<kendo-dialog *ngIf="active" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              (close)="closeForm()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        {{ isNew ?  ('Buttons.New' | translate) :  ('Buttons.Edit' | translate) }}
    </kendo-dialog-titlebar>

    <div *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>

    <form novalidate [formGroup]="editForm">

        <div class="form-group">
            <label for="personFirstName" class="control-label">{{ 'User.PersonFirstName' | translate }}</label>

            <input type="text" class="k-textbox" formControlName="personFirstName" />

            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.personFirstName.valid || editForm.controls.personFirstName.pristine">
                <span *ngIf="editForm.controls.personFirstName.errors?.required">{{ 'AllValidations.User.PersonFirstNameIsRequired' | translate }}</span>
                <span *ngIf="editForm.controls.personFirstName.errors?.maxlength">{{ 'AllValidations.User.PersonFirstNameIsTooLong' | translate }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="personLastName" class="control-label">{{ 'User.PersonLastName' | translate }}</label>

            <input type="text" class="k-textbox" formControlName="personLastName" />

            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.personLastName.valid || editForm.controls.personLastName.pristine">
                <span *ngIf="editForm.controls.personLastName.errors?.required">{{ 'AllValidations.User.PersonLastNameIsRequired' | translate }}</span>
                <span *ngIf="editForm.controls.personLastName.errors?.maxlength">{{ 'AllValidations.User.PersonLastNameIsTooLong' | translate }}</span>
            </div>

        </div>

        <div class="form-group">
            <label for="userName" class="control-label">{{ 'User.UserName' | translate }}</label>

            <input type="text" class="k-textbox" formControlName="userName" />

            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.userName.valid || editForm.controls.userName.pristine">
                <span *ngIf="editForm.controls.userName.errors?.required">{{ 'AllValidations.User.UserNameIsRequired' | translate }}</span>
                <span *ngIf="editForm.controls.userName.errors?.maxlength">{{ 'AllValidations.User.UserNameIsTooLong' | translate }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label">{{ 'User.Password' | translate }}</label>

            <input type="password" class="k-textbox" formControlName="password" />

            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.password.valid || editForm.controls.password.pristine">
                <span *ngIf="editForm.controls.password.errors?.required">{{ 'AllValidations.User.PasswordIsRequired' | translate }}</span>
                <span *ngIf="editForm.controls.password.errors?.maxlength">{{ 'AllValidations.User.PasswordLengthRange' | translate }}</span>
                <span *ngIf="editForm.controls.password.errors?.minlength">{{ 'AllValidations.User.PasswordLengthRange' | translate }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="isEnabled" class="control-label">{{ 'User.IsEnabled' | translate }}</label>

            <kendo-switch formControlName="isEnabled"
                          [onLabel]="('User.Active' | translate)"
                          [offLabel]="('User.Inactive' | translate)">
            </kendo-switch>

        </div>

    </form>

    <kendo-dialog-actions>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
        <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
    </kendo-dialog-actions>
</kendo-dialog>
