@using SPPC.Framework.Values

@{
    ViewBag.Title = ErrorMessages.AccessDeniedTitle;
}

<div class="error-message">
    <div class="alert alert-danger">
        <h2>@ErrorMessages.AccessDeniedTitle</h2>
        <h4>@ErrorMessages.AccessDenied</h4>
    </div>
    <p>@ErrorMessages.AccessDeniedHint</p>
</div>
