@using SPPC.Framework.Values

@{
    ViewBag.Title = ErrorMessages.PageNotFoundTitle;
}

<div class="error-message">
    <div class="alert alert-info">
        <h2 class="text-info">@ErrorMessages.PageNotFoundTitle</h2>
        <h4 class="text-info">@ErrorMessages.PageNotFound</h4>
    </div>
    <p>@ErrorMessages.PageNotFoundHint</p>
</div>
