<app-bread-cumb [entityTypeName]="entityTypeName"></app-bread-cumb>

<view-identifier [ViewID]="viewId"></view-identifier>
<!--<report-management
  [ViewIdentity]="viewIdentity"
  [Grid]="grid"
  [Sort]="sort"
  [Filter]="reportFilter"
  [RowData]="rowData"
></report-management>
<report-setting></report-setting> -->

<div class="panel-body" style="padding-top: 0">
    <div *ngIf="errorMessages">
      <div *ngFor="let err of errorMessages" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ err }}
      </div>
    </div>
  
    <div class="row">
      <div class="col-xs-12 sppc-float" style="margin-top: 5px">
        <button
          class="k-button sh-new-voucher"
          title="{{ 'Voucher.NewVoucher' | translate }}"
          [EntityName]="entityTypeName"
          SppcPermissionCheck="Create"
          (sppcClick)="checkOperation(checkBookOperationsItem.New)"
        >
          <span class="k-icon k-i-file-add"></span>
        </button>
        <button
          [EntityName]="entityTypeName"
          SppcPermissionCheck="Delete"
          (sppcClick)="removeHandler()"
          class="k-button sh-remove-voucher"
          title="{{ 'Buttons.Delete' | translate }}"
        >
          <span class="k-icon k-i-delete"></span>
        </button>

        <button
          class="k-button"
          title="{{ 'Voucher.SearchVoucher' | translate }}"
          (click)="checkOperation(checkBookOperationsItem.Search)"
        >
          <span class="k-icon k-i-search"></span>
        </button>

        <button
          class="k-button not-change"
          title="{{ 'Voucher.FirstVoucher' | translate }}"
          [attr.disabled]="isFirstCheckBook ? true : null"
          [EntityName]="entityTypeName"
          SppcPermissionCheck="Navigate"
          (sppcClick)="checkOperation(checkBookOperationsItem.First)"
        >
          <span class="k-icon k-i-arrow-end-right"></span>
        </button>

        <button
          class="k-button not-change"
          [attr.disabled]="isFirstCheckBook ? true : null"
          title="{{ 'Voucher.PreviousVoucher' | translate }}"
          [EntityName]="entityTypeName"
          SppcPermissionCheck="Navigate"
          (sppcClick)="checkOperation(checkBookOperationsItem.Previous)"
        >
          <span class="k-icon k-i-arrow-double-60-right"></span>
        </button>

        <button
          class="k-button not-change"
          [attr.disabled]="isLastCheckBook ? true : null"
          title="{{ 'Voucher.NextVoucher' | translate }}"
          [EntityName]="entityTypeName"
          SppcPermissionCheck="Navigate"
          (sppcClick)="checkOperation(checkBookOperationsItem.Next)"
        >
          <span class="k-icon k-i-arrow-double-60-left"></span>
        </button>

        <button
          class="k-button not-change"
          title="{{ 'Voucher.LastVoucher' | translate }}"
          [attr.disabled]="isLastCheckBook ? true : null"
          [EntityName]="entityTypeName"
          SppcPermissionCheck="Navigate"
          (sppcClick)="checkOperation(checkBookOperationsItem.Last)"
        >
          <span class="k-icon k-i-arrow-end-left"></span>
        </button>

        <button
          kendoButton
          [EntityName]="entityTypeName"
          SppcPermissionCheck="Print"
          (sppcClick)="showReport()"
          class="hidden-xs rm print sh-print"
          type="button"
          [icon]="'printer'"
        ></button>

        <button
          class="k-button k-button-icon sppc-float-diff"
          title="{{ 'Buttons.Help' | translate }}"
        >
          <span class="k-icon k-i-help"></span>
        </button>
      </div>
    </div>
    <div class="form-container">
      <form novalidate class="myForm" [formGroup]="editForm" (keydown.enter)="onSave($event)">
        <div class="form-group col-sm-5ths col-xs-12 item">
          <label for="name" class="control-label">{{ 'CheckBook.Name' | translate }}</label>
    
          <input sppcAutoFocus type="text" class="k-textbox" formControlName="name" [disabled]="editMode"/>
    
          <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.name.valid || editForm.controls.name.pristine">
            <span *ngIf="editForm.controls.name.errors?.required">{{ 'AllValidations.CompanyDb.NameIsRequired' | translate }}</span>
            <span *ngIf="editForm.controls.name.errors?.maxlength">{{ 'AllValidations.CompanyDb.NameIsTooLong' | translate }}</span>
          </div>
        </div>
  
        <div class="form-group col-sm-5ths col-xs-12 item">
          <label for="name" class="control-label">{{ 'CheckBook.BankName' | translate }}</label>
    
          <input type="text" class="k-textbox" formControlName="bankName" [disabled]="editMode"/>
    
          <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.bankName.valid || editForm.controls.bankName.pristine">
            <span *ngIf="editForm.controls.bankName.errors?.required">{{ 'AllValidations.CompanyDb.NameIsRequired' | translate }}</span>
            <span *ngIf="editForm.controls.bankName.errors?.maxlength">{{ 'AllValidations.CompanyDb.NameIsTooLong' | translate }}</span>
          </div>
        </div>
  
        <div class="form-group col-sm-5ths col-xs-12 item">
          <label for="name" class="control-label">{{ 'CheckBook.StartNumber' | translate }}</label>
    
          <input type="text" class="k-textbox" formControlName="startNo" [disabled]="editMode"/>
    
          <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.startNo.valid || editForm.controls.startNo.pristine">
            <span *ngIf="editForm.controls.startNo.errors?.required">{{ 'AllValidations.CompanyDb.NameIsRequired' | translate }}</span>
            <span *ngIf="editForm.controls.startNo.errors?.maxlength">{{ 'AllValidations.CompanyDb.NameIsTooLong' | translate }}</span>
          </div>
        </div>
  
        <div class="form-group col-xs-5ths col-xs-12 item">
          <label for="" style="padding: 0;" class="control-label col-xs-12 col-md-12">{{ 'CheckBook.PagesCount' | translate }}</label>
          <div class="col-md-6 col-xs-6" style="padding: 0;">
            <input type="number"
              class="k-textbox"
              [disabled]="!otherSizeOfPages"
              [(ngModel)]="selectedPagesCount || editMode"
              [ngModelOptions]="{standalone: true}"
              (onkeyup)="onChangePagesCountInput($event)"
              min="1" max="1000"
              style="max-width: 100%;"
            />
          </div>
          <div class="col-md-6 col-xs-6" style="padding: 0;">
            <fieldset [disabled]="editMode" [ngClass]="{'disabled': editMode}">
              <kendo-dropdownlist [data]="pagesCount" class="mx-1"
                                  [textField]="'value'"
                                  [valueField]="'key'"
                                  [valuePrimitive]="true"
                                  [value]="selectedPagesCount"
                                  (valueChange)="onChangePagesCountDropDown($event)"
                                  [(ngModel)]="selectedPagesCount"
                                  [ngModelOptions]="{standalone: true}"
                                  [disabled]="editMode">
              </kendo-dropdownlist>
            </fieldset>
          </div>
        </div>

        <div class="col-sm-5ths col-xs-12 item">
          <p>&nbsp;</p>
          <div class="form-group">
            <input type="checkbox" class="k-checkbox" id="isArchived" formControlName="isArchived" [attr.disabled]="isNew"/>
            <label for="isArchived" [ngClass]="{'disabled': isNew}">{{ 'CheckBook.isArchived' | translate }}</label>
          </div>
        </div>

        <div class="col-xs-12 col-sm-7 sppc-float">
          <fieldset [disabled]="editMode" [ngClass]="{'disabled': editMode}">
            <div class="form-group" [formGroup]="fullAccountForm">
              <label for="fullAccount" class="control-label" style="position:absolute;">{{ 'VoucherLine.Account' | translate }}</label>
    
              <sppc-fullAccount formGroupName="fullAccount"
               (isInputFocused)="onFullAccountInpusFocuse($event)"
               (setFocus)="onSelectFullAccount($event)"
               [inputFullAccount]="this.model.fullAccount"
               [strictMode]="false">
              </sppc-fullAccount>
            </div>
          </fieldset>
        </div>

        <div class="form-group col-sm-5ths col-xs-12 item">
          <label for="name" class="control-label">{{ 'CheckBook.EndNumber' | translate }}</label>
    
          <input type="text" class="k-textbox" formControlName="endNo" [disabled]="editMode" readonly/>
    
          <div class="k-tooltip k-tooltip-validation" [hidden]="editForm.controls.startNo.valid || editForm.controls.startNo.pristine">
            <span *ngIf="editForm.controls.startNo.errors?.required">{{ 'AllValidations.CompanyDb.NameIsRequired' | translate }}</span>
            <span *ngIf="editForm.controls.startNo.errors?.maxlength">{{ 'AllValidations.CompanyDb.NameIsTooLong' | translate }}</span>
          </div>
        </div>

      </form>
      <div class="action-box">
        <button class="create-pages-btn k-button" [disabled]="editMode" (click)="onSave($event)">ایجادبرگه ها</button>
      </div>
    </div>
  </div>
  <div>
      <check-book-pages [pages]="checkBookPages" [checkBookId]="this.model.id"></check-book-pages>
  </div>
<!-- فرم جستوجو -->
<kendo-dialog
  title="{{ 'CheckBook.SearchCheckBook' | translate }}"
  *ngIf="searchConfirm"
  (close)="searchByNo(false)"
  [minWidth]="250"
  [width]="450"
>
  <div class="form-group" (keydown.enter)="passVoucherId()">
    <label class="control-label">{{'CheckBook.CheckBookNo' | translate}}</label>
    <input type="text" class="k-textbox" [(ngModel)]="checkBookNo" [OnlyNumber] sppcAutoFocus/>
  </div>
  <kendo-dialog-actions>
    <button class="k-button" (click)="searchByNo(true)" primary="true">
      {{ "Buttons.Ok" | translate }}
    </button>
    <button class="k-button" (click)="searchByNo(false)">
      {{ "Buttons.Cancel" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<!-- فرم تایید حذف -->
<kendo-dialog
  title="{{ 'CheckBook.Delete' | translate }}"
  *ngIf="deleteConfirm"
  (close)="deleteModel(false)"
  [minWidth]="250"
  [width]="450"
>
  <p >
    {{ deleteConfirmMsg }}
  </p>
  <kendo-dialog-actions>
    <button class="k-button" (click)="deleteModel(true)" primary="true">
      {{ "Buttons.Yes" | translate }}
    </button>
    <button class="k-button" (click)="deleteModel(false)">
      {{ "Buttons.No" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
