<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TsAppPath" value="..\..\src\Framework\SPPC.Tadbir.Web\ClientApp\app"/>
    <add key="TsApiPath" value="..\..\src\Framework\SPPC.Tadbir.Web\ClientApp\app\service\api"/>
    <add key="JsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web\wwwroot\i18n"/>
    <add key="CsViewModelAssemblies" value="SPPC.Tadbir.ViewModel"/>
    <add key="CsInterfacesAssembly" value="SPPC.Tadbir.Interfaces"/>
    <add key="CsApiNamespace" value="SPPC.Tadbir.Api"/>
    <add key="CsSecurityNamespace" value="SPPC.Tadbir.Security"/>
    <add key="CsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\Resources\Types"/>
    <add key="CsOutputPath" value="..\..\bin\Debug\netstandard2.0\netstandard2.0"/>
    <add key="CsModelPath" value="..\..\src\Framework\SPPC.Tadbir.Model"/>
    <add key="XmlRepoPath" value="..\..\res\Framework.xml"/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>