<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TsAppPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\app" />
    <add key="TsApiPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\app\service\api" />
    <add key="JsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\assets\i18n" />
    <add key="CsViewModelAssemblies" value="SPPC.Tadbir.ViewModel" />
    <add key="CsInterfacesAssembly" value="SPPC.Tadbir.Interfaces" />
    <add key="CsApiNamespace" value="SPPC.Tadbir.Api" />
    <add key="CsSecurityNamespace" value="SPPC.Tadbir.Security" />
    <add key="CsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\Resources\Types" />
    <add key="CsOutputPath" value="..\..\bin\Debug\netstandard2.0\netstandard2.0" />
    <add key="CsModelPath" value="..\..\src\Framework\SPPC.Tadbir.Model" />
    <add key="CsViewModelPath" value="..\..\src\Framework\SPPC.Tadbir.ViewModel" />
    <add key="CsPersistPath" value="..\..\src\Framework\SPPC.Tadbir.Persistence" />
    <add key="XmlRepoPath" value="..\..\res\Framework.xml" />
    <add key="CodeGenPath" value="..\..\res\_codegen_" />
    <add key="UpdateScriptPath" value="..\..\..\res\TadbirSys_UpdateDbObjects.sql" />
    <add key="CmdUtilityPath" value="..\..\..\misc\tools\sqlcmd.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>