<div  class="col-md-12 col-sm-12 col-xs-12 parentVertical">    <!--col-md-5 col-md-offset-3 vertical-center-->
    <div class="col-md-5 col-xs-12 col-lg-4 col-sm-7 vertical-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-user"></i> {{ 'Login.Title' | translate }}
                <div [ngClass]="{'pull-left' : (lang == 'fa'),'pull-right' : (lang == 'en')}">
                    <img src="../../../assets/resources/images/gb.svg" [ngClass]="{'active' : (lang == 'en')}" (click)="changeLang('en')" class="flag" />
                    <img src="../../../assets/resources/images/ir.svg" [ngClass]="{'active' : (lang == 'fa')}" (click)="changeLang('fa')" class="flag" />                    
                </div>
            </div>
            <div class="panel-body">
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="toast-container"></div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <label for="username">{{ 'Login.UserName' | translate }}</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">{{ 'AllValidations.Login.UserNameIsRequired' | translate }}</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password">{{ 'Login.Password' | translate }}</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">{{ 'AllValidations.Login.PasswordIsRequired' | translate }}</div>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" id="chkRememberMe" [ngClass]="{'chkRememberMe-left' : (lang == 'fa'),'chkRememberMe-right' : (lang == 'en')}" [(ngModel)]="model.remember" [ngModelOptions]="{standalone: true}">{{ 'Login.RememberMe' | translate }}</label>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">{{ 'Login.BtnLogin' | translate }}</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>                
            </div>
        </div>
    </div>    
</div>

<kendo-dialog title="{{'Messages.SoftwareLicense' | translate}}" *ngIf="showServerForm" 
[ngStyle]="{'direction':this.currentlang === 'fa' ? 'rtl':'ltr'}"
(close)="closeServerForm()"  [minWidth]="250" [width]="380" [height]="280">
<form name="form" [formGroup]="activationForm" novalidate>
    <div class="frmActivation">    
        <div class="form-group row">        
            <label for="serverUserName" class="control-label">{{ 'Login.ServerUserName' | translate }}</label>
            <input type="text" id="serverUserName" formControlName="userName" name="serverUserName" class="k-textbox col-md-12" [(ngModel)]="serverUserName" />                 
            <div>
                <div class="k-tooltip k-tooltip-validation" [hidden]="activationForm.controls.userName.valid || activationForm.controls.userName.pristine">
                    <span *ngIf="activationForm.controls.userName.errors?.required">{{ 'AllValidations.Login.ServerUserNameIsRequired' | translate }}</span>                
                </div>
            </div>            
        </div>
        <div class="form-group row">
            <label for="serverPassword" class="control-label">{{ 'Login.ServerPassword' | translate }}</label>
            <input type="password" id="serverPassword" formControlName="password" name="serverPassword" class="k-textbox col-md-12" [(ngModel)]="serverPassword" />                  
            <div>
                <div class="k-tooltip k-tooltip-validation" [hidden]="activationForm.controls.password.valid || activationForm.controls.password.pristine">
                <span *ngIf="activationForm.controls.password.errors?.required">{{ 'AllValidations.Login.ServerPasswordIsRequired' | translate }}</span>                
                </div>
            </div>            
        </div>
    </div>    
</form>
<kendo-dialog-actions>
    <button class="k-button" [disabled]="!activationForm.valid" (click)="startCheckLicense()" primary="true">{{ 'Buttons.Yes' | translate }}</button>
    <button class="k-button" (click)="closeServerForm()">{{ 'Buttons.No' | translate }}</button>
</kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="{{'Messages.SoftwareActivation' | translate}}" *ngIf="showActivationForm" 
[ngStyle]="{'direction':this.currentlang === 'fa' ? 'rtl':'ltr'}"
(close)="closeActivationForm()"  [minWidth]="250" [width]="380" [height]="390">
<p>
    {{'Messages.StartingActivation' | translate}}
</p>
<br>
<form name="form" [formGroup]="activationForm" novalidate>
    <div class="frmActivation">    
        <div class="form-group row">        
            <label for="serverUserName" class="control-label">{{ 'Login.ServerUserName' | translate }}</label>
            <input type="text" id="serverUserName" formControlName="userName" name="serverUserName" class="k-textbox col-md-12" [(ngModel)]="serverUserName" />                 
            <div>
                <div class="k-tooltip k-tooltip-validation" [hidden]="activationForm.controls.userName.valid || activationForm.controls.userName.pristine">
                    <span *ngIf="activationForm.controls.userName.errors?.required">{{ 'AllValidations.Login.ServerUserNameIsRequired' | translate }}</span>                
                </div>
            </div>            
        </div>
        <div class="form-group row">
            <label for="serverPassword" class="control-label">{{ 'Login.ServerPassword' | translate }}</label>
            <input type="password" id="serverPassword" formControlName="password" name="serverPassword" class="k-textbox col-md-12" [(ngModel)]="serverPassword" />                  
            <div>
                <div class="k-tooltip k-tooltip-validation" [hidden]="activationForm.controls.password.valid || activationForm.controls.password.pristine">
                <span *ngIf="activationForm.controls.password.errors?.required">{{ 'AllValidations.Login.ServerPasswordIsRequired' | translate }}</span>                
                </div>
            </div>            
        </div>
    </div>    
</form>
<kendo-dialog-actions>
    <button class="k-button" [disabled]="!activationForm.valid" (click)="startActivatingSoftware()" primary="true">{{ 'Buttons.Yes' | translate }}</button>
    <button class="k-button" (click)="closeActivationForm()">{{ 'Buttons.No' | translate }}</button>
</kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="{{'Messages.CheckingOnlineLicense' | translate}}" *ngIf="onlineLicense" 
[ngStyle]="{'direction':this.currentlang === 'fa' ? 'rtl':'ltr'}"
(close)="closeOnlineLicenseForm()"  [minWidth]="250" [width]="350" [height]="200">
<p>
    {{'Messages.CheckingOnlineMsg' | translate}}
</p>
<kendo-dialog-actions>
    <button class="k-button" (click)="startCheckingOnlineLicense()" primary="true">{{ 'Buttons.Yes' | translate }}</button>
    <button class="k-button" (click)="closeOnlineLicenseForm()">{{ 'Buttons.No' | translate }}</button>
</kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="{{'Messages.OpenSessions' | translate}}" *ngIf="showSessionForm" 
[ngStyle]="{'direction':this.currentlang === 'fa' ? 'rtl':'ltr'}"
(close)="closeSessionForm()"  [minWidth]="350" [width]="650" [height]="450">
<div>
    <ul class="sessions">
        <li *ngFor="let session of sessions">
            <div class="session-row" [ngClass]="{'pull-right':this.currentlang === 'fa' , 'pull-left': this.currentlang === 'en'}">
                <div class="col-md-10" >
                    <span>{{session.browser}} - {{session.device}} - {{convertToShamsi(session.lastActivityUtc)}} </span>
                </div>
                <div class="col-md-2">
                    <button class="k-button" (click)="removeSession(session.id)">{{ 'Buttons.Exit' | translate }}</button>
                </div>                                
            </div>
            <hr class="col-md-12">
        </li>
    </ul>
</div>
<kendo-dialog-actions>    
    <button class="k-button" (click)="closeSessionForm()">{{ 'Buttons.Ok' | translate }}</button>
</kendo-dialog-actions>
</kendo-dialog>

