<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="All Rules (Softened)" Description="This rule set is a modified version of a Microsoft rule set that contains all rules. Some projects may make further modifications by enabling or disabling certain rules. When one or more rules are disabled, a complimentary document must provide justifications for changes." ToolsVersion="14.0">
    <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
        <Rule Id="UseConfigureAwait" Action="Warning" />
    </Rules>
    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
        <Rule Id="CA1020" Action="None" />
        <Rule Id="CA1024" Action="None" />
        <Rule Id="CA1026" Action="None" />
        <Rule Id="CA1051" Action="None" />
        <Rule Id="CA1054" Action="None" />
        <Rule Id="CA1056" Action="None" />
        <Rule Id="CA1303" Action="None" />
        <Rule Id="CA1304" Action="None" />
        <Rule Id="CA1305" Action="None" />
        <Rule Id="CA1306" Action="None" />
        <Rule Id="CA1307" Action="None" />
        <Rule Id="CA1309" Action="None" />
        <Rule Id="CA1702" Action="None" />
        <Rule Id="CA1708" Action="None" />
        <Rule Id="CA1716" Action="None" />
        <Rule Id="CA2001" Action="None" />
        <Rule Id="CA2101" Action="None" />
        <Rule Id="CA2210" Action="None" />
        <Rule Id="CA2214" Action="None" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="SA1101" Action="None" />
		<Rule Id="SA1115" Action="None" />
		<Rule Id="SA1116" Action="None" />
		<Rule Id="SA1117" Action="None" />
		<Rule Id="SA1119" Action="None" />
		<Rule Id="SA1121" Action="None" />
		<Rule Id="SA1124" Action="None" />
		<Rule Id="SA1126" Action="None" />
		<Rule Id="SA1200" Action="None" />
		<Rule Id="SA1201" Action="None" />
		<Rule Id="SA1309" Action="None" />
		<Rule Id="SA1400" Action="None" />
		<Rule Id="SA1401" Action="None" />
		<Rule Id="SA1516" Action="None" />
		<Rule Id="SA1600" Action="None" />
		<Rule Id="SA1601" Action="None" />
		<Rule Id="SA1602" Action="None" />
		<Rule Id="SA1603" Action="None" />
		<Rule Id="SA1604" Action="None" />
		<Rule Id="SA1605" Action="None" />
		<Rule Id="SA1606" Action="None" />
		<Rule Id="SA1607" Action="None" />
		<Rule Id="SA1608" Action="None" />
		<Rule Id="SA1609" Action="None" />
		<Rule Id="SA1610" Action="None" />
		<Rule Id="SA1611" Action="None" />
		<Rule Id="SA1612" Action="None" />
		<Rule Id="SA1613" Action="None" />
		<Rule Id="SA1614" Action="None" />
		<Rule Id="SA1615" Action="None" />
		<Rule Id="SA1616" Action="None" />
		<Rule Id="SA1617" Action="None" />
		<Rule Id="SA1618" Action="None" />
		<Rule Id="SA1619" Action="None" />
		<Rule Id="SA1620" Action="None" />
		<Rule Id="SA1621" Action="None" />
		<Rule Id="SA1622" Action="None" />
		<Rule Id="SA1623" Action="None" />
		<Rule Id="SA1624" Action="None" />
		<Rule Id="SA1625" Action="None" />
		<Rule Id="SA1626" Action="None" />
		<Rule Id="SA1627" Action="None" />
		<Rule Id="SA1628" Action="None" />
		<Rule Id="SA1629" Action="None" />
		<Rule Id="SA1630" Action="None" />
		<Rule Id="SA1631" Action="None" />
		<Rule Id="SA1632" Action="None" />
		<Rule Id="SA1633" Action="None" />
		<Rule Id="SA1634" Action="None" />
		<Rule Id="SA1635" Action="None" />
		<Rule Id="SA1636" Action="None" />
		<Rule Id="SA1637" Action="None" />
		<Rule Id="SA1638" Action="None" />
		<Rule Id="SA1639" Action="None" />
		<Rule Id="SA1640" Action="None" />
		<Rule Id="SA1641" Action="None" />
		<Rule Id="SA1642" Action="None" />
		<Rule Id="SA1643" Action="None" />
		<Rule Id="SA1644" Action="None" />
		<Rule Id="SA1645" Action="None" />
		<Rule Id="SA1646" Action="None" />
		<Rule Id="SA1647" Action="None" />
		<Rule Id="SA1648" Action="None" />
		<Rule Id="SA1649" Action="None" />
		<Rule Id="SA1650" Action="None" />
		<Rule Id="SA1652" Action="None" />
	</Rules>
</RuleSet>
