
<div style="padding:15px;" >   
  <div class="form-group">
    <div class="col-md-4">
      <div class="form-group row">        
        <label for="amount" class="control-label">مانده</label>
        <sppc-numericInput #amount name="amount" (change)="focusOutFunction()"  [(ngModel)]="creditDebit"
                            class="sppc-input-num sppc-float"></sppc-numericInput>
      </div>      
      <div class="form-group row">        
        <div class="voucher-mode-item">
          <input type="radio" name="creditDebitMode" id="mode1" class="k-radio" (change)="onKeysChange()"
                  [(ngModel)]="creditDebitMode" value="1" [ngModelOptions]="{standalone: true}" />
          <label class="k-radio-label" for="mode1">{{ 'VoucherLine.Debit' | translate }}</label>
        </div>

        <div class="voucher-mode-item">
          <input type="radio" name="creditDebitMode" id="mode2" class="k-radio" (change)="onKeysChange()"
                  [(ngModel)]="creditDebitMode" value="2" [ngModelOptions]="{standalone: true}" />
          <label class="k-radio-label" for="mode2">{{ 'VoucherLine.Credit' | translate }}</label>
        </div>        
      </div>
    </div>
    <div class="col-md-8">
        <kendo-grid [ngClass]="{'tRtl':this.CurrentLanguage === 'fa' , 'tLtr': this.CurrentLanguage === 'en'}"
                    [data]="rowData"
                    [sortable]="false"
                    [height]="300"                    
                    [pageable]="false"
                    [resizable]="true"
                    [filterable]="false"
                    [scrollable]="'scrollable'"                    
                    [loading]="false"
                    [selectable]="{ checkboxOnly: false, mode: 'single' }"
                  [selectedKeys]="selectedRows"
                  kendoGridSelectBy="id"
                  (selectedKeysChange)="onSelectedKeysChange()">


          <ng-template kendoGridNoRecordsTemplate>
            {{ showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate) }}
          </ng-template>
          <kendo-grid-column width="200" field="name" title="نام">
          </kendo-grid-column>
        </kendo-grid>
      </div>      
    </div>
  </div>
