
@import url(IranSans.css);
 

/*#region public classes */
.tform {
    margin-top: 20px;
}

tbutton {
    float: right;
}

.divContainer {
    width: 100%
}

.containerBtn {
    margin-top: 15px;
}

.tbody {
    background-color: #2c3e50;
}

/*#endregion public classes */

/*#region add class for sppc font*/

tgrid {
    font-family: SPPC !important;
    font-size: 15px;
}

.ui-widget {
    font-family: SPPC !important;
    font-size: 15px;
}

.fa-chevron-circle-right:before {
    content: "\f055" !important;
}

.fa-chevron-circle-down:before {
    content: "\f056" !important;
}

.toast {
    font-family: SPPC !important;
}

.labelTemplate {
    font-size: 16px;
    color: black;
}

.valueTemplate {
    font-size: 14px;
    color: darkblue;
}

.main-nav {
    font-family: SPPC !important;
    font-size: 18px;
}

.panel {
    font-family: SPPC !important;
}

.ui-dropdown
{
    font-family:SPPC !important;
}

/*#endregion */
/*#region override class for primeng datatable*/
.templateColumn {
    text-align: center;
    width: 5%;
}

.ui-paginator {
    direction: ltr !important;
}

.ui-datatable-footer {
    text-align: unset !important;
}

table thead tr th span.ui-column-title {
    display: inline !important;
}
.ui-helper-hidden {
    display: inline !important; 
}

/*#endregion */

/*#region loading sppiner in page load*/

.sk-cube-grid {
    width: 80px;
    height: 80px;
    /*margin: 500px auto;*/
    position: fixed; /* or absolute */
    top: 42%;
    left: 48%;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #fff;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    
@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/*#endregion loading sppiner in page load*/

/*#region for better responsive in primeng datatable*/

@media (max-width: 1024px) /* I want the datatable to be stacked at at least iPad Pro portrait mode, this depends on your data */ {
    /* Data in responsive mode */
    .ui-datatable-reflow .ui-datatable-data > tr > td {
        width: 100% !important;
        text-align: right !important;
        border: 0;
        box-sizing: border-box;
        float: right;
        clear: left;
    }


    .ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
        border-left: 0;
        border-right: 0;
    }

    .ui-datatable-reflow .ui-datatable-data.ui-widget-content {
        border: 0;
    }

    /*Hide the headers in responsive mode*/
    .ui-datatable-reflow thead th {
        display: none !important;
    }

    /*Display the headers inline with the data in responsive mode */
    .ui-datatable-reflow .ui-datatable-data td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
}

/*#endregion for better responsive in primeng datatable*/


