
.tform
{
    margin-top : 20px;
}

tbutton 
{   
    float:right;
}

.divContainer {
    width: 100%
}

.containerBtn {
    margin-top:15px;
}

.tbody {
    background-color: #2c3e50;    
}

* {
    font-family: TF !important;
}

.sk-cube-grid {
    width: 80px;
    height: 80px;
    /*margin: 500px auto;*/
    position: fixed; /* or absolute */
    top: 42%;
    left: 48%;

}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #fff;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}



@font-face {
    font-family: "TF";
    font-style: normal;
    font-weight: bold;
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb_Bold.eot");
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("/resources/fonts/IranSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("/resources/fonts/IranSans/woff/IRANSansWeb_Bold.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("/resources/fonts/IranSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "TF";
    font-style: normal;
    font-weight: 500;
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb_Medium.eot");
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("/resources/fonts/IranSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("/resources/fonts/IranSans/woff/IRANSansWeb_Medium.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("/resources/fonts/IranSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
    font-family: "TF";
    font-style: normal;
    font-weight: 200;
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb_UltraLight.eot");
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("/resources/fonts/IranSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("/resources/fonts/IranSans/woff/IRANSansWeb_UltraLight.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("/resources/fonts/IranSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: "TF";
    font-style: normal;
    font-weight: normal;
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb.eot");
    src: url("/resources/fonts/IranSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
    url("/resources/fonts/IranSans/woff2/IRANSansWeb.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
    url("/resources/fonts/IranSans/woff/IRANSansWeb.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url("/resources/fonts/IranSans/ttf/IRANSansWeb.ttf") format("truetype");
}