<kendo-grid-string-filter-cell (keyup)="toTrim($event)" *ngIf="isString && allowFiltering" [column]="column" [filter]="filter">
    <kendo-filter-eq-operator></kendo-filter-eq-operator>
    <kendo-filter-neq-operator></kendo-filter-neq-operator>
    <kendo-filter-contains-operator></kendo-filter-contains-operator>
    <kendo-filter-not-contains-operator></kendo-filter-not-contains-operator>
    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
    <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
</kendo-grid-string-filter-cell>
<kendo-grid-numeric-filter-cell *ngIf="isNumber && allowFiltering" [spinners]="false" [format]="'0'" [column]="column" [filter]="filter">
    <kendo-filter-eq-operator></kendo-filter-eq-operator>
    <kendo-filter-neq-operator></kendo-filter-neq-operator>
    <kendo-filter-lt-operator></kendo-filter-lt-operator>
    <kendo-filter-lte-operator></kendo-filter-lte-operator>
    <kendo-filter-gt-operator></kendo-filter-gt-operator>
    <kendo-filter-gte-operator></kendo-filter-gte-operator>
</kendo-grid-numeric-filter-cell>
<kendo-grid-string-filter-cell (keyup)="$event" *ngIf="isDate && allowFiltering" FilterDatePickerDirective="day" [column]="column" [filter]="filter" operator="equal">
    <kendo-filter-eq-operator></kendo-filter-eq-operator>
    <kendo-filter-neq-operator></kendo-filter-neq-operator>
    <kendo-filter-lt-operator></kendo-filter-lt-operator>
    <kendo-filter-lte-operator></kendo-filter-lte-operator>
    <kendo-filter-gt-operator></kendo-filter-gt-operator>
    <kendo-filter-gte-operator></kendo-filter-gte-operator>
</kendo-grid-string-filter-cell>
<kendo-grid-string-filter-cell *ngIf="isDateTime && allowFiltering" (keyup)="convertShamsiToMiladi($event)" FilterDatePickerDirective="daytime" [column]="column" [filter]="filter" operator="equal">
    <kendo-filter-eq-operator></kendo-filter-eq-operator>
    <kendo-filter-neq-operator></kendo-filter-neq-operator>
    <kendo-filter-lt-operator></kendo-filter-lt-operator>
    <kendo-filter-lte-operator></kendo-filter-lte-operator>
    <kendo-filter-gt-operator></kendo-filter-gt-operator>
    <kendo-filter-gte-operator></kendo-filter-gte-operator>
</kendo-grid-string-filter-cell>
