
@font-face {
  font-family: SPPC;
  font-style: normal;
  font-weight: 900;
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Black.eot');
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('fonts/IranSans-En/woff2/IRANSansWeb(NoEn)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('fonts/IranSans-En/woff/IRANSansWeb(NoEn)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('fonts/IranSans-Ens/ttf/IRANSansWeb(NoEn)_Black.ttf') format('truetype');
}

@font-face {
  font-family: SPPC;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Bold.eot');
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('fonts/IranSans-En/woff2/IRANSansWeb(NoEn)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('fonts/IranSans-En/woff/IRANSansWeb(NoEn)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('fonts/IranSans-En/ttf/IRANSansWeb(NoEn)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: SPPC;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Medium.eot');
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('fonts/IranSans-En/woff2/IRANSansWeb(NoEn)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('fonts/IranSans-En/woff/IRANSansWeb(NoEn)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('fonts/IranSans-En/ttf/IRANSansWeb(NoEn)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: SPPC;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Light.eot');
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('fonts/IranSans-En/woff2/IRANSansWeb(NoEn)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('fonts/IranSans-En/woff/IRANSansWeb(NoEn)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('fonts/IranSans-En/ttf/IRANSansWeb(NoEn)_Light.ttf') format('truetype');
}

@font-face {
  font-family: SPPC;
  font-style: normal;
  font-weight: 200;
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_UltraLight.eot');
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('fonts/IranSans-En/woff2/IRANSansWeb(NoEn)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('fonts/IranSans-En/woff/IRANSansWeb(NoEn)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('fonts/IranSans-En/ttf/IRANSansWeb(NoEn)_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: SPPC;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn).eot');
  src: url('fonts/IranSans-En/eot/IRANSansWeb(NoEn).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('fonts/IranSans-En/woff2/IRANSansWeb(NoEn).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('fonts/IranSans-En/woff/IRANSansWeb(NoEn).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('fonts/IranSans-En/ttf/IRANSansWeb(NoEn).ttf') format('truetype');
}
