
<div *ngIf="selectedItemType == 'RelationsConfig'" class="settings-form col-md-5" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
    <form novalidate [formGroup]="accountRelationsForm">
        <!--<div class="form-group">
            <label for="useLeafAccounts" class="control-label">
                <input type="checkbox" formControlName="useLeafAccounts" />
                {{ 'Settings.AccountRelation.LeafAccounts' | translate }}
            </label>

        </div>-->

        <div class="form-group">
            <label for="useLeafDetails" class="control-label">
                <input type="checkbox" formControlName="useLeafDetails" />
                {{ 'Settings.AccountRelation.LeafDetails' | translate }}
            </label>
        </div>

        <div class="form-group">
            <label for="useLeafCostCenters" class="control-label">
                <input type="checkbox" formControlName="useLeafCostCenters" />
                {{ 'Settings.AccountRelation.LeafCostCenters' | translate }}
            </label>
        </div>

        <div class="form-group">
            <label for="useLeafProjects" class="control-label">
                <input type="checkbox" formControlName="useLeafProjects" />
                {{ 'Settings.AccountRelation.LeafProjects' | translate }}
            </label>
        </div>
    </form>
</div>

<div *ngIf="selectedItemType == 'DateRangeConfig'" class="settings-form col-md-5" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
    <form novalidate [formGroup]="dateRangesForm">
        <div class="form-group">
            <label for="defaultDateRange" class="control-label">{{ 'Settings.DateRanges.DefaultDateRanges' | translate }}</label>

            <kendo-dropdownlist [data]="ddlDateRanges" [valuePrimitive]="true" formControlName="defaultDateRange"
                                [textField]="'value'" [(ngModel)]="selectedDDLDateRangeValue" [value]="selectedDDLDateRangeValue" [valueField]="'key'">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                    {{ dataItem.value | translate }}
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                    {{ dataItem.value | translate }}
                </ng-template>
            </kendo-dropdownlist>

        </div>
    </form>
</div>

<div *ngIf="selectedItemType == 'NumberDisplayConfig'" class="settings-form col-md-5" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
    <form novalidate [formGroup]="numberDisplayForm">

        <div class="form-group">
            <label for="decimalPrecision" class="control-label">{{ 'Settings.NumberDisplay.decimalPrecision' | translate }}</label>

            <kendo-dropdownlist [data]="ddlNumberPrecision" [valuePrimitive]="true" formControlName="decimalPrecision"
                                [textField]="'value'" [(ngModel)]="selectedDDLDecimalPrecisionValue" [value]="selectedDDLDecimalPrecisionValue" [valueField]="'key'">
            </kendo-dropdownlist>
        </div>
        <div class="form-group">
            <label for="maxPrecision" class="control-label">{{ 'Settings.NumberDisplay.maxPrecision' | translate }}</label>

            <kendo-dropdownlist [data]="ddlNumberPrecision" [valuePrimitive]="true" formControlName="maxPrecision"
                                [textField]="'value'" [(ngModel)]="selectedDDLMaxPrecisionValue" [value]="selectedDDLMaxPrecisionValue" [valueField]="'key'">
            </kendo-dropdownlist>
        </div>
        <div class="form-group">
            <label for="useSeparator" class="control-label">
                <input type="checkbox" formControlName="useSeparator" />
                {{ 'Settings.NumberDisplay.useSeparator' | translate }}
            </label>
        </div>
        <div class="form-group">
            <label for="separatorMode" class="control-label">{{ 'Settings.NumberDisplay.separatorMode' | translate }}</label>

            <kendo-dropdownlist [data]="ddlSeparatorMode" [valuePrimitive]="true" formControlName="separatorMode"
                                [textField]="'value'" [(ngModel)]="selectedDDLSeparatorModeValue" [value]="selectedDDLSeparatorModeValue" [valueField]="'key'"
                                [disabled]="!numberDisplayForm.controls.useSeparator.value">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                    {{ dataItem.value | translate }}
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                    {{ dataItem.value | translate }}
                </ng-template>
            </kendo-dropdownlist>
        </div>
        <div class="form-group">
            <label for="separatorSymbol" class="control-label">{{ 'Settings.NumberDisplay.separatorSymbol' | translate }}</label>
            <input type="text" class="k-textbox" formControlName="separatorSymbol" [attr.disabled]="!numberDisplayForm.controls.useSeparator.value?'':null" />
        </div>

    </form>
</div>

<div *ngIf="selectedItemType == 'FinanceReportConfig'" class="settings-form col-md-5" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
  <form novalidate [formGroup]="financeReportForm">
    <div class="form-group">
      <label for="openingAsFirstVoucher" class="control-label">
        <input type="checkbox" formControlName="openingAsFirstVoucher" />
        {{ 'Settings.FinanceReports.OpeningAsFirstVoucher' | translate }}
      </label>
      <label for="startTurnoverAsInitBalance" class="control-label">
        <input type="checkbox" formControlName="startTurnoverAsInitBalance" />
        {{ 'Settings.FinanceReports.StartTurnoverAsInitBalance' | translate }}
      </label>
    </div>
  </form>
</div>

<div *ngIf="selectedItemType == 'SystemConfig'" class="settings-form">
  <system-configuration [model]="selectedItemModel"></system-configuration>
</div>

<div *ngIf="selectedItemType == 'UserProfileConfig'" class="settings-form">
    <form novalidate [formGroup]="userProfileConfig">
        <div class="form-group">
            <label for="isEnabled" class="control-label">{{ 'Settings.UserProfile.ShowDashboardAtStartup' | translate }}</label>
            <kendo-switch formControlName="showDashboardAtStartup" class="sppc-switch"
                          [onLabel]="('User.Active' | translate)"
                          [offLabel]="('User.Inactive' | translate)">
            </kendo-switch>
          </div>
    </form>
</div>
