<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" id='main-menu' data-widget="tree">
      <!--(window:keypress)="doSomething($event)"-->
      <li *ngFor="let cmd of menuList;" class="parent treeview" [ngClass]="{'active menu-open':this.expandedSubMenuId === cmd.id}">
        <!-- <a id="a{{cmd.id}}" href="#/dashboard" (click)="clickMenu($event,cmd.id)"> -->
        <a id="a{{cmd.id}}" (click)="clickMenu($event,cmd.id)">
          <span class="pull-right-container none">
            <i class="fa  pull-left angle" [ngClass]="{'fa-angle-left':this.currentlang === 'fa' , 'fa-angle-right': this.currentlang === 'en'}"></i>
          </span>
          <i class="glyphicon glyphicon-{{cmd.iconName}}"></i>
          <span class="menuitem">{{ cmd.title }}</span>
        </a>

        <ul class="treeview-menu" id='menu{{cmd.id}}'>
          <li *ngFor="let innerCmd of cmd.children;" [ngClass]="{'treeview' : innerCmd.routeUrl == null}">
            <a [routerLink]="innerCmd.routeUrl ? [innerCmd.routeUrl] : 'javascript:;'">
              <span class="glyphicon glyphicon-{{innerCmd.iconName}}"></span>
              <span class="menuitem child">
                {{
                  innerCmd.title
                }}
              </span>
              <span class="pull-right-container" *ngIf="innerCmd.children.length > 0">
                <i class="fa pull-left angle" [ngClass]="{'fa-angle-left':this.currentlang === 'fa' , 'fa-angle-right': this.currentlang === 'en'}"></i>
              </span>
            </a>
            <ul class="treeview-menu" *ngIf="innerCmd.children.length > 0">
              <li *ngFor="let cmd3 of innerCmd.children;">
                <a [routerLink]="cmd3.routeUrl ? [cmd3.routeUrl] : []">
                  <span class="glyphicon glyphicon-{{cmd3.iconName}}"></span>
                  <span class="menuitem child">
                    {{ cmd3.title }}
                  </span>
                  <span class="pull-right-container" *ngIf="cmd3.children.length > 0">
                    <i class="fa pull-left angle" [ngClass]="{'fa-angle-left':this.currentlang === 'fa' , 'fa-angle-right': this.currentlang === 'en'}"></i>
                  </span>
                </a>
                <ul class="treeview-menu" *ngIf="cmd3.children.length > 0">
                  <li *ngFor="let cmd4 of innerCmd.children;">
                    <a [routerLink]="cmd4.routeUrl ? [cmd4.routeUrl] : 'javascript:;'">
                      <span class="glyphicon glyphicon-{{cmd4.iconName}}"></span>
                      <span class="menuitem child">
                        {{ cmd4.title }}
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

        </ul>

      </li>


    </ul>
  </section>

</aside>

