<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sppc.tools.metaDesigner" type="SPPC.Tools.MetaDesigner.Configuration.MetaDesignerSection, SPPC.Tools.MetaDesigner"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <sppc.tools.metaDesigner>
    <generators>
      <add name="PocoGenerator" outputType="Poco" fileName="{0}.Generated.cs" template="SPPC.Tools.Transforms.Templates.CsPocoFromXmlMetadata, SPPC.Tools.Transforms" />
      <add name="ViewModelGenerator" outputType="ViewModel" fileName="{0}ViewModel.Generated.cs" template="SPPC.Tools.Transforms.Templates.CsViewModelFromMetadata, SPPC.Tools.Transforms" />
      <add name="FluentMappingGenerator" outputType="FluentMapping" fileName="{0}Map.Generated.cs" template="SPPC.Tools.Transforms.Templates.CsFluentMappingFromMetadata, SPPC.Tools.Transforms" />
      <add name="TableGenerator" outputType="CreateTable" fileName="{0}_CreateTable.sql" template="SPPC.Tools.Transforms.Templates.SqlCreateTableFromMetadata, SPPC.Tools.Transforms" />
    </generators>
    <commands>
      <add type="item" targetType="Entity" name="GeneratePocoClass" title="POCO Class" parent="Generate" handler="SPPC.Tools.MetaDesigner.Engine.GenerateFileCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}.Generated.cs" />
          <add name="template" type="System.String" value="SPPC.Tools.Transforms.Templates.CsPocoFromXmlMetadata,SPPC.Tools.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateViewModelClass" title="View Model Class" parent="Generate" handler="SPPC.Tools.MetaDesigner.Engine.GenerateFileCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}ViewModel.Generated.cs" />
          <add name="template" type="System.String" value="SPPC.Tools.Transforms.Templates.CsViewModelFromMetadata,SPPC.Tools.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateFluentMapping" title="Fluent Mapping Class" parent="Generate" handler="SPPC.Tools.MetaDesigner.Engine.GenerateFileCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}Map.Generated.cs" />
          <add name="template" type="System.String" value="SPPC.Tools.Transforms.Templates.CsFluentMappingFromMetadata,SPPC.Tools.Transforms" />
        </parameters>
      </add>
      <add type="item" targetType="Entity" name="GenerateCreateTable" title="CREATE TABLE Script" parent="Generate" handler="SPPC.Tools.MetaDesigner.Engine.GenerateFileCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="item" type="Entity" value="" />
          <add name="fileName" type="System.String" value="{0}_CreateTable.sql" />
          <add name="template" type="System.String" value="SPPC.Tools.Transforms.Templates.TableFromMetadata,SPPC.Tools.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGeneratePocoClass" title="POCO Classes" parent="Generate" handler="SPPC.Tools.MetaDesigner.Engine.GenerateFileBatchCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="fileName" type="System.String" value="{0}.Generated.cs" />
          <add name="template" type="System.String" value="SPPC.Tools.Transforms.Templates.CsPocoFromXmlMetadata,SPPC.Tools.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateViewModelClass" title="View Model Classes" parent="Generate" handler="SPPC.Tools.MetaDesigner.Engine.GenerateFileBatchCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="fileName" type="System.String" value="{0}ViewModel.Generated.cs" />
          <add name="template" type="System.String" value="SPPC.Tools.Transforms.Templates.CsViewModelFromMetadata,SPPC.Tools.Transforms" />
        </parameters>
      </add>
      <add type="collection" targetType="Entity" name="BatchGenerateFluentMappingClass" title="Fluent Mapping Classes" parent="Generate" handler="SPPC.Tools.MetaDesigner.Engine.GenerateFileBatchCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="fileName" type="System.String" value="{0}Map.Generated.cs" />
          <add name="template" type="System.String" value="SPPC.Tools.Transforms.Templates.CsFluentMappingFromMetadata,SPPC.Tools.Transforms" />
        </parameters>
      </add>
    </commands>
    <defaultCommands>
      <add type="collection" targetType="" name="NewItem" title="New {0}" parent="" needsInput="true" handler="SPPC.Tools.MetaDesigner.Engine.AddItemCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="collection" type="" value="" />
          <add name="wrapper" type="" value="" />
        </parameters>
      </add>
      <add type="item" targetType="" name="DeleteItem" title="Delete" parent="" handler="SPPC.Tools.MetaDesigner.Engine.DeleteItemCommand,SPPC.Tools.MetaDesigner">
        <parameters>
          <add name="item" type="" value="" />
          <add name="collection" type="" value="" />
          <add name="wrapper" type="" value="" />
        </parameters>
      </add>
    </defaultCommands>
    <editors>
      <add name="EntityEditor" type="SPPC.Tools.MetaDesigner.Forms.NewEntity,SPPC.Tools.MetaDesigner" itemType="SPPC.Tools.Model.Entity,SPPC.Tools.Model" />
      <add name="PropertyEditor" type="SPPC.Tools.MetaDesigner.Forms.NewProperty,SPPC.Tools.MetaDesigner" itemType="SPPC.Tools.Model.Property,SPPC.Tools.Model" />
      <add name="RelationEditor" type="SPPC.Tools.MetaDesigner.Forms.NewRelation,SPPC.Tools.MetaDesigner" itemType="SPPC.Tools.Model.Relation,SPPC.Tools.Model" />
    </editors>
  </sppc.tools.metaDesigner>
  <connectionStrings>
    <add name="SourceDb" connectionString="Server=(localdb)\ProjectsV13;Database=VILAPAKHSH;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="TargetDb" connectionString="Server=(localdb)\MSSQLLocalDB;Database=NGVilapakhsh;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <add key="FPId" value="3"/>
    <add key="ControllerFolder" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\Controllers"/>
    <add key="ApiFolder" value="..\..\src\Framework\SPPC.Tadbir.Interfaces\Api"/>
    <add key="TsAppPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\app" />
    <add key="TsApiPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\app\service\api" />
    <add key="JsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web.New\ClientApp\src\assets\i18n" />
    <add key="CsViewModelAssemblies" value="SPPC.Tadbir.ViewModel" />
    <add key="CsInterfacesAssembly" value="SPPC.Tadbir.Interfaces" />
    <add key="CsApiNamespace" value="SPPC.Tadbir.Api" />
    <add key="CsSecurityNamespace" value="SPPC.Tadbir.Security" />
    <add key="CsResPath" value="..\..\src\Framework\SPPC.Tadbir.Web.Api\Resources\Types" />
    <add key="CsOutputPath" value="..\..\bin\Debug\netstandard2.0\netstandard2.0" />
    <add key="CsModelPath" value="..\..\src\Framework\SPPC.Tadbir.Model" />
    <add key="CsViewModelPath" value="..\..\src\Framework\SPPC.Tadbir.ViewModel" />
    <add key="CsPersistPath" value="..\..\src\Framework\SPPC.Tadbir.Persistence" />
    <add key="XmlRepoPath" value="..\..\res\Framework.xml" />
    <add key="CodeGenPath" value="..\..\res\_codegen_" />
    <add key="RepoInterfacePath" value="..\..\src\Framework\SPPC.Tadbir.Interfaces\Persistence"/>
    <add key="SysUpdateScriptPath" value="..\..\..\res\TadbirSys_UpdateDbObjects.sql" />
    <add key="UpdateScriptPath" value="..\..\..\res\Tadbir_UpdateDbObjects.sql" />
    <add key="CmdUtilityPath" value="..\..\..\misc\tools\sqlcmd.exe" />
  </appSettings>
</configuration>