<kendo-dialog *ngIf="active" id="multipleForm" [ngClass]="{'tRtl':this.CurrentLanguage === 'fa' , 'tLtr': this.CurrentLanguage === 'en'}" (keydown.esc)="escPress()"
              (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ getTitleText('ViewRowPermission.FormTitle' | translate) }}       
    </kendo-dialog-titlebar>

    <div *ngIf="errorMessages">
      <div *ngFor="let err of errorMessages" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ err }}
      </div>
    </div>

    <div class="row" id="main-section">
        <div class="col-sm-6 sppc-float">
            <div class="section-header">
                <span class="control-label">{{ getTitleText('ViewRowPermission.ListTitle' | translate) }}  </span>
                <input type="text" class="k-textbox input-search-form" [(ngModel)]="searchValue" (keydown.enter)="onSearch()" />
                <button class="k-button k-primary btn-search"
                        (click)="onSearch()">
                    <span class="k-i-filter k-icon"></span>
                </button>

                <button class="k-button btn-search"
                        [hidden]="!searchValue"
                        (click)="removeFilter()">
                    <span class="k-icon k-i-filter-clear"></span>
                </button>

            </div>
            <div class="section-body">

                <div *ngIf="noData">
                    <div class="alert alert-danger">
                        {{ 'ViewRowPermission.NoExistRecord' | translate }}
                    </div>
                </div>

                <div [ngClass]="{'k-rtl':this.CurrentLanguage === 'fa'}">
                    <kendo-treeview [nodes]="rowList"
                                    [textField]="['value']"
                                    kendoTreeViewExpandable
                                    [kendoTreeViewCheckable]
                                    [checkBy]="checkByKey"
                                    [(checkedKeys)]="rowCheckedKeys"
                                    (checkedChange)="handleCheckedChange($event)">
                    </kendo-treeview>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="section-header">
                <span class="control-label header-label">{{ 'ViewRowPermission.SelectedRecords' | translate }}</span>
            </div>
            <div class="section-body">
                <div [ngClass]="{'k-rtl':this.CurrentLanguage === 'fa'}">
                    <kendo-treeview [nodes]="selectedRowList"
                                    [textField]="['value']"
                                    kendoTreeViewExpandable
                                    [kendoTreeViewCheckable]
                                    [checkBy]="checkByKey"
                                    [(checkedKeys)]="selectedRowKeys"
                                    (checkedChange)="handleSelectedRowCheckedChange($event)">
                    </kendo-treeview>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="frm-btn" [ngClass]="{'pull-left':this.CurrentLanguage === 'fa','pull-right':this.CurrentLanguage === 'en'}">
        <button class="k-button k-primary" [disabled]="rowList.length == rowCheckedKeys.length" (click)="selectAllRow()">{{ 'ViewRowPermission.SelectAll' | translate }}</button>
        <button class="k-button k-primary" [disabled]="selectedRowKeys.length == 0" (click)="removeAllSelected()">{{ 'ViewRowPermission.DeleteAll' | translate }}</button>
    </div>

    <kendo-dialog-actions>
        <button class="k-button k-primary" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
        <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
    </kendo-dialog-actions>
</kendo-dialog>
