<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TadbirConnectionString" connectionString="Data Source=Asus-Pc;Initial Catalog=TadbirDemo;Persist Security Info=True;User ID=sa;Password=123456aA;Enlist=False;Network Library=dbmssocn;Connect Timeout=120;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
