<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServiceRoot" value="http://babaksoft.com/demo/sppc/api/"
      xdt:Transform="Replace" xdt:Locator="Condition(@key='ServiceRoot')"/>
    <add key="AppRoot" value="/demo/sppc/framework"
      xdt:Transform="Replace" xdt:Locator="Condition(@key='AppRoot')"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>