.icon-button {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 24px;
  cursor: pointer !important;
  z-index: 20000;
  position: relative;
}

.box-tools {
  padding-top: 4px;
}

.widget-header {
  padding-top: 2px;
  padding-bottom: 0px;
}