<div>
  <img class="home-img" src="../../../assets/tadbir-login.png" />
</div>



<ng-template #itemListRef>
  <div class="form-group" style="padding: 15px;" (keydown.enter)="passVoucherId()">
    <label class="control-label">شماره سند</label>
    <input type="text" class="k-textbox" [(ngModel)]="voucherNo" [OnlyNumber] />
  </div>
</ng-template>

<ng-template #dialogActions>
  <button kendoButton [primary]="true" [disabled]="!voucherNo" (click)="passVoucherId()">تایید</button>
  <button kendoButton (click)="close()">انصراف</button>
</ng-template>


<ng-template #elClsoingTmp>
  <closing-tmp-voucher (dataChanged)="closingDataChanged($event)"></closing-tmp-voucher>
</ng-template>
<ng-template #closingTmpActions>
  <button kendoButton [primary]="true" (click)="closingTmpOk()">تایید</button>
  <button kendoButton (click)="close()">انصراف</button>
</ng-template>


<ng-template #elOpenVoucherConfirmBox>  
  <div class="form-group open-voucher-msg">
    <span class="row">      
    {{'Voucher.OpeningVoucher' | translate}}
    </span>
  </div>  
</ng-template>
<ng-template #elOpenVoucherActions>
  <button kendoButton [primary]="true" (click)="openingVoucherOk()">تایید</button>
  <button kendoButton (click)="close()">انصراف</button>
</ng-template>
