<div class="panel-body">
  <div class="sppc-dialog-md sppc-filter-form" (keydown.esc)="escPress()">
    <div class="col-md-12 new-filter">
      <div class="col-md-9 pad10">
        <button
          kendoButton
          class="hidden-xs rm lm"
          title="{{ 'AdvanceFilter.AddGroupfilter' | translate }}"
          (click)="addGroupFilter()"
          [icon]="'file-add'"
          type="button"
        ></button>
        <button
          kendoButton
          class="hidden-xs rm lm"
          title="{{ 'AdvanceFilter.EditGroupfilter' | translate }}"
          [disabled]="gEditIsDisable()"
          (click)="editGroupFilter()"
          [icon]="'edit'"
          type="button"
        ></button>
        <button
          kendoButton
          class="hidden-xs rm lm"
          title="{{ 'AdvanceFilter.DeleteGroupfilter' | translate }}"
          [disabled]="gDeleteIsDisable()"
          (click)="removeGroupFilter()"
          [icon]="'delete'"
          type="button"
        ></button>
        <button
          kendoButton
          class="hidden-xs rm lm"
          title="{{ 'AdvanceFilter.SaveChanges' | translate }}"
          (click)="saveAllFilter()"
          [icon]="'save'"
          type="button"
        ></button>
        <button
          kendoButton
          class="hidden-xs rm lm"
          title="{{ 'AdvanceFilter.CopyFilter' | translate }}"
          (click)="copyGroupFilter()"
          [icon]="'copy'"
          type="button"
        ></button>
      </div>
      <div class="col-md-3 pad10">
        <kendo-dropdownlist
          [data]="groupFilters"
          class="sppc-width-100"
          textField="name"
          valueField="id"
          [(ngModel)]="currentGFilter"
          (ngModelChange)="gFilterSelectChange($event)"
        >
        </kendo-dropdownlist>
      </div>
    </div>

    <div class="col-md-12 new-filter">
      <div class="col-xs-12 col-md-3 pad10 sppc-float">
        <div class="form-group">
          <label class="control-label col-xs-12 col-sm-12">{{
            "AdvanceFilter.Fields" | translate
          }}</label>

          <kendo-dropdownlist
            [data]="columnsList"
            class="sppc-width-100"
            textField="title"
            valueField="name"
            [(ngModel)]="selectedColumn"
            (ngModelChange)="selectedColumnChange()"
            [disabled]="colsIsDisabled"
          >
          </kendo-dropdownlist>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 pad10 sppc-float">
        <div class="form-group">
          <label class="control-label col-xs-12 col-sm-12">{{
            "AdvanceFilter.Operators" | translate
          }}</label>

          <kendo-dropdownlist
            [data]="operatorsList"
            class="sppc-width-100"
            [textField]="'value'"
            [valueField]="'key'"
            [(ngModel)]="selectedOperator"
            [disabled]="opIsDisabled"
          >
            <ng-template kendoDropDownListValueTemplate let-dataItem>
              {{ dataItem?.value | translate }}
            </ng-template>
            <ng-template kendoDropDownListItemTemplate let-dataItem>
              {{ dataItem?.value | translate }}
            </ng-template>
            <ng-template kendoDropDownListNoDataTemplate>
              <h5>{{ "AdvanceFilter.NoDataForOperators" | translate }}</h5>
            </ng-template>
          </kendo-dropdownlist>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 pad10 sppc-float">
        <div class="form-group">
          <label class="control-label col-xs-12 col-sm-12">{{
            "AdvanceFilter.Value" | translate
          }}</label>

          <label
            class="control-label hint col-xs-12 col-sm-12"
            *ngIf="this.selectScriptType === ''"
            >{{ "AdvanceFilter.PleaseSelectField" | translate }}</label
          >
          <sppc-numericInput [(ngModel)]="selectedValue"
            *ngIf="this.selectScriptType === 'number'"
            class="sppc-input-num sppc-float sppc-width-100">
          </sppc-numericInput>

          <input
            class="k-textbox col-xs-12 col-sm-12 sppc-input-num sppc-float"
            [(ngModel)]="selectedValue"
            *ngIf="this.selectScriptType === 'string'"
          />

          <kendo-switch *ngIf="this.selectScriptType === 'boolean'"
            [(ngModel)]="selectedValue"
            class="sppc-float"
            style="width: 80px;"
            [onLabel]="getText('Account.Active')"
            [offLabel]="getText('Account.Inactive')">
          </kendo-switch>

          <sppc-datepicker
            *ngIf="this.selectScriptType === 'Date'"
            [(ngModel)]="selectedValue"
          ></sppc-datepicker>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 pad10 sppc-float">
        <div class="form-group">
          <label class="control-label col-xs-12 col-sm-12">{{
            "AdvanceFilter.LogicOperator" | translate
          }}</label>

          <kendo-dropdownlist
            [data]="logicalOperatorList"
            class="sppc-width-100"
            [textField]="'value'"
            [valueField]="'key'"
            [valuePrimitive]="true"
            [value]="selectedLogicalOperator"
            [(ngModel)]="selectedLogicalOperator"
            [disabled]="lgoIsDisabled"
          >
            <ng-template kendoDropDownListValueTemplate let-dataItem>
              {{ dataItem?.value | translate }}
            </ng-template>
            <ng-template kendoDropDownListItemTemplate let-dataItem>
              {{ dataItem?.value | translate }}
            </ng-template>
          </kendo-dropdownlist>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 pad10 sppc-float">
        <div class="form-group ins">
          <button
            *ngIf="formMode == 'insert'"
            kendoButton
            title="{{ 'AdvanceFilter.Insert' | translate }}"
            (click)="insertNewFilter()"
            [icon]="'plus-outline'"
            type="button"
          ></button>
          <button
            *ngIf="formMode == 'edit'"
            kendoButton
            title="{{ 'AdvanceFilter.Save' | translate }}"
            (click)="saveFilter()"
            [icon]="'save'"
            type="button"
          ></button>
          <button
            *ngIf="formMode == 'edit'"
            kendoButton
            title="{{ 'AdvanceFilter.Cancel' | translate }}"
            (click)="cancelEditMode()"
            [icon]="'close-outline'"
            type="button"
          ></button>
        </div>
      </div>
    </div>
    <kendo-grid
      id="filter_{{ viewId }}"
      [style.min-height.px]="190"
      style="width: 100%"
      #GridID
      [ngClass]="{
        tRtl: this.currentlang === 'fa',
        tLtr: this.currentlang === 'en'
      }"
      [data]="filters"
      [sortable]="{ allowUnsort: false, mode: 'multiple' }"
      [pageable]="false"
      [resizable]="true"
      [scrollable]="'scrollable'"
      [selectable]="{ enabled: true, mode: 'multiple' }"
      [filterable]="false"
      [(selectedKeys)]="selectedRows"
      [kendoGridSelectBy]="selectionKey"
      [loading]="false"
    >
      <kendo-grid-messages
        pagerPage="{{ 'Paging.Record' | translate }}"
        pagerOf="{{ 'Paging.Of' | translate }}"
        pagerItems="{{ 'Paging.Record' | translate }}"
      >
      </kendo-grid-messages>
      <ng-template kendoGridNoRecordsTemplate>
        {{
          showloadingMessage ? "" : ("AdvanceFilter.RecordNotFound" | translate)
        }}
      </ng-template>
      <ng-template kendoGridToolbarTemplate>
        <div class="form-group sppc-float">
          <button
            kendoButton
            class="hidden-xs rm lm"
            title="{{ 'AdvanceFilter.RemoveFilter' | translate }}"
            (click)="removeFilter()"
            [icon]="'delete'"
            type="button"
            [disabled]="removeIsDisable()"
          ></button>
          <button
            kendoButton
            class="hidden-xs rm lm"
            title="{{ 'AdvanceFilter.EditFilter' | translate }}"
            (click)="editFilter()"
            [icon]="'edit'"
            type="button"
            [disabled]="editIsDisable()"
          ></button>
          <button
            kendoButton
            class="hidden-xs rm lm"
            title="{{ 'AdvanceFilter.Braces' | translate }}"
            (click)="braces()"
            [icon]="'css'"
            type="button"
          ></button>
          <button
            kendoButton
            class="hidden-xs rm lm"
            title="{{ 'AdvanceFilter.RemoveAllBraces' | translate }}"
            (click)="removeAllBraces()"
            [icon]="'html'"
            type="button"
          ></button>
        </div>
      </ng-template>

      <kendo-grid-checkbox-column
        showSelectAll="true"
        width="50"
      ></kendo-grid-checkbox-column>
      <kendo-grid-column
        media="(min-width: 450px)"
        title="{{ 'AdvanceFilter.Condition' | translate }}"
        field="filterTitle"
      >
      </kendo-grid-column>
    </kendo-grid>
    <div class="col-md-12 exp-filter">
      <div
        class="col-md-12 exp-view"
        *ngIf="totalFilterExpression != ''"
        [innerHtml]="totalFilterExpression"
      ></div>
    </div>
    <kendo-dialog-actions>
      <button class="k-button k-primary" (click)="onOk()">
        {{ "Buttons.Ok" | translate }}
      </button>
      <!--[disabled]="!selectedRows.length"-->
      <button class="k-button" (click)="onCancel()">
        {{ "Buttons.Cancel" | translate }}
      </button>
    </kendo-dialog-actions>
  </div>
</div>
<kendo-dialog
  *ngIf="activeGroupFilter || activeSaveFilter || activeCopyFilter"
  class="pdialog"
  id="advancefilter-name"
  [ngClass]="{
    tRtl: this.currentlang === 'fa',
    tLtr: this.currentlang === 'en'
  }"
  (close)="onGroupFilterCancel()"
>
  <kendo-dialog-titlebar>
    {{ "AdvanceFilter.GroupFilter" | translate }}
  </kendo-dialog-titlebar>
  <div class="group-filter">
    <div class="form-group">
      <div class="col-md-12">
        <label for="groupFilter" class="control-label">{{
          "AdvanceFilter.Name" | translate
        }}</label>
        <input
          type="text"
          class="k-textbox"
          name="groupFilter"
          [(ngModel)]="filterGroupName"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <input
          type="checkbox"
          name="useForOthers"
          id="useForOthers"
          class="k-checkbox"
          [(ngModel)]="filterUseForOthers"
          [attr.disabled]="!IsAdmin ? 'disabled' : null"
        />
        <span for="useForOthers">{{
          "AdvanceFilter.UseForOthers" | translate
        }}</span>
      </div>
    </div>
  </div>
  <kendo-dialog-actions>
    <button class="k-button k-primary" (click)="onGroupFilterOk()">
      {{ "Buttons.Ok" | translate }}
    </button>
    <button class="k-button" (click)="onGroupFilterCancel()">
      {{ "Buttons.Cancel" | translate }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
