/* You can add global styles to this file, and also import other style files */

.dl-value {
  margin: 15px;
}

.chb-column-explore {
  width: 30px !important;
}

.chb-column {
  width: 35px !important;
}

.chb-column-explore-s {
  width: 20px !important;
}

.chb-column-s {
  width: 25px !important;
}

.chb-column-m {
  width: 50px !important;
}

.tRtl .toastr-rtl {
  direction: rtl;
}


/* //> next added */

.sppc-tooltip{
  position: absolute;
  padding: 5px;
  white-space: normal;
  background: #0008;
  /* max-width: 400px; */
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
  z-index: 99999;
  border-radius: 5px;
  right: 5px;
  margin-left: 5px;
}

.widget-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.clear {
  clear: both;
}

/* */
.new-row {
  background: #d3f96163 !important;
  animation: fadeOutBackground 2.9s;
  -webkit-animation: fadeOutBackground 2.9s;
}

@keyframes fadeOutBackground {
  0% { background: #d3f96163; }
  70% { background: #d3f96160; }
  85% { background: #d3f96113; }
  100% { background: #d3f96100; }
}

input[type=checkbox], input[type=radio] {
  margin: 4px !important;
  padding: 6px !important;
  -webkit-appearance: auto !important;
}

.content-header {
  width: 100%;
}

.m-20 { margin: 20px !important; line-height: normal; }

.k-treeview-filter kendo-textbox {
  display: flex;
  flex-direction: row-reverse;
}

.k-treeview-filter kendo-textbox .k-clear-value {
  width: 10px;
}

kendo-textbox .k-input-icon.k-i-search {
  padding: 0;
  margin: -11px -16px;
}

.p-component {
  font-family: inherit !important;
  font-size: inherit !important;
}

.disabled{
  color: #777;
  pointer-events: none;
  /* opacity: 0.8; */
}

.global-confirm-box .k-dialog-content{
  overflow: hidden;
}

.global-confirm-box .k-window-content {
  padding: 15px !important;
}

/* Compute Btn */
.btn-compute-default {
  /* margin-top: 25px; */
  background: #e2e2e2 !important;
  border: 1px solid #e2e2e2 !important;
  color: #666 !important;
  padding: 5px 25px;
}

.btn-compute {
  margin-top: 5px;
  color: #fff;
  transition: All 0.3s 0.1s ease-out;
}

.btn-compute-selectable {
  margin-top: 5px;
  color: #fff;
  /* background-image: linear-gradient(#c1e3ff, #337ab7); */
}


.breadcrumb>li{
  display: inline !important;
}
body.tRtl .content-header > .breadcrumb > li > a{
  display: contents !important;
}
.grid-title-container{
  padding-top: 0 !important;
  display: block;
}
.kendo-grid-title{
  margin: 0 0 7px 0;
}
.grid-title-container .breadcrumb{
  position: unset !important;
  float: unset !important;
  padding-top: 0 !important;
}
*:has(.grid-title-container)::before {
  content: none;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.d-flex-wrap-g5{
  display: flex;
  gap: 5px;
  flex-flow: wrap;
}
