/* You can add global styles to this file, and also import other style files */

.dl-value {
  margin: 15px;
}

.chb-column-explore {
  width: 30px !important;
}

.chb-column {
  width: 35px !important;
}

.chb-column-explore-s {
  width: 20px !important;
}

.chb-column-s {
  width: 25px !important;
}

.chb-column-m {
  width: 50px !important;
}

.tRtl .toastr-rtl {
  direction: rtl;
}


/* //> next added */

.sppc-tooltip{
  position: absolute;
  padding: 5px;
  white-space: normal;
  background: #0008;
  /* max-width: 400px; */
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
  z-index: 99999;
  border-radius: 5px;
  right: 5px;
  margin-left: 5px;
}
