<!-- 
    <kendo-dialog *ngIf="showErrorDialog" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
                  (close)="closeForm()" [minWidth]="250" [width]="450">
      <kendo-dialog-titlebar>
        {{ 'Exception.ErrorTitle' | translate }}
      </kendo-dialog-titlebar>

      <div>
        <label class="control-label">{{ 'Exception.ErrorCode' | translate }}</label>
        <div class="alert alert-danger">
          {{ errCode }}
        </div>
        <label class="control-label">{{ 'Exception.ErrorMsg' | translate }}</label>
        <div class="alert alert-danger">
          {{ errMessage }}
        </div>
      </div>
      <kendo-dialog-actions>
        <button class="k-button" (click)="closeForm()">{{ 'Buttons.Cancel' | translate }}</button>
      </kendo-dialog-actions>
    </kendo-dialog>
    -->

<ng-progress></ng-progress>
<div class='container-fluid' (window:keypress)="doSomething($event)">
  <div class='row'>
    <div id="mainContent" class="nopad body-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--for report manager (detect screen dpi)-->
<div id="dpi" style="height: 1in; width: 1in; left: -100%;
position: absolute; top: -100%;visibility: hidden"></div>
<!--for report manager (detect screen dpi)-->
