<div class="panel panel-primary voucher-line">
  <div class="panel-body">
    <kendo-grid id="3" #GridID [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
                [data]="rowData"
                [sortable]="true"
                [pageSize]="pageSize"
                [skip]="skip"
                [filter]="state.filter"
                [pageable]="true"
                [resizable]="true"
                [filterable]="true"
                [scrollable]="'none'"
                (pageChange)="pageChange($event)"
                (sortChange)="sortChange($event)"
                (edit)="editHandler($event)"
                (remove)="removeHandler($event)"
                [sort]="state.sort"
                [loading]="true"
                [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
                [selectedKeys]="selectedRows"
                [kendoGridSelectBy]="selectionKey"
                (filterChange)="filterChange($event)"
                (selectedKeysChange)="onSelectedKeysChange($event)"
                sppc-grid-reorder sppc-grid-resize>
      <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                           pagerOf="{{ 'Paging.Of' | translate }}"
                           pagerItems="{{ 'Paging.Record' | translate }}">
      </kendo-grid-messages>
      <ng-template kendoGridNoRecordsTemplate>
        {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
      </ng-template>
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand (click)="addNew()" [icon]="'plus-outline'" type="button">{{ 'VoucherLine.New' | translate }}</button>
        <button kendoGridAddCommand [icon]="'plus-outline'" *ngIf="balance != 0" class="k-button" (click)="addNewWithBalance()" type="button">{{ 'VoucherLine.NewWithDifference' | translate }}</button>
        <button *ngIf="groupDelete" class="k-button" (click)="deleteModels()" type="button">{{ 'Buttons.GroupDelete' | translate }}</button>
        <grid-setting entityTypeName="VoucherLine"></grid-setting>
        <grid-filter *ngIf="this.grid.filterable" [parentComponent]="this" [showClearFilter]="this.grid.filter.filters.length"></grid-filter>
      </ng-template>

      <!-- template for mobile -->
      <kendo-grid-column media="(max-width: 449px)" title="">
        <ng-template kendoGridCellTemplate let-voucherLine>
          <!-- template for mobile -->
          <dl>
            <dt>{{ 'VoucherLine.Debit' | translate }}</dt>
            <dd>{{ voucherLine.debit | number }}</dd>

            <dt>{{ 'VoucherLine.Credit' | translate }}</dt>
            <dd>{{ voucherLine.credit | number }}</dd>

            <dt>{{ 'VoucherLine.Description' | translate  }}</dt>
            <dd>{{ voucherLine.description }}</dd>
          </dl>
          <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
          <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          <table>
            <tr>
              <td>{{ 'VoucherLine.DebitSum' | translate }}</td>
              <td>{{ debitSum | number }}</td>
            </tr>
            <tr>
              <td>{{ 'VoucherLine.CreditSum' | translate }}</td>
              <td>{{ creditSum | number }}</td>
            </tr>
            <tr>
              <td>{{ 'VoucherLine.Difference' | translate }}</td>
              <td>
                <span class="voucher-balance">
                  <i class="fa" [ngClass]="{'fa-check color-green': balance == 0,'fa-times color-red':balance != 0}" aria-hidden="true"></i>
                  <span class="balance-value" [ngClass]="{'color-green': balance == 0,'color-red':balance != 0}"> {{ balance | number }}</span>
                </span>
              </td>
            </tr>
          </table>
        </ng-template>
      </kendo-grid-column>
      <!-- template for mobile -->
      <!-- template for mid-size devices -->
      <kendo-grid-checkbox-column showSelectAll="true" width="10" media="(min-width: 450px) and (max-width: 1024px)">
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          {{ 'VoucherLine.Sum' | translate }}
        </ng-template>
      </kendo-grid-checkbox-column>

      <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" format="{0:n}" sppc-grid-column="VoucherLine.debit">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <sppc-grid-filter [metaData]="getMeta('debit')" [column]="column" [spinners]="true" [filter]="filter"></sppc-grid-filter>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          {{ debitSum | number }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" format="{0:n}" sppc-grid-column="VoucherLine.credit">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <sppc-grid-filter [metaData]="getMeta('credit')" [column]="column" [spinners]="true" [filter]="filter"></sppc-grid-filter>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          {{ creditSum | number }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 450px) and (max-width: 1024px)">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button [icon]="'edit'" kendoGridEditCommand title="{{ 'Buttons.Edit' | translate }}"></button>
          <button [icon]="'delete'" kendoGridRemoveCommand title="{{ 'Buttons.Delete' | translate }}"></button>
        </ng-template>

        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          <span class="voucher-balance">
            <i class="fa" [ngClass]="{'fa-check color-green': balance == 0,'fa-times color-red':balance != 0}" aria-hidden="true"></i>
            {{ 'VoucherLine.Difference' | translate }}:
            <span class="balance-value" [ngClass]="{'color-green': balance == 0,'color-red':balance != 0}"> {{ balance | number }}</span>
          </span>
        </ng-template>
      </kendo-grid-command-column>
      <!-- template for mid-size devices -->
      <!-- additional columns on large devices -->
      <kendo-grid-checkbox-column showSelectAll="true" media="(min-width: 1024px)">
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          {{ 'VoucherLine.Sum' | translate }}
        </ng-template>
      </kendo-grid-checkbox-column>

      <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="VoucherLine.FullAccount.Account.FullCode">

        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <sppc-grid-filter [metaData]="getMeta('fullAccount.Account.Id')" [column]="column" [filter]="filter"></sppc-grid-filter>
        </ng-template>

        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <strong>{{dataItem.fullAccount.account.fullCode}}</strong>
        </ng-template>

      </kendo-grid-column>

      <kendo-grid-column media="(min-width: 1024px)" width="450" sppc-grid-column="VoucherLine.description">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <sppc-grid-filter [metaData]="getMeta('description')" [column]="column" [filter]="filter"></sppc-grid-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <span class="nowrap" title="{{dataItem.description}}">{{dataItem.description}}</span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column media="(min-width: 1024px)" format="{0:n}" sppc-grid-column="VoucherLine.debit">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <sppc-grid-filter [metaData]="getMeta('debit')" [column]="column" [filter]="filter"></sppc-grid-filter>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          {{ debitSum | number }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column media="(min-width: 1024px)" format="{0:n}" sppc-grid-column="VoucherLine.credit">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <sppc-grid-filter [metaData]="getMeta('credit')" [column]="column" [filter]="filter"></sppc-grid-filter>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          {{ creditSum | number }}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 1024px)">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button [icon]="'edit'" kendoGridEditCommand title="{{ 'Buttons.Edit' | translate }}"></button>
          <button [icon]="'delete'" kendoGridRemoveCommand title="{{ 'Buttons.Delete' | translate }}"></button>
        </ng-template>

        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex" *ngIf="totalRecords > 0">
          <span class="voucher-balance">
            <i class="fa" [ngClass]="{'fa-check color-green': balance == 0,'fa-times color-red':balance != 0}" aria-hidden="true"></i>
            {{ 'VoucherLine.Difference' | translate }}:
            <span class="balance-value" [ngClass]="{'color-green': balance == 0,'color-red':balance != 0}"> {{ balance | number }}</span>
          </span>
        </ng-template>

      </kendo-grid-command-column>
      <!-- additional columns on large devices -->

      <ng-template kendoGridDetailTemplate let-dataItem>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.account.fullCode">
          <span>{{ 'VoucherLine.FullAccount.Account.FullCode' | translate }}:</span>
          <span>{{ dataItem.fullAccount.account.fullCode }}</span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.account.name">
          <span>{{ 'VoucherLine.FullAccount.Account.Name' | translate }}:</span>
          <span>{{ dataItem.fullAccount.account.name }}</span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.detailAccount.fullCode">
          <span>{{ 'VoucherLine.FullAccount.DetailAccount.FullCode' | translate }}:</span>
          <span>{{ dataItem.fullAccount.detailAccount.fullCode }}</span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.detailAccount.name">
          <span>{{ 'VoucherLine.FullAccount.DetailAccount.Name' | translate }}:</span>
          <span>{{ dataItem.fullAccount.detailAccount.name }}</span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.costCenter.fullCode">
          <span>{{ 'VoucherLine.FullAccount.CostCenter.FullCode' | translate }}:</span>
          <span>{{ dataItem.fullAccount.costCenter.fullCode }}</span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.costCenter.name">
          <span>{{ 'VoucherLine.FullAccount.CostCenter.Name' | translate }}:</span>
          <span>{{ dataItem.fullAccount.costCenter.name }}</span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.project.fullCode">
          <span>{{ 'VoucherLine.FullAccount.Project.FullCode' | translate }}:</span>
          <span>{{ dataItem.fullAccount.project.fullCode }}</span>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.fullAccount.project.name">
          <span>{{ 'VoucherLine.FullAccount.Project.Name' | translate }}:</span>
          <span>{{ dataItem.fullAccount.project.name }}</span>
        </div>

        <div class="col-xs-12 detail-info" [ngClass]="{'pull-right':this.currentlang === 'fa'}" [hidden]="!dataItem.description">
          <span>{{ 'VoucherLine.Description' | translate }}:</span>
          <span>{{ dataItem.description }}</span>
        </div>

      </ng-template>



    </kendo-grid>
    <voucherLine-form-component [model]="editDataItem" [isNew]="isNew" [errorMessage]="errorMessage" [balance]="balance" [isNewBalance]="isNewBalance"
                                (save)="saveHandler($event)"
                                (cancel)="cancelHandler()">
    </voucherLine-form-component>
  </div>
  <kendo-dialog title="{{'VoucherLine.Delete' | translate}}" *ngIf="deleteConfirm" (close)="deleteModel(false)" [minWidth]="250" [width]="450">
    <p>
      {{ deleteConfirmMsg }}
    </p>
    <kendo-dialog-actions>
      <button class="k-button" (click)="deleteModel(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
      <button class="k-button" (click)="deleteModel(false)">{{ 'Buttons.No' | translate }}</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

