<kendo-dialog *ngIf="active" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              (close)="closeForm()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        {{ isNew ?  ('Buttons.New' | translate) :  ('Buttons.Edit' | translate) }}
    </kendo-dialog-titlebar>

    <div *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>

    <form novalidate [formGroup]="editForm1" (keydown.enter)="onSave($event)">

        <div class="form-group">
            <label for="fullAccount" class="control-label">{{ 'VoucherLine.Account' | translate }}</label>

            <sppc-fullAccount formGroupName="fullAccount"></sppc-fullAccount>
        </div>

        <div class="form-group">
            <label for="currencyId" class="control-label">{{ 'VoucherLine.Currency' | translate }}</label>

            <kendo-dropdownlist [data]="currenciesRows" [valuePrimitive]="true" formControlName="currencyId" class="ddl-fAcc"
                                [textField]="'value'" [value]="selectedCurrencyValue" [(ngModel)]="selectedCurrencyValue" [valueField]="'key'" [defaultItem]="{ value: '', key: null}">
            </kendo-dropdownlist>
            <br />
            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm1.controls.currencyId.valid || editForm1.controls.currencyId.pristine">
                {{ 'AllValidations.VoucherLine.CurrencyIdIsRequired' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="debit" class="control-label">{{ 'VoucherLine.Debit' | translate }}</label>

            <sppc-numerictextbox formControlName="debit" [spinners]="false" [format]="'n'"></sppc-numerictextbox>

            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm1.controls.debit.valid || editForm1.controls.debit.pristine">
                {{ 'AllValidations.VoucherLine.DebitIsRequired' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="credit" class="control-label">{{ 'VoucherLine.Credit' | translate }}</label>

            <sppc-numerictextbox formControlName="credit" [spinners]="false" [format]="'n'"></sppc-numerictextbox>

            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm1.controls.credit.valid || editForm1.controls.credit.pristine">
                {{ 'AllValidations.VoucherLine.CreditIsRequired' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="control-label">{{ 'VoucherLine.Description' | translate }}</label>

            <textarea class="k-textarea" formControlName="description"></textarea>

            <div class="k-tooltip k-tooltip-validation" [hidden]="editForm1.controls.description.valid || editForm1.controls.description.pristine">
                {{ 'AllValidations.VoucherLine.DescriptionIsTooLong' | translate }}
            </div>
        </div>
    </form>

    <kendo-dialog-actions>
        <button class="k-button k-primary" [disabled]="!editForm1.valid" (click)="onSave($event,false)">{{ 'Buttons.Ok' | translate }}</button>
        <button class="k-button k-primary" [disabled]="!editForm1.valid" (click)="onSave($event,true)">{{ 'Buttons.OkAndNew' | translate }}</button>
        <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
    </kendo-dialog-actions>
</kendo-dialog>
