#main-section {
    border: solid 1px #337ab7;
    border-radius: 3px;
    margin:0;
}

    #main-section > .col-sm-6 {        
        padding: 0;        
    }

    @media screen and (max-width:768px){
        #main-section > .col-sm-6 {
            float:unset !important;
        }
    }

.section-header {
    border: solid 1px #337ab7;
    padding: 7px 10px;
}

.section-body {
    padding: 10px;
    border-right: solid 1px #337ab7;
    border-left: solid 1px #337ab7;
    height: 450px;
    overflow-y: scroll;
}

#btn-section .k-button {
    margin-top: 17px;
}

.k-treeview {
    white-space: unset !important;
}

.btn-search {
    margin-top: 0 !important;
}

/deep/ #accountRelationForm > .k-dialog {
    width: 800px;
}

@media screen and (max-width:800px) {
    /deep/ #accountRelationForm > .k-dialog {
        width: 90%;
        min-width:250px;
    }
}



#result-label {
    margin: 5px 0;
    display: block;
}

/deep/.k-dropdown {
    width: 150px;
}