<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Entity.AccountRelations' | translate }}</div>
    <div class="panel-body">

        <div *ngIf="errorMessage != ''">
            <div class="alert alert-danger">
                {{ errorMessage }}
            </div>
        </div>
        <div *ngIf="!viewAccess">
            {{ 'App.NotViewAccess' | translate }}
        </div>
        <div *ngIf="viewAccess">
            <div class="row" id="main-section">
                <div class="col-sm-6" [ngClass]="{'pull-right':this.currentlang === 'fa'}">
                    <div class="section-header">
                        <span class="control-label">{{ 'AccountRelations.MainComponent' | translate }}</span>

                        <kendo-dropdownlist [data]="mainComponent" [valuePrimitive]="true"
                                            [textField]="'value'" [(ngModel)]="selectedMainComponentValue" [value]="mainComponentDropdownSelected" [valueField]="'key'" [defaultItem]="{ value: 'AccountRelations.Select' | translate , key: 0}"
                                            (valueChange)="handleMainComponentDropDownChange($event)">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem.value | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem.value | translate }}
                            </ng-template>
                        </kendo-dropdownlist>

                        <input type="text" class="k-textbox" [disabled]="!isEnableMainComponentSearchBtn" [(ngModel)]="searchValue" (keydown)="onKeyMainComponent($event.keyCode)" />

                        <button class="k-button k-primary btn-search"
                                [disabled]="!isEnableMainComponentSearchBtn"
                                (click)="onMainComponentSearch()">
                            {{ 'AccountRelations.SearchBtn' | translate }}
                        </button>

                    </div>
                    <div class="section-body">

                        <div *ngIf="noResultMessage">
                            <div class="alert alert-danger">
                                {{ 'AccountRelations.NotFound' | translate }}
                            </div>
                        </div>

                        <div [ngClass]="{'k-rtl':this.currentlang === 'fa'}">
                            <kendo-treeview [nodes]="mainComponentCategories"
                                            [textField]="['name']"
                                            kendoTreeViewExpandable
                                            [kendoTreeViewCheckable]="{ mode: 'single', checkChildren: false , checkParents: false }"
                                            [checkBy]="checkById"
                                            [(checkedKeys)]="mainComponentCheckedKeys"
                                            [hasChildren]="hasChildren"
                                            [children]="fetchMainComponentChildren"
                                            (checkedChange)="handleMainComponentChecking($event)"
                                            [(expandedKeys)]="mainComponentExpandedKeys">
                                <ng-template kendoTreeViewNodeTemplate let-dataItem>
                                    {{dataItem.name}} - ({{dataItem.fullCode}})
                                </ng-template>
                            </kendo-treeview>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="section-header">
                        <span class="control-label">{{ 'AccountRelations.RelatedComponent' | translate }}</span>

                        <kendo-dropdownlist [data]="relatedComponent" [valuePrimitive]="true"
                                            [textField]="'value'" [(ngModel)]="selectedRelatedComponentValue" [value]="relatedComponentDropdownSelected" [valueField]="'key'" [defaultItem]="{ value: 'AccountRelations.Select' | translate, key: 0}"
                                            [disabled]="isDisableRelatedComponnet" (valueChange)="handleRelatedComponentDropDownChange($event)">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem.value | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem.value | translate }}
                            </ng-template>
                        </kendo-dropdownlist>

                        <input type="text" class="k-textbox" [disabled]="!isEnableRelatedComponentSearchBtn" [(ngModel)]="relatedSearchValue" (keydown)="onKeyRelatedComponent($event.keyCode)" />

                        <button class="k-button k-primary btn-search"
                                [disabled]="!isEnableRelatedComponentSearchBtn"
                                (click)="onRelatedComponentSearch()">
                            جستجو
                        </button>

                    </div>
                    <div class="section-body">
                        <div [ngClass]="{'k-rtl':this.currentlang === 'fa'}">

                            <div *ngIf="noRelatedResultMessage">
                                <div class="alert alert-danger">
                                    {{ 'AccountRelations.NoRelateion' | translate }}
                                </div>
                            </div>

                            <kendo-treeview [nodes]="relatedComponentCategories"
                                            [textField]="['name']"
                                            kendoTreeViewExpandable
                                            [kendoTreeViewCheckable]="{ mode: 'multiple', checkChildren: false , checkParents: false }"
                                            [checkBy]="checkById"
                                            [(checkedKeys)]="relatedComponentCheckedKeys"
                                            [hasChildren]="hasChildren"
                                            [children]="fetchRelatedComponentChildren"
                                            [(expandedKeys)]="relatedComponentExpandedKeys"
                                            (childrenLoaded)="childrenLoadedHandler($event)">
                                <ng-template kendoTreeViewNodeTemplate let-dataItem>
                                    {{dataItem.name}} - ({{dataItem.fullCode}})
                                </ng-template>
                            </kendo-treeview>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="btn-section" [ngClass]="{'pull-left':this.currentlang === 'fa','pull-right':this.currentlang === 'en'}">                
                <button class="k-button k-primary" [disabled]="mainComponentSelectedItem == 0 || relatedComponentDropdownSelected == 0" (click)="onCreateRelation()">{{ 'AccountRelations.CreateRelationBtn' | translate }}</button>
                <button class="k-button" [disabled]="relatedComponentCheckedKeys.length == 0" (click)="DeleteRelation()">{{ 'AccountRelations.DeleteRelationBtn' | translate }}</button>
                <button class="k-button" (click)="onCancel()">{{ 'Buttons.Cancel' | translate }}</button>
            </div>
        </div>

        <accountRelations-form-component [active]="isActive" [errorMessage]="errorMessage" 
                                         [model]="mainComponentModel" 
                                         [mainComponentSelected]="mainComponentDropdownSelected"
                                         [relatedComponentSelected]="relatedComponentDropdownSelected"
                                         (cancel)="cancelHandler()">
        </accountRelations-form-component>

    </div>
</div>




