<kendo-dialog *ngIf="roleDetail" class="user-dialog" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ getTitleText('RoleDetail.RoleDetailTitle' | translate) }}
    </kendo-dialog-titlebar>

    <div *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'Role.RoleDetail' | translate }}</div>
        <div class="panel-body">

            <div class="form-group">
                <label class="control-label">{{ 'Role.Name' | translate }}</label>

                <span>{{ roleName }}</span>
            </div>

            <div class="form-group">
                <label class="control-label">{{ 'Role.Description' | translate }}</label>

                <p>{{ roleDescription }}</p>
            </div>

        </div>
    </div>



    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'Role.Permissions' | translate }}</div>
        <div class="panel-body">

            <kendo-grid [data]="gridPermissionData">
                <ng-template kendoGridNoRecordsTemplate>
                    {{showloadingPermissionMessage  ? ('App.Loading' | translate) : ('Role.RecordNotFound' | translate)}}
                </ng-template>

                <!-- template for mobile -->
                <kendo-grid-column media="(max-width: 450px)" title="">
                    <ng-template kendoGridCellTemplate let-role>
                        <dl>
                            <dt>{{ 'Role.Name' | translate }}</dt>
                            <dd>{{ role.name }}</dd>

                            <dt>{{ 'Role.GroupName' | translate }}</dt>
                            <dd>{{ role.groupName }}</dd>
                        </dl>
                    </ng-template>
                </kendo-grid-column>
                <!-- template for mobile -->
                <!-- additional columns on large devices -->
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="Role.name">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="Role.groupName">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" sppc-grid-column="Role.description">
                </kendo-grid-column>
                <!-- additional columns on large devices -->

            </kendo-grid>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'Role.Branches' | translate }}</div>
        <div class="panel-body">

            <kendo-grid [data]="gridBranchesData">
                <ng-template kendoGridNoRecordsTemplate>
                    {{showloadingBranchesMessage  ? ('App.Loading' | translate) : ('RoleBranches.RecordNotFound' | translate)}}
                </ng-template>

                <!-- template for mobile -->
                <kendo-grid-column media="(max-width: 450px)" title="">
                    <ng-template kendoGridCellTemplate let-roleBranches>
                        <dl>
                            <dt>{{ 'RoleBranches.Name' | translate }}</dt>
                            <dd>{{ roleBranches.name }}</dd>

                            <dt>{{ 'RoleBranches.Description' | translate }}</dt>
                            <dd>{{ roleBranches.description }}</dd>
                        </dl>

                    </ng-template>
                </kendo-grid-column>
                <!-- template for mobile -->
                <!-- additional columns on large devices -->
                <kendo-grid-column media="(min-width: 450px)" width="400" sppc-grid-column="RoleBranches.name">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" sppc-grid-column="RoleBranches.description">
                </kendo-grid-column>
                <!-- additional columns on large devices -->

            </kendo-grid>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">{{ 'Role.Users' | translate }}</div>
        <div class="panel-body">

            <kendo-grid [data]="gridUsersData">
                <ng-template kendoGridNoRecordsTemplate>
                    {{showloadingUsersMessage  ? ('App.Loading' | translate) : ('RoleUsers.RecordNotFound' | translate)}}
                </ng-template>


                <!-- template for mobile -->
                <kendo-grid-column media="(max-width: 450px)" title="">
                    <ng-template kendoGridCellTemplate let-roleUsers>
                        <dl>
                            <dt>{{ 'RoleUsers.UserName' | translate }}</dt>
                            <dd>{{ roleUsers.userName }}</dd>

                            <dt>{{ 'RoleUsers.PersonFirstName' | translate }}</dt>
                            <dd>{{ roleUsers.personFirstName }}</dd>

                            <dt>{{ 'RoleUsers.PersonLastName' | translate }}</dt>
                            <dd>{{ roleUsers.personLastName }}</dd>

                            <dt>{{ 'RoleUsers.IsEnabled' | translate }}</dt>
                            <dd>
                                <div *ngIf="roleUsers.isEnabled;then active else inactive"></div>
                                <ng-template #active>
                                    {{ 'User.Active' | translate }}
                                </ng-template>
                                <ng-template #inactive>
                                    {{ 'User.Inactive' | translate }}
                                </ng-template>
                            </dd>
                        </dl>

                    </ng-template>
                </kendo-grid-column>
                <!-- template for mobile -->
                <!-- additional columns on large devices -->
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="RoleUsers.userName">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="RoleUsers.personFirstName">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="RoleUsers.personLastName">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" sppc-grid-column="RoleUsers.isEnabled">
                    <ng-template kendoGridCellTemplate let-roleUsers>
                        <div *ngIf="roleUsers.isEnabled;then active else inactive"></div>
                        <ng-template #active>
                            {{ 'User.Active' | translate }}
                        </ng-template>
                        <ng-template #inactive>
                            {{ 'User.Inactive' | translate }}
                        </ng-template>
                    </ng-template>
                </kendo-grid-column>
                <!-- additional columns on large devices -->

            </kendo-grid>
        </div>
    </div>


</kendo-dialog>
