<kendo-dialog *ngIf="usersList" class="user-dialog" [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ getTitleText('RoleUsers.RoleUsersTitle' | translate) }}
    </kendo-dialog-titlebar>

    <div *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">

            <kendo-grid [data]="gridData"
                        [selectable]="true"
                        [selectedKeys]="selectedRows"
                        [kendoGridSelectBy]="selectionKey">
                <ng-template kendoGridNoRecordsTemplate>
                    {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
                </ng-template>

                <kendo-grid-checkbox-column showSelectAll="true" width="40"></kendo-grid-checkbox-column>

                <!-- template for mobile -->
                <kendo-grid-column media="(max-width: 450px)" title="">
                    <ng-template kendoGridCellTemplate let-roleUsers>
                        <dl>
                            <dt>{{ 'RoleUsers.UserName' | translate }}</dt>
                            <dd>{{ roleUsers.userName }}</dd>

                            <dt>{{ 'RoleUsers.PersonFirstName' | translate }}</dt>
                            <dd>{{ roleUsers.personFirstName }}</dd>

                            <dt>{{ 'RoleUsers.PersonLastName' | translate }}</dt>
                            <dd>{{ roleUsers.personLastName }}</dd>

                            <dt>{{ 'RoleUsers.IsEnabled' | translate }}</dt>
                            <dd>
                                <div *ngIf="roleUsers.isEnabled;then active else inactive"></div>
                                <ng-template #active>
                                    {{ 'User.Active' | translate }}
                                </ng-template>
                                <ng-template #inactive>
                                    {{ 'User.Inactive' | translate }}
                                </ng-template>
                            </dd>
                        </dl>

                    </ng-template>
                </kendo-grid-column>
                <!-- template for mobile -->
                <!-- additional columns on large devices -->
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="RoleUsers.userName">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="RoleUsers.personFirstName">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" width="300" sppc-grid-column="RoleUsers.personLastName">
                </kendo-grid-column>
                <kendo-grid-column media="(min-width: 450px)" sppc-grid-column="RoleUsers.isEnabled">
                    <ng-template kendoGridCellTemplate let-roleUsers>
                        <div *ngIf="roleUsers.isEnabled;then active else inactive"></div>
                        <ng-template #active>
                            {{ 'User.Active' | translate }}
                        </ng-template>
                        <ng-template #inactive>
                            {{ 'User.Inactive' | translate }}
                        </ng-template>
                    </ng-template>
                </kendo-grid-column>
                <!-- additional columns on large devices -->

            </kendo-grid>
        </div>
    </div>


    <kendo-dialog-actions>
        <button class="k-button k-primary" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
        <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
    </kendo-dialog-actions>

</kendo-dialog>
