<app-bread-cumb ></app-bread-cumb>
<div SppcCheckAccess="View" class="panel-body">
  <kendo-grid id="9" #GridID [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}"
              [data]="rowData"
              [sortable]="true"
              [pageSize]="pageSize"
              [skip]="skip"
              [filter]="state.filter"
              [pageable]="true"
              [resizable]="true"
              [filterable]="true"
              [scrollable]="'none'"
              (pageChange)="pageChange($event)"
              (sortChange)="sortChange($event)"
              (edit)="editHandler($event)"
              (remove)="removeHandler($event)"
              [sort]="state.sort"
              [loading]="true"
              [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
              [selectedKeys]="selectedRows"
              [kendoGridSelectBy]="selectionKey"
              (filterChange)="filterChange($event)"
              (selectedKeysChange)="onSelectedKeysChange($event)"
              sppc-grid-reorder sppc-grid-resize>
    <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                         pagerOf="{{ 'Paging.Of' | translate }}"
                         pagerItems="{{ 'Paging.Record' | translate }}">
    </kendo-grid-messages>
    <ng-template kendoGridNoRecordsTemplate>
      {{ showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate) }}
    </ng-template>
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand SppcCheckAccess="Create" (click)="addNew()" [icon]="'file-add'" type="button" title="{{ 'FiscalPeriod.New' | translate }}"></button>

      <button SppcCheckAccess="Edit" (click)="editHandler()" class="k-button k-button-icon" [disabled]="selectedRows.length != 1" title="{{ 'Buttons.Edit' | translate }}"><span class="k-icon k-i-pencil"></span></button>
      <button SppcCheckAccess="Delete" (click)="removeHandler()" class="k-button k-button-icon" [disabled]="selectedRows.length == 0" title="{{ 'Buttons.Delete' | translate }}"><span class="k-icon k-i-delete"></span></button>

      <grid-setting entityTypeName="FiscalPeriod"></grid-setting>
      <grid-filter *ngIf="this.grid.filterable" [parentComponent]="this" [showClearFilter]="this.grid.filter.filters.length"></grid-filter>
    </ng-template>
    <kendo-grid-checkbox-column showSelectAll="true" width="10"></kendo-grid-checkbox-column>
    <!-- template for mobile -->
    <kendo-grid-column media="(max-width: 449px)" title="">
      <ng-template kendoGridCellTemplate let-fiscalPeriod>
        <dl>
          <dt>{{ 'FiscalPeriod.Name' | translate }}:</dt>
          <dd>{{ fiscalPeriod.name }}</dd>

          <dt>{{ 'FiscalPeriod.StartDate' | translate }}:</dt>
          <dd>{{ fiscalPeriod.startDate | SppcDate }}</dd>

          <dt>{{ 'FiscalPeriod.EndDate' | translate }}:</dt>
          <dd>{{ fiscalPeriod.endDate | SppcDate }}</dd>

          <dt>{{ 'FiscalPeriod.Description' | translate  }}:</dt>
          <dd>{{ fiscalPeriod.description }}</dd>
        </dl>
        <button kendoButton (click)="rolesHandler(fiscalPeriod.id)" [primary]="true">{{ 'FiscalPeriod.Roles' | translate }}</button>
      </ng-template>
    </kendo-grid-column>
    <!-- template for mobile -->
    <!-- template for mid-size devices -->
    <kendo-grid-column width="150" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="FiscalPeriod.name">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column width="250" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="FiscalPeriod.startDate">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('startDate')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate let-fiscalPeriod>
        {{ fiscalPeriod.startDate | SppcDate }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column width="250" media="(min-width: 450px) and (max-width: 1024px)" sppc-grid-column="FiscalPeriod.endDate">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('endDate')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate let-fiscalPeriod>
        {{ fiscalPeriod.endDate | SppcDate }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 450px) and (max-width: 1024px)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton (click)="rolesHandler(dataItem.id)" [primary]="true">{{ 'FiscalPeriod.Roles' | translate }}</button>
      </ng-template>
    </kendo-grid-command-column>
    <!-- template for mid-size devices -->
    <!-- additional columns on large devices -->
    <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="FiscalPeriod.name">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="FiscalPeriod.startDate">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column" let-FiscalPeriod>
        <sppc-grid-filter [metaData]="getMeta('startDate')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate let-fiscalPeriod>
        {{ fiscalPeriod.startDate | SppcDate }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column media="(min-width: 1024px)" width="150" sppc-grid-column="FiscalPeriod.endDate">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column" let-FiscalPeriod>
        <sppc-grid-filter [metaData]="getMeta('endDate')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>
      <ng-template kendoGridCellTemplate let-fiscalPeriod>
        {{ fiscalPeriod.endDate | SppcDate }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column media="(min-width: 1024px)" width="200" sppc-grid-column="FiscalPeriod.description">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <sppc-grid-filter [metaData]="getMeta('description')" [column]="column" [filter]="filter"></sppc-grid-filter>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column [minWidth]="140" width="140" media="(min-width: 1024px)">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoButton (click)="rolesHandler(dataItem.id)" [primary]="true">{{ 'FiscalPeriod.Roles' | translate }}</button>
      </ng-template>
    </kendo-grid-command-column>
    <!-- additional columns on large devices -->

  </kendo-grid>
    <fiscalPeriod-form-component [model]="editDataItem" [isNew]="isNew" [errorMessage]="errorMessage"
                                    (save)="saveHandler($event)"
                                    (cancel)="cancelHandler()">
    </fiscalPeriod-form-component>

    <fiscalPeriod-roles-form-component [rolesList]="rolesList" [fiscalPeriodRoles]="fiscalPeriodRolesData" [errorMessage]="errorMessage"
                                (saveFiscalPeriodRoles)="saveFiscalPeriodRolesHandler($event)"
                                (cancelFiscalPeriodRoles)="cancelFiscalPeriodRolesHandler()">
    </fiscalPeriod-roles-form-component>
</div>
<kendo-dialog title="{{'FiscalPeriod.Delete' | translate}}" *ngIf="deleteConfirm" (close)="deleteModel(false)" [minWidth]="250" [width]="450">
    <p>
        {{ deleteConfirmMsg }}
    </p>
    <kendo-dialog-actions>
        <button class="k-button" (click)="deleteModel(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
        <button class="k-button" (click)="deleteModel(false)">{{ 'Buttons.No' | translate }}</button>
    </kendo-dialog-actions>
</kendo-dialog>





