
<div class="dialog-body acc-form">

  <div (keydown.esc)="escPress()">
    <kendo-tabstrip>

      <kendo-tabstrip-tab [title]="getText('Account.AccountInfoTabTitle')" [selected]="true">
        <ng-template kendoTabContent>

          <editor-form-title [parentModel]="parent" [entityType]="viewId"></editor-form-title>

          <div *ngIf="errorMessages">
            <div *ngFor="let err of errorMessages" class="alert alert-danger">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ err }}
            </div>
          </div>

          <form novalidate [formGroup]="accountForm">
            <div>
              <div class="row">
                <div class="col-xs-12 col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                  <div class="form-group">
                    <label for="name" class="control-label">{{ 'Account.Name' | translate }}</label>

                    <input sppcAutoFocus type="text" class="k-textbox" formControlName="name" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="accountForm.controls.name.valid || accountForm.controls.name.pristine">
                      <span *ngIf="accountForm.controls.name.errors?.required">{{ 'AllValidations.Account.NameIsRequired' | translate }}</span>
                      <span *ngIf="accountForm.controls.name.errors?.maxlength">{{ 'AllValidations.Account.NameIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="groupId" class="control-label">{{ 'Account.AccountGroup' | translate }}</label>

                    <kendo-dropdownlist class="ddl-acc" [disabled]="parent || model.groupId"
                                        [data]="accGroupList"
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [valuePrimitive]="true"
                                        [value]="accGroupSelected"
                                        [(ngModel)]="accGroupSelected"
                                        formControlName="groupId">
                    </kendo-dropdownlist>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                  <div class="form-group">
                    <label for="code" class="control-label">{{ 'Account.Code' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="code" [OnlyNumber] [SppcCodeLength]="level + 1" [ViewId]="viewId" [sppcFullCodeTest]="'fullCode'" [parentFullCode]="parentFullCode" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="accountForm.controls.code.valid || accountForm.controls.code.pristine">
                      <span *ngIf="accountForm.controls.code.errors?.required">{{ 'AllValidations.Account.CodeIsRequired' | translate }}</span>
                      <span *ngIf="accountForm.controls.code.errors?.maxlength">{{ 'AllValidations.Account.CodeIsTooLong' | translate }}</span>
                      <span *ngIf="accountForm.controls.code.errors?.sppcCodeLength">{{ 'MetaDataValidation.CodeLength' | translate }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="fullCode" class="control-label">{{ 'Account.FullCode' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="fullCode" readonly id="fullCode" style="direction:ltr" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                  <div class="form-group">
                    <label for="description" class="control-label">{{ 'Account.Description' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="description" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="accountForm.controls.description.valid || accountForm.controls.description.pristine">
                      {{ 'AllValidations.Account.DescriptionIsTooLong' | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                  <label class="control-label">{{ 'Account.AccountBranchName' | translate }}</label>

                  <input type="text" class="k-textbox" value="{{ branchName }}" [disabled]="true" />
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="branchScope" class="control-label">{{ 'Account.BranchScope' | translate }}</label>

                    <sppc-branch-scope formControlName="branchScope" [parentScope]="parentScopeValue" [isNew]="isNew"></sppc-branch-scope>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </ng-template>
      </kendo-tabstrip-tab>

      <kendo-tabstrip-tab [title]="getText('Account.OtherAccountInfoTabTitle')">
        <ng-template kendoTabContent>

          <editor-form-title [parentModel]="parent" [entityType]="viewId"></editor-form-title>

          <div *ngIf="errorMessages">
            <div *ngFor="let err of errorMessages" class="alert alert-danger">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ err }}
            </div>
          </div>

          <form novalidate [formGroup]="featuresForm">
            <div>
              <div class="row">
                <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                  <div class="form-group">
                    <label for="currencyId" class="control-label">{{ 'Account.DefaultCurrency' | translate }}</label>

                    <kendo-dropdownlist [data]="filteredCurrencies" class="ddl-acc"
                                        [valuePrimitive]="true"
                                        [filterable]="true"
                                        formControlName="currencyId"
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [value]="selectedCurrencyValue"
                                        [(ngModel)]="selectedCurrencyValue"
                                        (filterChange)="handleFilter($event)"
                                        [defaultItem]="{ value: '', key: null }">
                    </kendo-dropdownlist>

                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="turnoverMode" class="control-label">{{ 'Account.EntryLimitation' | translate }}</label>

                    <kendo-dropdownlist [data]="turnovermodes" class="ddl-acc"
                                        [valuePrimitive]="true"
                                        formControlName="turnoverMode"
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [value]="selectedTurnoverModeValue"
                                        [(ngModel)]="selectedTurnoverModeValue">
                    </kendo-dropdownlist>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6" [ngClass]="{'pull-right':this.CurrentLanguage === 'fa'}">
                  <div class="form-group">
                    <label for="isActive" class="control-label">{{ 'Account.IsActive' | translate }}</label>

                    <kendo-switch formControlName="isActive"
                                  [onLabel]="getText('Account.Active')"
                                  [offLabel]="getText('Account.Inactive')">
                    </kendo-switch>

                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="isCurrencyAdjustable" class="control-label">{{ 'Account.IsCurrencyAdjustable' | translate }}</label>

                    <kendo-switch formControlName="isCurrencyAdjustable"
                                  [onLabel]="getText('Account.Active')"
                                  [offLabel]="getText('Account.Inactive')">
                    </kendo-switch>

                  </div>
                </div>
              </div>
            </div>
          </form>

        </ng-template>
      </kendo-tabstrip-tab>

      <kendo-tabstrip-tab [title]="getText('Account.CustomerTaxTitle')" *ngIf="!isDisableCustomerTaxTab">
        <ng-template kendoTabContent>
          <form novalidate [formGroup]="customerTaxForm">
            <div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.PersonType' | translate }}</label>

                    <kendo-dropdownlist class="ddl-acc"
                                        [data]="personTypes"
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [valuePrimitive]="true"
                                        formControlName="personType"
                                        (valueChange)="onChangePersonType($event)">
                    </kendo-dropdownlist>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.BuyerType' | translate }}</label>

                    <kendo-dropdownlist class="ddl-acc"
                                        [data]="buyerTypes"                                        
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [valuePrimitive]="true"
                                        formControlName="buyerType">
                    </kendo-dropdownlist>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.CustomerFirstName' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="customerFirstName"
                           [readonly]="customerTaxForm.value.personType == '2'" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.customerFirstName.valid || customerTaxForm.controls.customerFirstName.pristine">
                      <span *ngIf="customerTaxForm.controls.customerFirstName.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.CustomerFirstNameIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">
                      <spna *ngIf="customerTaxForm.value.personType == '1'">{{ 'Account.CustomerTaxInfo.CustomerName' | translate }}</spna>
                      <span *ngIf="customerTaxForm.value.personType == '2'">{{ 'Account.CustomerTaxInfo.CustomerCompanyName' | translate }}</span>
                    </label>

                    <input type="text" class="k-textbox" formControlName="customerName" />
                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.customerName.valid || customerTaxForm.controls.customerName.pristine">

                      <span *ngIf="customerTaxForm.value.personType == '1'">
                        <span *ngIf="customerTaxForm.controls.customerName.errors?.required">{{ 'AllValidations.CustomerTaxInfo.CustomerNameIsRequired' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.customerName.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.CustomerNameIsTooLong' | translate }}</span>
                      </span>
                      <span *ngIf="customerTaxForm.value.personType == '2'">
                        <span *ngIf="customerTaxForm.controls.customerName.errors?.required">{{ 'AllValidations.CustomerTaxInfo.CustomerCompanyNameIsRequired' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.customerName.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.CustomerCompanyNameIsTooLong' | translate }}</span>
                      </span>

                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.EconomicCode' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="economicCode" [OnlyNumber]/>

                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.economicCode.valid || customerTaxForm.controls.economicCode.pristine">
                      <span *ngIf="customerTaxForm.controls.economicCode.errors?.required">{{ 'AllValidations.CustomerTaxInfo.EconomicCodeIsRequired' | translate }}</span>
                      <span *ngIf="customerTaxForm.controls.economicCode.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.EconomicCodeIsTooLong' | translate }}</span>
                      <span *ngIf="customerTaxForm.controls.economicCode.errors?.minlength">{{ 'AllValidations.CustomerTaxInfo.EconomicCodeMinCharacter' | translate }}</span>                      
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">
                      <spna *ngIf="customerTaxForm.value.personType == '1'">{{ 'Account.CustomerTaxInfo.NationalCode' | translate }}</spna>
                      <span *ngIf="customerTaxForm.value.personType == '2'">{{ 'Account.CustomerTaxInfo.NationalIndex' | translate }}</span>
                    </label>

                    <input type="text" class="k-textbox" formControlName="nationalCode" [OnlyNumber]/>

                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.nationalCode.valid || customerTaxForm.controls.nationalCode.pristine">

                      <span *ngIf="customerTaxForm.value.personType == '1'">
                        <span *ngIf="customerTaxForm.controls.nationalCode.errors?.required">{{ 'AllValidations.CustomerTaxInfo.NationalCodeIsRequired' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.nationalCode.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.NationalCodeIsTooLong' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.nationalCode.errors?.minlength">{{ 'AllValidations.CustomerTaxInfo.NationalCodeMinCharacter' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.nationalCode.errors?.validNationalCode">{{ 'AllValidations.CustomerTaxInfo.NationalCodeNotValid' | translate }}</span>
                      </span>

                      <span *ngIf="customerTaxForm.value.personType == '2'">
                        <span *ngIf="customerTaxForm.controls.nationalCode.errors?.required">{{ 'AllValidations.CustomerTaxInfo.NationalIndexIsRequired' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.nationalCode.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.NationalIndexIsTooLong' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.nationalCode.errors?.minlength">{{ 'AllValidations.CustomerTaxInfo.NationalIndexMinCharacter' | translate }}</span>
                      </span>


                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">

                    <div class="col-xs-5 sppc-float" style="padding:0">
                      <label class="control-label">{{ 'Account.CustomerTaxInfo.AreaCode' | translate }}</label>

                      <input type="text" class="k-textbox" formControlName="perCityCode" />

                      <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.perCityCode.valid || customerTaxForm.controls.perCityCode.pristine">
                        <span *ngIf="customerTaxForm.controls.perCityCode.errors?.required">{{ 'AllValidations.CustomerTaxInfo.PerCityCodeIsRequired' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.perCityCode.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.PerCityCodeIsTooLong' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.perCityCode.errors?.minlength">{{ 'AllValidations.CustomerTaxInfo.PerCityCodeIsSmall' | translate }}</span>
                      </div>

                    </div>
                    <div class="col-xs-7 sppc-float" style="padding-left:0">
                      <label class="control-label">{{ 'Account.CustomerTaxInfo.PhoneNo' | translate }}</label>

                      <input type="text" class="k-textbox" formControlName="phoneNo" />

                      <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.phoneNo.valid || customerTaxForm.controls.phoneNo.pristine">
                        <span *ngIf="customerTaxForm.controls.phoneNo.errors?.required">{{ 'AllValidations.CustomerTaxInfo.PhoneNoIsRequired' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.phoneNo.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.PhoneNoIsTooLong' | translate }}</span>
                        <span *ngIf="customerTaxForm.controls.phoneNo.errors?.pattern">{{ 'AllValidations.CustomerTaxInfo.PhoneNoPattern' | translate }}</span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.MobileNo' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="mobileNo" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.mobileNo.valid || customerTaxForm.controls.mobileNo.pristine">
                      <span *ngIf="customerTaxForm.controls.mobileNo.errors?.required">{{ 'AllValidations.CustomerTaxInfo.MobileNoIsRequired' | translate }}</span>
                      <span *ngIf="customerTaxForm.controls.mobileNo.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.MobileNoIsTooLong' | translate }}</span>
                      <span *ngIf="customerTaxForm.controls.mobileNo.errors?.pattern">{{ 'AllValidations.CustomerTaxInfo.PhoneNoPattern' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.ProvinceCode' | translate }}</label>

                    <kendo-dropdownlist class="ddl-acc"
                                        [data]="filteredProcinces"
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [filterable]="true"
                                        [valuePrimitive]="true"
                                        (valueChange)="onChangeProvince($event)"
                                        formControlName="provinceCode"
                                        (filterChange)="handleFilterProvince($event)">
                    </kendo-dropdownlist>
                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.provinceCode.valid || customerTaxForm.controls.provinceCode.pristine">
                      <span *ngIf="customerTaxForm.controls.provinceCode.errors?.required">{{ 'AllValidations.CustomerTaxInfo.ProvinceCodeIsRequired' | translate }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.CityCode' | translate }}</label>

                    <kendo-dropdownlist class="ddl-acc"
                                        [data]="filteredCities"
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [filterable]="true"
                                        [valuePrimitive]="true"
                                        formControlName="cityCode"
                                        (filterChange)="handleFilterCity($event)">
                    </kendo-dropdownlist>
                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.cityCode.valid || customerTaxForm.controls.cityCode.pristine">
                      <span *ngIf="customerTaxForm.controls.cityCode.errors?.required">{{ 'AllValidations.CustomerTaxInfo.CityCodeIsRequired' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.PostalCode' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="postalCode" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.postalCode.valid || customerTaxForm.controls.postalCode.pristine">
                      <span *ngIf="customerTaxForm.controls.postalCode.errors?.required">{{ 'AllValidations.CustomerTaxInfo.PostalCodeIsRequired' | translate }}</span>
                      <span *ngIf="customerTaxForm.controls.postalCode.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.PostalCodeIsTooLong' | translate }}</span>
                      <span *ngIf="customerTaxForm.controls.postalCode.errors?.pattern">{{ 'AllValidations.CustomerTaxInfo.PostalCodePattern' | translate }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.Address' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="address" />
                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.address.valid || customerTaxForm.controls.address.pristine">
                      <span *ngIf="customerTaxForm.controls.address.errors?.required">{{ 'AllValidations.CustomerTaxInfo.AddressIsRequired' | translate }}</span>
                      <span *ngIf="customerTaxForm.controls.address.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.AddressIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.CustomerTaxInfo.Description' | translate }}</label>
                    <textarea class="k-textbox"
                              formControlName="description">
                  </textarea>
                    <div class="k-tooltip k-tooltip-validation" [hidden]="customerTaxForm.controls.description.valid || customerTaxForm.controls.description.pristine">
                      <span *ngIf="customerTaxForm.controls.description.errors?.maxlength">{{ 'AllValidations.CustomerTaxInfo.DescriptionIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </kendo-tabstrip-tab>

      <kendo-tabstrip-tab [title]="getText('Account.AccountOwnerTitle')" *ngIf="!isDisableAccountOwnerTab">
        <ng-template kendoTabContent>
          <form novalidate [formGroup]="ownerForm">
            <div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.AccountType' | translate }}</label>

                    <kendo-dropdownlist class="ddl-acc"
                                        [data]="accountTypes"
                                        [textField]="'value'"
                                        [valueField]="'key'"
                                        [valuePrimitive]="true"
                                        formControlName="accountType">
                    </kendo-dropdownlist>

                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.BankName' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="bankName" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="ownerForm.controls.bankName.valid || ownerForm.controls.bankName.pristine">
                      <span *ngIf="ownerForm.controls.bankName.errors?.required">{{ 'AllValidations.AccountOwner.BankNameIsRequired' | translate }}</span>
                      <span *ngIf="ownerForm.controls.bankName.errors?.maxlength">{{ 'AllValidations.AccountOwner.BankNameIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.BankBranchName' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="bankBranchName" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="ownerForm.controls.bankBranchName.valid || ownerForm.controls.bankBranchName.pristine">
                      <span *ngIf="ownerForm.controls.bankBranchName.errors?.required">{{ 'AllValidations.AccountOwner.BankBranchNameIsRequired' | translate }}</span>
                      <span *ngIf="ownerForm.controls.bankBranchName.errors?.maxlength">{{ 'AllValidations.AccountOwner.BankBranchNameIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.BranchIndex' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="branchIndex" />
                    <div class="k-tooltip k-tooltip-validation" [hidden]="ownerForm.controls.branchIndex.valid || ownerForm.controls.branchIndex.pristine">
                      <span *ngIf="ownerForm.controls.branchIndex.errors?.required">{{ 'AllValidations.AccountOwner.BranchIndexIsRequired' | translate }}</span>
                      <span *ngIf="ownerForm.controls.branchIndex.errors?.maxlength">{{ 'AllValidations.AccountOwner.BranchIndexIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.AccountNumber' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="accountNumber" />

                    <div class="k-tooltip k-tooltip-validation" [hidden]="ownerForm.controls.accountNumber.valid || ownerForm.controls.accountNumber.pristine">
                      <span *ngIf="ownerForm.controls.accountNumber.errors?.required">{{ 'AllValidations.AccountOwner.AccountNumberIsRequired' | translate }}</span>
                      <span *ngIf="ownerForm.controls.accountNumber.errors?.maxlength">{{ 'AllValidations.AccountOwner.AccountNumberIsTooLong' | translate }}</span>
                      <span *ngIf="ownerForm.controls.accountNumber.errors?.pattern">{{ 'AllValidations.AccountOwner.AccountNumberPattern' | translate }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.CardNumber' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="cardNumber" />
                    <div class="k-tooltip k-tooltip-validation" [hidden]="ownerForm.controls.cardNumber.valid || ownerForm.controls.cardNumber.pristine">
                      <span *ngIf="ownerForm.controls.cardNumber.errors?.maxlength">{{ 'AllValidations.AccountOwner.CardNumberIsTooLong' | translate }}</span>
                      <span *ngIf="ownerForm.controls.cardNumber.errors?.pattern">{{ 'AllValidations.AccountOwner.CardNumberPattern' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-xs-12 col-sm-6 sppc-float">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.ShabaNumber' | translate }}</label>

                    <input type="text" class="k-textbox" formControlName="shabaNumber" />
                    <div class="k-tooltip k-tooltip-validation" [hidden]="ownerForm.controls.shabaNumber.valid || ownerForm.controls.shabaNumber.pristine">
                      <span *ngIf="ownerForm.controls.shabaNumber.errors?.maxlength">{{ 'AllValidations.AccountOwner.ShabaNumberIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" formArrayName="accountHolders">
                <div *ngFor="let item of accountHolders.controls; let i=index">
                  <div [formGroupName]="i">

                    <div class="col-xs-1 sppc-float" *ngIf="accountHolders.value.length > 1">

                      <button style="margin-top: 25px"
                              class="k-button k-button-icon"
                              type="button"
                              (click)="onRemoveAccountHolder(i)"
                              title="{{ 'Account.AccountOwner.RemoveAccountholder' | translate }}">
                        <span class="k-icon k-i-minus"></span>
                      </button>
                    </div>

                    <div class="sppc-float" [ngClass]="{'col-xs-11 col-sm-5':accountHolders.value.length > 1,'col-xs-12 col-sm-6':accountHolders.value.length == 1}">
                      <div class="form-group">

                        <label class="control-label">{{ 'Account.AccountOwner.FirstName' | translate }}</label>

                        <input type="text" class="k-textbox" formControlName="firstName" />

                        <div class="k-tooltip k-tooltip-validation" [hidden]="item.get('firstName').valid || item.get('firstName').pristine">
                          <span *ngIf="item.get('firstName').hasError('required')">{{ 'AllValidations.AccountHolder.FirstNameIsRequired' | translate }}</span>
                          <span *ngIf="item.get('firstName').hasError('maxlength')">{{ 'AllValidations.AccountHolder.FirstNameIsTooLong' | translate }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 sppc-float">
                      <div class="form-group">

                        <label class="control-label">{{ 'Account.AccountOwner.LastName' | translate }}</label>

                        <input type="text" class="k-textbox" formControlName="lastName" />

                        <div class="k-tooltip k-tooltip-validation" [hidden]="item.get('lastName').valid || item.get('lastName').pristine">
                          <span *ngIf="item.get('lastName').hasError('required')">{{ 'AllValidations.AccountHolder.LastNameIsRequired' | translate }}</span>
                          <span *ngIf="item.get('lastName').hasError('maxlength')">{{ 'AllValidations.AccountHolder.LastNameIsTooLong' | translate }}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-2 sppc-float">
                      <div class="form-group">
                        <label class="control-label">{{ 'Account.AccountOwner.HasSignature' | translate }}</label>

                        <kendo-switch formControlName="hasSignature"
                                      [onLabel]="getText('Account.AccountOwner.HasIt')"
                                      [offLabel]="getText('Account.AccountOwner.HaveNot')">
                        </kendo-switch>

                        <button *ngIf="accountHolders.value.length == (i+1)"
                                class="k-button k-button-icon"
                                type="button"
                                (click)="onAddAccountHolder()"
                                title="{{ 'Account.AccountOwner.AddAccountholder' | translate }}">
                          <span class="k-icon k-i-plus"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label class="control-label">{{ 'Account.AccountOwner.Description' | translate }}</label>
                    <textarea class="k-textbox"
                              formControlName="description">
                  </textarea>
                    <div class="k-tooltip k-tooltip-validation" [hidden]="ownerForm.controls.description.valid || ownerForm.controls.description.pristine">
                      <span *ngIf="ownerForm.controls.description.errors?.maxlength">{{ 'AllValidations.AccountOwner.DescriptionIsTooLong' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </ng-template>
      </kendo-tabstrip-tab>


    </kendo-tabstrip>
  </div>
  <kendo-dialog-actions>
    <button class="k-button k-primary prevent-duplicate" [disabled]="isDisabledForm()" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
    <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
  </kendo-dialog-actions>
</div>
