
<div class="col-xs-12 col-md-12 col-sm-12" dir="rtl">
    <div class="panel panel-primary">
        <div class="panel-heading">لیست حساب</div>
        <div class="panel-body">
            <kendo-grid #GridID [data]="rowData" [dir]="rtl" 
                        [pageSize]="pageSize"
                        [skip]="skip"                  
                        [filter]="state.filter"
                        [sortable]="true"
                        [pageable]="true"
                        [filterable]="true"
                        [scrollable]="'none'"
                        (pageChange)="pageChange($event)" 
                        (sortChange)="sortChange($event)"
                        (edit)="editHandler($event)"
                        (remove)="removeHandler($event)"
                        [sort]="sort"                    
                        [selectable]="true"
                        [selectedKeys]="selectedRows"
                        [kendoGridSelectBy]="selectionKey"
                        (dataStateChange)="dataStateChange($event)" >
                <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                                     pagerOf="{{ 'Paging.Of' | translate }}"
                                     pagerItems="{{ 'Paging.Record' | translate }}" >
                </kendo-grid-messages>
                <ng-template kendoGridNoRecordsTemplate>
                    {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
                </ng-template>
                
                <!-- template for mobile -->
                <kendo-grid-column media="(max-width: 450px)" title="">
                    <ng-template kendoGridCellTemplate let-account>
                        <!-- template for mobile -->
                        <h4>
                            {{ account.name }}
                        </h4>
                        <dl>
                            <dt>{{ 'Account.Code' | translate }}</dt>
                            <dd>{{ account.code }}</dd>                            
                            <dt>{{ 'Account.Fiscal' | translate }}</dt>
                            <dd>{{ account.fiscalPeriodId }}</dd>
                            <dt>{{ 'Account.Branch' | translate }}</dt>
                            <dd>{{ account.branch }}</dd>
                            <dt>{{ 'Account.Description' | translate }}</dt>
                            <dd>{{ account.description }}</dd>
                        </dl>
                        <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                        <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                    </ng-template>
                </kendo-grid-column>
                <!-- template for mid-size devices -->
                <kendo-grid-checkbox-column showSelectAll="true" width="10"  media="(min-width: 450px) and (max-width: 1024px)" ></kendo-grid-checkbox-column>
                <kendo-grid-column field="code" [sortable]="true" width="150" media="(min-width: 450px) and (max-width: 1024px)"  [filterable]="true" title="{{ 'Account.Code' | translate }}" ></kendo-grid-column>
                <kendo-grid-column field="name" [sortable]="true" width="250" media="(min-width: 450px) and (max-width: 1024px)" [filterable]="true" title="{{ 'Account.Name' | translate }}" ></kendo-grid-column>
                <kendo-grid-command-column media="(min-width: 450px) and (max-width: 1024px)" title="{{ 'Buttons.Edit' | translate }}">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>                        
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column media="(min-width: 450px) and (max-width: 1024px)" title="{{ 'Buttons.Delete' | translate }}  ">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>                
                <!-- template for mid-size devices -->

                <!-- additional columns on large devices -->
                <kendo-grid-checkbox-column showSelectAll="true" media="(min-width: 1024px)"></kendo-grid-checkbox-column>
                <kendo-grid-column field="code" [sortable]="true" media="(min-width: 1024px)" [filterable]="true"  title="{{ 'Account.Code' | translate }}" width="130" ></kendo-grid-column>
                <kendo-grid-column field="name" [sortable]="true" media="(min-width: 1024px)" [filterable]="true" title="{{ 'Account.Name' | translate }}" width="200" ></kendo-grid-column>
                <kendo-grid-column field="fiscalPeriodId" [filterable]="true" media="(min-width: 1024px)" title="{{ 'Account.Fiscal' | translate }}" [sortable]="false" ></kendo-grid-column>
                <kendo-grid-column field="description" [filterable]="false" media="(min-width: 1024px)" title="{{ 'Account.Description' | translate }}" [sortable]="false" ></kendo-grid-column>                             
                <kendo-grid-command-column media="(min-width: 1024px)" title="{{ 'Buttons.Edit' | translate }}">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column media="(min-width: 1024px)" title="{{ 'Buttons.Delete' | translate }}  ">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>                
            </kendo-grid>
            <account-form-component [model]="editDataItem" [isNew]="isNew"
          (save)="saveHandler($event)"
          (cancel)="cancelHandler()" >
            </account-form-component>
        </div>
        <kendo-dialog title="{{'Account.Delete' | translate}}" *ngIf="deleteConfirm" (close)="deleteAccount(false)" [minWidth]="250" [width]="450">
            <p>
                {{ deleteConfirmMsg }}
            </p>
            <kendo-dialog-actions>                
                <button class="k-button" (click)="deleteAccount(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
                <button class="k-button" (click)="deleteAccount(false)">{{ 'Buttons.No' | translate }}</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>    
</div>
