<div  dir="rtl">
    <div class="panel panel-primary">
        <div class="panel-heading">لیست حساب</div>
        <div class="panel-body">
            <kendo-grid [data]="rowData" [dir]="rtl" class='tgrid'
                        [pageSize]="pageSize"
                        [skip]="skip"                  
                        [filter]="state.filter"
                        [sortable]="true"
                        [pageable]="true"
                        [filterable]="true"
                        [scrollable]="'none'"
                        (pageChange)="pageChange($event)" 
                        (edit)="editHandler($event)"
                        (dataStateChange)="dataStateChange($event)" >
                <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                                     pagerOf="{{ 'Paging.Of' | translate }}"
                                     pagerItems="{{ 'Paging.Record' | translate }}" >
                </kendo-grid-messages>
                <kendo-grid-column field="code" [filterable]="true"  title="{{ 'Account.Code' | translate }}" width="130" ></kendo-grid-column>
                <kendo-grid-column field="name" [filterable]="true" title="{{ 'Account.Name' | translate }}" width="200" ></kendo-grid-column>
                <kendo-grid-column field="fiscalPeriodId" [filterable]="true" title="{{ 'Account.Fiscal' | translate }}" [sortable]="false" ></kendo-grid-column>
                <kendo-grid-column field="description" [filterable]="false" title="{{ 'Account.Description' | translate }}" [sortable]="false" ></kendo-grid-column>                             
                <kendo-grid-command-column title="" >
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                        <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid>
            <account-form-component [model]="editDataItem" [isNew]="isNew"
          (save)="saveHandler($event)"
          (cancel)="cancelHandler()" >
            </account-form-component>
        </div>
    </div>    
</div>
