<div class="dialog-body">
  <div class="col-md-12 col-xs-12 col-sm-12 password-field">
    <label for="specialPassword" class="control-label">{{ 'Voucher.Password' | translate }}</label>
    <input
      type="text"
      class="k-textbox"
      name="specialPassword"
      [(ngModel)]="value"
      (ngModelChange)="onPasswordChange($event)"
      autocomplete="new-password"
      required
      sppcAutoFocus
    />
  </div>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onOk()" primary="true" [disabled]="showErrorMessage">{{ 'Buttons.Ok' | translate }}</button>
    <button class="k-button" (click)="onCancel()">{{ 'Buttons.Cancel' | translate }}</button>
  </kendo-dialog-actions>
</div>

