<div class="dialog-body">
  <div class="form-group">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <label for="specialPassword" class="control-label">{{ 'Voucher.Password' | translate }}</label>
      <input type="password" class="k-textbox" name="specialPassword" style="width:80%" [(ngModel)]="value" (ngModelChange)="onPasswordChange($event)" required />
    </div>
  </div>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onOk()" primary="true" [disabled]="showErrorMessage">{{ 'Buttons.Ok' | translate }}</button>
    <button class="k-button" (click)="onCancel()">{{ 'Buttons.Cancel' | translate }}</button>
  </kendo-dialog-actions>
</div>

