<app-bread-cumb
  entityTypeName="{{
    subjectMode === 1 ? 'DraftVoucherEditor' : 'VoucherEditor'
  }}"
  *ngIf="isShowBreadcrumb"
></app-bread-cumb>
<view-identifier [ViewID]="viewId">
  <report-param ParamName="no" [ParamValue]="currentVoucherNo"></report-param>
</view-identifier>
<report-viewer id="compviewer"></report-viewer>
<report-management [ViewIdentity]="viewIdentity"></report-management>

<div class="panel-body" style="padding-top: 0">
  <div *ngIf="errorMessages">
    <div *ngFor="let err of errorMessages" class="alert alert-danger">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{ err }}
    </div>
  </div>

  <div>
    <form novalidate [formGroup]="editForm" (keydown.enter)="onSave($event)">
      <div class="row">
        <div class="col-xs-12 sppc-float" style="margin-top: 5px">
          <fieldset disabled class="disabled" style="display: inline-block;">
            <button
                class="k-button sh-new-voucher"
                title="{{ 'Voucher.NewVoucher' | translate }}"
                SppcPermissionCheck="Create"
                [EntityName]="entityNamePermission"
            >
                <span class="k-icon k-i-file-add"></span>
            </button>

            <button
                SppcPermissionCheck="Delete"
                [EntityName]="entityNamePermission"
                class="k-button sh-remove-voucher"
                title="{{ 'Voucher.Delete' | translate }}"
            >
                <span class="k-icon k-i-delete"></span>
            </button>

            <button
                class="k-button"
                title="{{ 'Voucher.SearchVoucher' | translate }}"
            >
                <span class="k-icon k-i-search"></span>
            </button>

            <button
                class="k-button not-change"
                title="{{ 'Voucher.FirstVoucher' | translate }}"
                [attr.disabled]="isFirstVoucher ? true : null"
                SppcPermissionCheck="Navigate"
                [EntityName]="entityNamePermission"
            >
                <span class="k-icon k-i-arrow-end-right"></span>
            </button>

            <button
                class="k-button not-change"
                [attr.disabled]="isFirstVoucher ? true : null"
                title="{{ 'Voucher.PreviousVoucher' | translate }}"
                SppcPermissionCheck="Navigate"
                [EntityName]="entityNamePermission"
            >
                <span class="k-icon k-i-arrow-double-60-right"></span>
            </button>

            <button
                class="k-button not-change"
                [attr.disabled]="isLastVoucher ? true : null"
                title="{{ 'Voucher.NextVoucher' | translate }}"
                SppcPermissionCheck="Navigate"
                [EntityName]="entityNamePermission"
            >
                <span class="k-icon k-i-arrow-double-60-left"></span>
            </button>

            <button
                class="k-button not-change"
                title="{{ 'Voucher.LastVoucher' | translate }}"
                [attr.disabled]="isLastVoucher ? true : null"
                SppcPermissionCheck="Navigate"
                [EntityName]="entityNamePermission"
            >
                <span class="k-icon k-i-arrow-end-left"></span>
            </button>

            <button
                class="k-button"
                [disabled]="editForm.status == 'INVALID'"
                SppcPermissionCheck="Edit"
                [EntityName]="entityNamePermission"
                title="{{ 'Voucher.Save' | translate }}"
            >
                <span class="k-icon k-i-save"></span>
            </button>

            <button
                class="k-button sh-check-voucher"
                SppcPermissionCheck="Check"
                [EntityName]="entityNamePermission"
                [hidden]="!voucherModel || voucherModel.statusId > 1"
                title="{{ 'Voucher.Commit' | translate }}"
            >
                <span class="k-icon k-i-check-outline"></span>
            </button>

            <button
                class="k-button sh-uncheck-voucher"
                SppcPermissionCheck="UndoCheck"
                [EntityName]="entityNamePermission"
                [hidden]="!voucherModel || voucherModel.statusId < 2"
                title="{{ 'Voucher.ReturnFromCommit' | translate }}"
            >
                <span class="k-icon k-i-close-outline"></span>
            </button>
          </fieldset>
          <button
            kendoButton
            SppcPermissionCheck="Print"
            [EntityName]="entityNamePermission"
            (sppcClick)="showReport()"
            class="hidden-xs rm print sh-print"
            style="padding: 4px 7px !important;"
            type="button"
            title="{{ 'Report.Print' | translate }}"
            [icon]="'printer'"
          ></button>

          <button
            class="k-button k-button-icon sppc-float-diff"
            title="{{ 'Buttons.Help' | translate }}"
          >
            <span class="k-icon k-i-help"></span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="voucher-form-content">
            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="no" class="control-label">{{
                  "Voucher.No" | translate
                }}</label>

                <input
                  type="text"
                  class="k-textbox"
                  formControlName="no"
                  [OnlyNumber]
                  [attr.disabled]="
                    isVoucherConfirmed || !hasEditAccess ? 'disabled' : null
                  "
                  readonly
                />

                <div
                  class="k-tooltip k-tooltip-validation"
                  [hidden]="
                    editForm.controls.no.valid || editForm.controls.no.pristine
                  "
                >
                  <span *ngIf="editForm.controls.no.errors?.required">{{
                    "AllValidations.Voucher.NoIsRequired" | translate
                  }}</span>
                  <span *ngIf="editForm.controls.no.errors?.maxlength">{{
                    "AllValidations.Voucher.NoIsTooLong" | translate
                  }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="reference" class="control-label">{{
                  "Voucher.Reference" | translate
                }}</label>

                <input
                  type="text"
                  class="k-textbox"
                  formControlName="reference"
                  [attr.disabled]="
                    isVoucherConfirmed || !hasEditAccess ? 'disabled' : null
                  "
                  readonly
                />

                <div
                  class="k-tooltip k-tooltip-validation"
                  [hidden]="
                    editForm.controls.reference.valid ||
                    editForm.controls.reference.pristine
                  "
                >
                  <span *ngIf="editForm.controls.reference.errors?.maxlength">{{
                    "AllValidations.Voucher.ReferenceIsTooLong" | translate
                  }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="dailyNo" class="control-label">{{
                  "Voucher.DailyNo" | translate
                }}</label>

                <input
                  type="text"
                  formControlName="dailyNo"
                  class="k-textbox"
                  [attr.disabled]="
                    !hasEditAccess ||
                    isVoucherConfirmed ||
                    (voucherModel && voucherModel.saveCount) === 0
                      ? 'disabled'
                      : null
                  "
                  readonly
                />

                <div
                  class="k-tooltip k-tooltip-validation"
                  [hidden]="
                    editForm.controls.dailyNo.valid ||
                    editForm.controls.dailyNo.pristine
                  "
                >
                  <span *ngIf="editForm.controls.dailyNo.errors?.required">{{
                    "AllValidations.Voucher.DailyNoIsRequired" | translate
                  }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="association" class="control-label">{{
                  "Voucher.Association" | translate
                }}</label>

                <input
                  type="text"
                  class="k-textbox"
                  formControlName="association"
                  [attr.disabled]="
                    isVoucherConfirmed || !hasEditAccess ? 'disabled' : null
                  "
                  readonly
                />

                <div
                  class="k-tooltip k-tooltip-validation"
                  [hidden]="
                    editForm.controls.association.valid ||
                    editForm.controls.association.pristine
                  "
                >
                  <span
                    *ngIf="editForm.controls.association.errors?.maxlength"
                    >{{
                      "AllValidations.Voucher.AssociationIsTooLong" | translate
                    }}</span
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="date" class="control-label">{{
                  "Voucher.Date" | translate
                }}</label>

                <sppc-datepicker
                  [isReadOnly]="true"
                  formControlName="date"
                  [minDate]="FiscalPeriodStartDate"
                  [maxDate]="FiscalPeriodEndDate"
                  [displayType]="voucherDateType"
                ></sppc-datepicker>
              </div>
            </div>

            <div class="col-sm-4-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="description" class="control-label">{{
                  "Voucher.Description" | translate
                }}</label>

                <input
                  type="text"
                  class="k-textbox"
                  formControlName="description"
                  [attr.disabled]="
                    isVoucherConfirmed || !hasEditAccess ? 'disabled' : null
                  "
                />

                <div
                  class="k-tooltip k-tooltip-validation"
                  [hidden]="
                    editForm.controls.description.valid ||
                    editForm.controls.description.pristine
                  "
                >
                  {{
                    "AllValidations.Voucher.DescriptionIsTooLong" | translate
                  }}
                </div>
              </div>
            </div>

            <div class="col-sm-5ths col-xs-12 sppc-float">
              <div class="form-group">
                <label for="type" class="control-label">{{
                  "Voucher.Type" | translate
                }}</label>

                <input
                  *ngIf="subjectMode === 0"
                  type="text"
                  class="k-textbox"
                  value="{{ 'Voucher.NormalVoucher' | translate }}"
                  readonly
                  />
                  <!--  -->
                <input
                  *ngIf="subjectMode === 1"
                  type="text"
                  class="k-textbox"
                  value="{{ 'Voucher.DraftVoucher' | translate }}"
                  readonly
                />
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </form>

    <div class="row" *ngIf="voucherModel">
      <div class="col-xs-12">
        <div class="voucher-form-content">
          <voucherLine
            [subjectMode]="subjectMode"
            [voucherInfo]="voucherItem"
            [voucherID]="voucherModel.id"
            [documentStatus]="voucherModel.statusId"
            [saveCount]="voucherModel.saveCount"
            [disableOperations]="true"
          >
          </voucherLine>
        </div>
      </div>
    </div>
  </div>
</div>
