<div [ngClass]="{'panel panel-primary' : !isChild }">
    <div *ngIf="!isChild" class="panel-heading">{{ 'Entity.Company' | translate }}</div>
    <div [ngClass]="{'panel-body' : !isChild }">
        <kendo-grid [ngClass]="{'tRtl':this.currentlang === 'fa' , 'tLtr': this.currentlang === 'en'}" #GridID [data]="rowData"
                    [sortable]="true"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [filter]="state.filter"
                    [pageable]="true"
                    [resizable]="true"
                    [filterable]="true"
                    [scrollable]="'none'"
                    (pageChange)="pageChange($event)"
                    (sortChange)="sortChange($event)"
                    (edit)="editHandler($event)"
                    (remove)="removeHandler($event)"
                    [sort]="state.sort"
                    [selectable]="true"
                    [selectedKeys]="selectedRows"
                    [kendoGridSelectBy]="selectionKey"
                    (dataStateChange)="dataStateChange($event)"
                    (selectedKeysChange)="onSelectedKeysChange($event)">
            <kendo-grid-messages pagerPage="{{ 'Paging.Record' | translate }}"
                                 pagerOf="{{ 'Paging.Of' | translate }}"
                                 pagerItems="{{ 'Paging.Record' | translate }}">
            </kendo-grid-messages>
            <ng-template kendoGridNoRecordsTemplate>
                {{viewAccess ? (showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)) : ('App.NotViewAccess' | translate)}}
            </ng-template>
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand *ngIf="insertAccess" (click)="addNew()" type="button">{{ 'Company.New' | translate }}</button>
                <button *ngIf="groupDelete && deleteAccess" class="k-button" (click)="deleteCompanies()" type="button">{{ 'Buttons.GroupDelete' | translate }}</button>
            </ng-template>

            <!-- template for mobile -->
            <kendo-grid-column media="(max-width: 449px)" title="">
                <ng-template kendoGridCellTemplate let-company>
                    <!-- template for mobile -->
                    <dl>
                        <dt>{{ 'Company.Name' | translate }}</dt>
                        <dd>{{ company.name }}</dd>

                        <dt>{{ 'Company.Description' | translate  }}</dt>
                        <dd>{{ company.description }}</dd>
                    </dl>
                    <button kendoGridAddCommand *ngIf="insertAccess" (click)="addNew(company.id)" type="button">{{ 'Buttons.New' | translate }}</button>
                    <button kendoGridEditCommand *ngIf="editAccess" class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                    <button kendoGridRemoveCommand *ngIf="deleteAccess">{{ 'Buttons.Delete' | translate }}</button>
                </ng-template>
            </kendo-grid-column>
            <!-- template for mobile -->
            <!-- additional columns on large devices -->
            <kendo-grid-checkbox-column showSelectAll="true" width="10" media="(min-width: 450px)"></kendo-grid-checkbox-column>

            <ng-template kendoGridDetailTemplate let-dataItem
                         [kendoGridDetailTemplateShowIf]="showOnlyParent">
                <div ng-if="dataItem.childCount > 0">
                    <company [isChild]="true" [parent]="dataItem"></company>
                </div>
            </ng-template>

            <kendo-grid-column media="(min-width: 450px)" width="150" sppc-grid-column="Company.name">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('name')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column media="(min-width: 450px)" width="190" sppc-grid-column="Company.description">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                    <sppc-grid-filter [metaData]="getMeta('description')" [column]="column" [filter]="filter"></sppc-grid-filter>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-command-column *ngIf="insertAccess" width="75" media="(min-width: 450px)" title="{{ 'Buttons.New' | translate }}">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button kendoGridAddCommand (click)="addNew(dataItem.id)" type="button">{{ 'Buttons.New' | translate }}</button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-command-column *ngIf="editAccess" media="(min-width: 450px)" width="70" title="{{ 'Buttons.Edit' | translate }}">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand class="k-primary">{{ 'Buttons.Edit' | translate }}</button>
                </ng-template>
            </kendo-grid-command-column>
            <kendo-grid-command-column *ngIf="deleteAccess" media="(min-width: 450px)" width="70" title="{{ 'Buttons.Delete' | translate }}  ">
                <ng-template kendoGridCellTemplate>
                    <button kendoGridRemoveCommand>{{ 'Buttons.Delete' | translate }}</button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- additional columns on large devices -->

        </kendo-grid>
        <company-form-component [model]="editDataItem" [isNew]="isNew" [errorMessage]="errorMessage"
                                      (save)="saveHandler($event)"
                                      (cancel)="cancelHandler()">
        </company-form-component>
    </div>
    <kendo-dialog title="{{'Company.Delete' | translate}}" *ngIf="deleteConfirm" (close)="deleteCompany(false)" [minWidth]="250" [width]="450">
        <p>
            {{ deleteConfirmMsg }}
        </p>
        <kendo-dialog-actions>
            <button class="k-button" (click)="deleteCompany(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
            <button class="k-button" (click)="deleteCompany(false)">{{ 'Buttons.No' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
    <kendo-dialog title="{{'Company.Delete' | translate}}" *ngIf="deleteCompaniesConfirm" (close)="deleteCompanies(false)" [minWidth]="250" [width]="450">
        <p>
            {{ this.deleteConfirmMsg }}
        </p>
        <kendo-dialog-actions>
            <button class="k-button" (click)="deleteCompanies(true)" primary="true">{{ 'Buttons.Yes' | translate }}</button>
            <button class="k-button" (click)="deleteCompanies(false)">{{ 'Buttons.No' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>




