
<div style="padding:15px;" class="sppc-dialog-xs main-box" (keydown.esc)="escPress()">

    <div *ngIf="errorMessages">
      <div *ngFor="let err of errorMessages" class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ err }}
      </div>
    </div>
  
    <div class="canToAddDiv">
      <h5>{{ "CashRegisters.UsersCanBeAssigned" | translate }}</h5>
      <kendo-grid [data]="usersCanBeAssign"
        [height]="400"
        [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
        [(selectedKeys)]="selectedCanBeAssignRows"
        (selectedKeysChange)="onSelectedCanBeAssignKeysChange($event)"
        [kendoGridSelectBy]="selectionKey"
      >
        <ng-template kendoGridNoRecordsTemplate>
          {{showloadingMessage  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
        </ng-template>
    
        <kendo-grid-checkbox-column showSelectAll="true" width="50">
          <ng-template kendoGridHeaderTemplate>
            <input type="checkbox"
             class="k-checkbox"
             (change)="onSelectAll('assign',$event)"
            />
          </ng-template>
        </kendo-grid-checkbox-column>
    
        <kendo-grid-column sppc-grid-column="Role.Name">
        </kendo-grid-column>
    
      </kendo-grid>
    </div>
    <div class="addedDiv">
      <h5>{{ "CashRegisters.UsersAssigned" | translate }}</h5>
      <kendo-grid #resultGrid
        id="resultGrid"
        [data]="assignedUsers"
        [height]="400"
        [selectable]="{ checkboxOnly: true, mode: 'multiple' }"
        [(selectedKeys)]="selectedResultRows"
        (selectedKeysChange)="onSelectedAssignedKeysChange($event)"
        [kendoGridSelectBy]="selectionKey"
      >
        <ng-template kendoGridNoRecordsTemplate>
          {{showloadingMessage2  ? ('App.Loading' | translate) : ('App.RecordNotFound' | translate)}}
        </ng-template>
    
        <kendo-grid-checkbox-column showSelectAll="true" width="50">
          <ng-template kendoGridHeaderTemplate>
            <input type="checkbox"
             class="k-checkbox"
             (change)="onSelectAll('assigned',$event)"
             [checked]="true"
            />
          </ng-template>
          <ng-template kendoGridCellTemplate let-idx="rowIndex" let-dataItem>
            <input type="checkbox"
             class="k-checkbox"
             (change)="onSelectedAssignedKeysChange([dataItem.id,idx])"
             checked
            />
          </ng-template>
        </kendo-grid-checkbox-column>
    
        <kendo-grid-column sppc-grid-column="Role.Name">
        </kendo-grid-column>
    
      </kendo-grid>
    </div>
  </div>
  
  <kendo-dialog-actions>
    <button class="k-button k-primary prevent-duplicate" (click)="onSave($event)">{{ 'Buttons.Ok' | translate }}</button>
    <button class="k-button" (click)="onCancel($event)">{{ 'Buttons.Cancel' | translate }}</button>
  </kendo-dialog-actions>  